sl-tab-group {
	--indicator-color: var(--Orange700Color);
}

sl-tab[active]::part(base) {
	/* Appearance */
	color: var(--Orange700Color);
}

sl-tab:hover::part(base) {
	/* Appearance */
	color: var(--Orange700Color);
}
