slot {
	display: flex;

	/* Layout */
	gap: var(--gap);
	inline-size: min(100%, 1--articlesize * 1--articlecount + 1--gap * (1--articlecount - 1));

	/* Interface */
	overflow: auto hidden;

	/* Behavior */
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;

	&::-webkit-scrollbar, &::-webkit-scrollbar {
		/* Layout */
		block-size: 0;

		/* Layout */
		inline-size: 0;
	}
}

/* Reset button styles */

button {
	/* Layout */
	margin: 0;
	padding: 0;

	/* Text */
	font: inherit;
	line-height: inherit;
	text-align: inherit;

	/* Appearance */
	appearance: none;
	background-color: transparent;
	border-width: 0;

	/* Appearance */
	color: inherit;
	cursor: inherit;
}

button {
	/* Layout */
	margin: 1--step;
	padding: 3--step;

	/* Appearance */
	color: var(--InteractiveColor);

	@media (width < 460px) {
		/* Layout */
		margin: 2--rpx;
		padding: 2--rpx;
	}

	&:focus,
	&:hover {
		/* Appearance */
		border-radius: 3--rpx;

		/* Appearance */
		color: var(--InteractiveHoverColor);
	}

	&:focus-visible {
		/* Appearance */
		outline: 1--rpx solid var(--FocusLight);
	}

	&:disabled {
		/* Appearance */
		opacity: .3;
	}

	&.prev {
		/* Layout */
		order: -1;
	}
}

svg {
	/* Layout */
	block-size: 8--step;
	inline-size: 8--step;

	/* Apperance */
	fill: currentColor;
}
