---
import './page-aside.css'
---
<nav class="p-quicklinks-navigation" aria-label="Quick Links">
	<ul>
		<li>
			<a class="-figma" href="https://www.figma.com/@astrouxds" target="_blank" rel="noopener">Figma</a>
		</li>
		<li>
			<a class="-storybook" href="https://astro-components.netlify.app/" target="_blank" rel="noopener">Storybook</a>
		</li>
		<li>
			<a class="-github" href="https://github.com/RocketCommunicationsInc/astro" target="_blank" rel="noopener">GitHub</a>
		</li>
	</ul>
</nav>
<hr />
<script>
import './page-aside.client.js'
</script>