:root {
	/* Icon References */

	--FigmaLinkIcon:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">\
		<path fill="%2351555B" d="M6.26 20a5 5 0 0 1-1.09-.36 3.33 3.33 0 0 1 1.15-6.3A3.43 3.43 0 0 1 3.35 10c0-1.35.95-2.98 2.9-3.33a3.4 3.4 0 0 1-2.93-3.03A3.35 3.35 0 0 1 6.64 0h6.71c1.82 0 3.3 1.5 3.3 3.31 0 1.65-1.1 3-2.72 3.32a.91.91 0 0 0-.18.05 3.36 3.36 0 0 1 2.92 3.73 3.3 3.3 0 0 1-3.03 2.91 3.38 3.38 0 0 1-3.59-2.76v6.06a3.32 3.32 0 0 1-2.76 3.34c-.06 0-.11.02-.17.04h-.86Zm3.79-10.55a3.44 3.44 0 0 1 2.8-2.75H10.2c-.14 0-.15.08-.15.19v2.57Z" />\
	</svg>');
	--GitHubLinkIcon:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 21">\
			<path fill="%2351555B" d="M0 10.2a9.92 9.92 0 0 1 3.61-6.9 9.74 9.74 0 0 1 4.44-2.1c1.03-.2 2.06-.24 3.1-.12a9.78 9.78 0 0 1 6.26 3.22 10.13 10.13 0 0 1 2.13 9.77 9.96 9.96 0 0 1-2.12 3.67 9.78 9.78 0 0 1-4.15 2.75c-.5.17-.83-.05-.83-.58V17.2c0-.62-.13-1.2-.57-1.67-.15-.16.06-.14.12-.15.38-.04.75-.1 1.11-.2a4.26 4.26 0 0 0 2.42-1.55c.4-.57.61-1.23.72-1.92a5.2 5.2 0 0 0-.1-2.5 3.45 3.45 0 0 0-.7-1.21c-.1-.12-.12-.22-.07-.37a3.4 3.4 0 0 0-.12-2.33c-.03-.1-.1-.12-.2-.13-.22-.01-.43.02-.64.1-.62.2-1.2.48-1.73.84a.44.44 0 0 1-.4.07 8.35 8.35 0 0 0-2.26-.3c-.76 0-1.53.08-2.27.28a.56.56 0 0 1-.5-.08c-.61-.4-1.27-.7-1.97-.88l-.08-.02c-.4-.06-.44-.04-.56.34a3.34 3.34 0 0 0-.02 2.16c.04.1.03.19-.05.27a4 4 0 0 0-.9 3.18c.06.63.18 1.23.42 1.81a3.6 3.6 0 0 0 2.1 2 6.1 6.1 0 0 0 1.73.43c.08.01.18 0 .21.07.04.08-.06.13-.11.2a2.1 2.1 0 0 0-.43.98c-.02.09-.04.17-.13.2-.62.27-1.62.4-2.24-.13-.22-.2-.4-.4-.55-.65-.3-.5-.7-.85-1.25-1.04a1.04 1.04 0 0 0-.57-.04c-.18.05-.2.1-.1.26.06.1.15.2.26.25.55.32.87.83 1.1 1.4.21.54.55.94 1.08 1.16.3.12.6.16.92.18.41.03.83.04 1.24-.05.15-.03.19.03.19.16v1.7c0 .4-.36.63-.76.49a10.16 10.16 0 0 1-6.75-8.45L0 11.91V10.2Z" />\
		</svg>');
	--StorybookLinkIcon:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">\
			<path fill="%2351555B" d="M17.67 10.08v7.99c0 1.17-.27 1.44-1.41 1.43-3-.03-5.98-.2-8.97-.38-1.07-.07-2.14.01-3.21-.13-.86-.12-1.15-.4-1.2-1.3-.06-.96-.05-1.92-.11-2.88-.11-1.92-.12-3.84-.18-5.76-.08-2.1-.19-4.2-.25-6.3-.04-1.07.2-1.34 1.29-1.43 1.96-.15 3.92-.26 5.88-.39 1.13-.08 2.27-.15 3.4-.24.77-.05.86.02.84.8l-.02.4c-.02.3-.23.7.01.89.27.21.49-.19.73-.32.21-.12.37-.06.55.07.13.1.26.31.45.2.21-.13.12-.37.11-.56-.01-.38-.05-.76-.07-1.14-.01-.32.15-.47.48-.5 1.25-.14 1.68.22 1.68 1.5v8.05Zm-7.43 5.77c1.07.05 2.1-.15 2.94-.87 1.6-1.36 1.4-3.83-.43-5.23-.53-.4-1.13-.71-1.72-1.03-.5-.26-1-.51-1.36-.96a1.01 1.01 0 0 1-.1-1.2c.19-.32.51-.42.87-.38.46.05.71.33.82.76.02.11.07.22.07.33 0 .45.3.6.66.6.55-.01 1.1-.09 1.66-.17.28-.04.36-.27.37-.55a3.19 3.19 0 0 0-1.98-3.06 5.3 5.3 0 0 0-2.38-.28c-1.86.15-3 1.2-3.2 3.02-.15 1.33.45 2.35 1.51 3.08.72.5 1.49.92 2.23 1.37a2 2 0 0 1 .95 1.1c.2.66-.25 1.23-.95 1.17-.58-.06-.85-.4-.9-.98-.04-.33.02-.75-.47-.86a4.42 4.42 0 0 0-2-.04c-.23.06-.39.15-.45.42a3.26 3.26 0 0 0 1.4 3.2 4.4 4.4 0 0 0 2.46.55Z" />\
		</svg>');
}

/* Page Aside */
/* ========================================================================== */

.p-aside {
	& ul {
		display: flex;

		/* Layout */
		flex-flow: column;
		gap: 6--step;
	}

	& a {
		display: block;

		/* Layout */
		padding-block: 2--rpx;
		padding-inline: 6--step;

		/* Text */
		font-size: 14--rpx;
		line-height: calc(20 / 14);

		/* Appearance */
		color: var(--Grey700Color);

		&.current {
			/* Text */
			font-weight: 700;

			/* Appearance */
			color: var(--DarkBlue500Color);
		}
	}
}

/* Quick Links Navigation */
/* ========================================================================== */

.p-quicklinks-navigation {
	& a {
		display: flex;

		/* Layout */
		align-items: center;
		gap: 2--step;

		&::before {
			content: var(--icon);
			display: inline-block;

			/* Layout */
			height: 5--step;
			width: 5--step;
		}

		&.-figma {
			--icon: var(--FigmaLinkIcon);
		}

		&.-github {
			--icon: var(--GitHubLinkIcon);
		}

		&.-storybook {
			--icon: var(--StorybookLinkIcon);
		}
	}
}

/* In-Page Navigation */
/* ========================================================================== */

.p-inpage-navigation {
	/* Appearance */
	background:
		linear-gradient(90deg, transparent 1px, var(--InverseColor) 1px, var(--InverseColor) 2px, transparent 2px),
		linear-gradient(90deg, var(--DarkBlue500Color), var(--DarkBlue500Color));
	background-size: auto, 3px var(--height, 24px);
	background-position: 0 0, 0 var(--offset, 0);
	background-repeat: repeat-y, no-repeat;
	transition: background-position 120ms, background-size 120ms;
}
