---
import './search-categories.css'
import scriptURL from './search-categories.js?url'
---
<div class="p-category-select">
	<label for="icon-categories">Jump to Category</label>
	<select name="icon-categories">
		<option value="content" style="font-size:10px">Jump to Category</option>
	</select><script defer src={scriptURL} />
</div>