.p-category-select {
	/* Layout */
	display: inline-flex;

	/* Layout */
	align-items: center;

	/* Layout */
	margin-inline-end: 4--step;

	/* Layout */
	position: relative;

	/* Layout */
	width: fit-content;

	/* Text */
	font-family: var(--SystemType);
	font-size: 9--step;

	& select {
		/* Layout */
		max-width: 100--step;
		padding-block: .75rem;

		/* Layout */
		width: 50--step;

		/* Text */
		font-size: 24--rpx;

		/* Arrow */
		appearance: none;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3EKeyboard Arrow Down%3C/title%3E%3Cpath d='M8.12 9.29 12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0Z'%3E%3C/path%3E%3C/svg%3E");
		background-position: right .7rem top 50%;
		background-repeat: no-repeat;
		background-size: 24--rpx auto;
		border: unset;

		@media (width < 800px) {
			/* Layout */
			width: 40--step;

			/* Text */
			font-size: 16--rpx;
		}
	}

	& label {
		display: none;
	}

	@media (width < 800px) {
		/* Text */
		font-size: 4--step;
	}
}
