<button part="close-button" data-action="close" aria-label="Close">
	<svg role="none" part="close-icon" viewBox="0 0 24 24">
		<path d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7A1 1 0 1 0 5.7 7.11L10.59 12 5.7 16.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.89a1 1 0 1 0 1.41-1.41L13.41 12l4.89-4.89a1 1 0 0 0 0-1.4Z" />
	</svg>
</button>
<h2 part="label"> </h2>
<svg part="icon"></svg>
<div part="button-group">
	<button part="button" data-action="copy" value="svg" aria-label="Copy SVG to clipboard">
		<span part="button-text">Copy SVG</span>
		<svg part="button-icon" role="none"><use href="#file-copy" /></svg>
	</button>
	<button part="button" data-action="copy" value="id" aria-label="Copy Icon ID to clipboard">
		<span part="button-text">Copy Icon ID</span>
		<svg part="button-icon" role="none"><use href="#file-copy" /></svg>
	</button>
	<button part="button" data-action="copy" value="html" aria-label="Copy Web Component to clipboard">
		<span part="button-text">Copy Web Component</span>
		<svg part="button-icon" role="none"><use href="#file-copy" /></svg>
	</button>
</div>
<button part="button download-button" data-action="download" value="svg" aria-label="Download SVG">
	<svg part="button-icon download-button-icon" role="none"><use href="#get-app" /></svg>
	<span part="button-text download-button-text">SVG</span>
</button>
<svg hidden>
	<symbol id="file-copy" viewBox="0 0 20 20">
		<path fill-rule="evenodd" d="M12.5.83H3.33c-.91 0-1.66.75-1.66 1.67v10.83c0 .46.37.84.83.84.46 0 .83-.38.83-.84v-10c0-.46.38-.83.84-.83h8.33c.46 0 .83-.38.83-.83a.84.84 0 0 0-.83-.84Zm.5 3.83 4.02 4.02c.3.31.48.74.48 1.18v7.64c0 .92-.75 1.67-1.67 1.67H6.66c-.92 0-1.66-.75-1.66-1.67V5.83c0-.91.75-1.66 1.67-1.66h5.14c.44 0 .86.17 1.18.49ZM16.24 10H12.5a.84.84 0 0 1-.83-.83V5.42L16.25 10Z"/>
	</symbol>
	<symbol id="get-app" viewBox="0 0 24 24">
		<path d="M15 9h1.59a1 1 0 0 1 .7 1.71L12.7 15.3a1 1 0 0 1-1.41 0L6.7 10.71A1 1 0 0 1 7.41 9H9V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5ZM6 20a1 1 0 0 1-1-1 1 1 0 0 1 1-1h12a1 1 0 0 1 1 1 1 1 0 0 1-1 1H6Z"/>
	</symbol>
</svg>