<h2 part="label"> </h2>
<svg part="icon"></svg>
<div part="button-group">
	<button part="button" data-copy="svg">
		<span part="button-text">Copy SVG</span>
		<svg part="button-icon"><use href="#file-copy" /></svg>
	</button>
	<button part="button" data-copy="id">
		<span part="button-text">Copy Icon ID</span>
		<svg part="button-icon"><use href="#file-copy" /></svg>
	</button>
	<button part="button" data-copy="wc">
		<span part="button-text">Copy WebComponent</span>
		<svg part="button-icon"><use href="#file-copy" /></svg>
	</button>
</div>
<svg hidden>
	<symbol id="file-copy" viewBox="0 0 20 20">
		<path fill-rule="evenodd" d="M12.5.83H3.33c-.91 0-1.66.75-1.66 1.67v10.83c0 .46.37.84.83.84.46 0 .83-.38.83-.84v-10c0-.46.38-.83.84-.83h8.33c.46 0 .83-.38.83-.83a.84.84 0 0 0-.83-.84Zm.5 3.83 4.02 4.02c.3.31.48.74.48 1.18v7.64c0 .92-.75 1.67-1.67 1.67H6.66c-.92 0-1.66-.75-1.66-1.67V5.83c0-.91.75-1.66 1.67-1.66h5.14c.44 0 .86.17 1.18.49ZM16.24 10H12.5a.84.84 0 0 1-.83-.83V5.42L16.25 10Z"/>
	</symbol>
</svg>