---
import ThemeToggle from './ComponentPlayground.Toggle.astro'
---
<div class="c-main">
	<div class="c-heading">
		<ThemeToggle />
	</div>

	<div class="c-content">
		<slot />
	</div>
</div>
<style is:global>
.c-main {
	display: grid;

	/* Layout */
	grid-template-rows: 44--rpx auto;
	overflow: hidden;
	padding-bottom: 1px;

	/* Appearance */
	box-shadow: var(--EdgeColor) 0 -1px 0 0;
}

.c-heading {
	display: flex;

	/* Layout */
	flex-flow: row;
	padding-block: 10--rpx;
	padding-inline: 12--rpx;
	align-items: center;
	gap: 3--step;

	/* Text */
	font-size: 18--rpx;
	line-height: calc(24 / 18);

	/* Appearance */
	background-color: var(--BackColor);
	color: var(--FillColor);
	cursor: default;
	user-select: none;

	/* Reference */
	--BackColor: var(--Grey200Color);
	--FillColor: var(--Grey800Color);
}

.c-content {
	display: flex;

	/* Layout */
	align-items: center;
	justify-content: center;
	padding: 1rem;

	/* Appearance */
	background-color: var(--BackColor);
	border-end-start-radius: var(--EdgeRadius);
	box-shadow: var(--EdgeColor) -1px 0 0 0 inset;

	/* Animation */
	transition: background-color 80ms, color 80ms;

	/* Reference */
	--EdgeColor: var(--Grey200Color);

	@nest :root.dark-theme & {
		/* Reference */
		background-color: var(--BrightBlue900Color);
		color: var(--Neutral000Color);
	}

	@nest :root.light-theme & {
		/* Reference */
		background-color: var(--Neutral000Color);
		color: var(--Grey900Color);
	}
}
</style>