---
export interface Props {
	sandbox: any
}

const headingText = 'Interactive Example'

const attrs = Astro.props
---
{
	attrs.sandbox
		? (
			<Fragment>
				<a href="#interactive-example" class="h h2">
					<h2 id="interactive-example">
						{headingText}
					</h2>
				</a>
				<iframe class="c-sandbox" src="sandbox/" style={attrs.sandbox.style} />
			</Fragment>
		)
	: null
}
<style is:global>
:root .c-sandbox {
	/* Layout */
	inline-size: stretch;
	max-inline-size: 100%;
}

.c-sandbox {
	height: min(var(--max-height) + 2px, var(--y));

	@media (width <= 700px) {
		/* Reference */
		--max-height: calc(Infinity * 1px);
	}

	@media (width > 700px) {
		/* Reference */
		--max-height: 400px;
	}
}
</style>