---
import './ComponentPlayground.Root.css'

import Panelset from './ComponentPlayground.Panelset.astro'
import Panel from './ComponentPlayground.Panel.astro'
import Main from './ComponentPlayground.Main.astro'
---
<html class="dark-theme" lang="en-US">
	<head>
		<title>Playground</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body class="app">
		<section class="sandbox-area">
			<Main class="dark-theme">
				<slot />
			</Main>
		</section>

		<section class="control-area"><Panelset>{
			Astro.slots.has('variants')
				? <Panel label="Variants"><slot name="variants" /></Panel>
			: null
		}{
			Astro.slots.has('controls')
				? <Panel label="Properties"><slot name="controls" /></Panel>
			: null
		}</Panelset></section>
	</body>
</html>
<script>
import './ComponentPlayground.Root.ts'
</script>