---
import './ComponentPlayground.Root.css'

import Panelset from './ComponentPlayground.Panelset.astro'
import Panel from './ComponentPlayground.Panel.astro'
import Main from './ComponentPlayground.Main.astro'

const content = {
	examples: await Astro.slots.render('variants'),
	fields: await Astro.slots.render('fields'),
}
---
<html class="dark-theme" lang="en-US">
	<head>
		<title>Playground</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body class="app">
		<section class="sandbox-area">
			<Main class="dark-theme">
				<slot />
			</Main>
		</section>

		<section class="control-area"><Panelset>{
			content.examples !== ''
				? <Panel label="Variants" set:html={content.examples} />
			: null
		}{
			content.fields !== ''
				? <Panel label="Properties" set:html={content.fields} />
			: null
		}</Panelset></section>
	</body>
</html>
<script>
import './ComponentPlayground.Root.ts'
</script>