---
import { For } from '@astropub/flow'

export interface Props {
	file: string
}

interface MarkdownImport {
	file: string
	url: string
	frontmatter: Record<string, string>
	compiledContent: string
	rawContent: string
}

const targetDir = Astro.props.file.replace(/[^/]+$/, '')

const configImportsArray: MarkdownImport[][] = await Astro.glob('project:pages/components/**/_config.ts').then(
	imports => imports.map(({ default: module }) => module)
)

const filteredMdImports = configImportsArray.find(
	(configImports) => configImports.some(
		configImport => configImport.file.startsWith(targetDir)
	)
)!
---
<For of={filteredMdImports}>{
	md => {
		// this lays out the navigation links at the top of the component page if they exist
		const name = md.frontmatter.subtitle
		const isCurrent = md.url === Astro.url.pathname
		const ariaCurrentAttr = isCurrent ? 'page' : null
		const hrefAttr = md.url

		return (
			<a href={hrefAttr} aria-current={ariaCurrentAttr}>{name}</a>
		)
	}
}</For>