/* Community */

.p-community {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--step;
	inline-size: 100%;

	& .p-community-heading {
		/* Layout */
		grid-area: heading;
	}

	& .p-community-events {
		/* Layout */
		grid-area: col-1of2;
	}

	& .p-community-links {
		/* Layout */
		grid-area: col-2of2;
	}
}

/* Community: Heading */

.p-community-heading {
	/* Text */
	font-size: 34--rpx;
	font-weight: 700;
	line-height: calc(40 / 34);
}

/* Community: Content */

.p-community-content {
	/* Layout */
	padding-block: 5--step 7--step;
	padding-inline: 5--step;

	/* Appearance */
	background: var(--SurfaceColor);
	border-radius: 6--rpx;

	/* Appearance */
	color: var(--PrimaryColor);

	@media (width >= 1200px) {
		display: flex;

		/* Layout */
		gap: 8--step;
	}

	@media (width >= 1520px) {
		/* Layout */
		gap: 11--step;
	}
}

.p-community h4 {
	/* Text */
	font-size: 24--rpx;
	font-weight: 600;
	line-height: calc(28 / 24);
}

/* Community: Content: Events */

.p-community-events {
	display: flex;

	/* Layout */
	flex-flow: column;
	flex-grow: 1;
	gap: 4--step;
}

.p-community-events-content {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 3--step;
	max-inline-size: 220--step;
}

.p-community-event {
	display: grid;

	/* Layout */
	padding-block: 3--step;
	position: relative;

	/* Appearance */
	background: var(--SurfaceSelectedColor);
	border-radius: var(--EdgeRadius);
	box-shadow: 0 0 0 1px inset var(--Grey700Color);

	/* Appearance */
	color: var(--PrimaryColor);

	&:is(:hover, :focus-visible) {
		/* Appearance */
		background: var(--InteractiveMutedColor);
		cursor: pointer;
	}

	&.--closed {
		/* Layout */
		gap: 0 10--step;
	}

	&.--open {
		/* Layout */
		padding-block-end: 0--step;

		/* Animation */
		transition: gap 150ms;
	}

	@media (width < 1000px) {
		/* Layout */
		align-items: center;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, auto);

		&.--closed {
			/* Layout */
			gap: 0 2--step;
		}

		&.--open .p-community-event-subheading {
			/* Layout */
			display: block;
		}
	}

	@media (width >= 1000px) {
		/* Layout */
		align-items: center;
		gap: 0 10--step;

		/* Layout */
		grid-template-columns: minmax(28--step, min-content) 1fr minmax(28--step, min-content);
		grid-template-rows: auto auto;
	}
}

.p-community-event-heading {
	/* Layout */
	padding-inline-start: 5--step;

	/* Text */
	font-size: 20--rpx;
	font-weight: 500;
	line-height: 24--rpx;
}

.p-community-event-subheading a, .p-community-event-details a {
	/* Appearance */
	color: var(--Orange600Color);
}

.p-community-event-date {
	display: inline-block;

	/* Layout */
	min-inline-size: 45--step;

	/* Text */
	font-size: 14--rpx;
	font-weight: 500;
	line-height: 22--rpx;

	& .-time {
		/* Appearance */
		color: var(--SecondaryColor);
	}

	@media (width < 1000px) {
		/* Layout */
		grid-area: 1 / 1 / 2 / 5;
	}
}

.p-community-event-heading {
	/* Layout */
	grid-area: 1/1/2/5;
}

.p-community-event-info {
	display: flex;

	/* Layout */
	grid-area: 2/1/3/5;
	margin-inline-start: 5--step;

	& .-second-col {
		display: inline-flex;

		/* Layout */
		flex-grow: 1;
	}

	@media (width < 1000px) {
		display: initial;

		/* Layout */
		margin-block-end: 2--step;
	}
}

.p-community-event-subheading {

	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;

	/* Layout */
	overflow: hidden;

	/* Text */
	font-size: 14--rpx;
	line-height: calc(20 / 14);

	/* Appearance */
	color: var(--SecondaryColor);

	@nest .p-community-event.--open & {
		display: block;
	}
}

.p-community-event-actions {
	display: flex;

	/* Layout */
	align-self: stretch;
	grid-area: 1 / 5 / 3 / 6;
	padding-inline-end: 5--step;

	& button {
		display: flex;

		/* Layout */
		align-items: start;
		align-self: stretch;
		inline-size: 100%;
		justify-content: end;
		padding-block: 2.5--step;

		/* Text */
		text-align: end;
		white-space: nowrap;

		/* Appearance */
		color: var(--Orange600Color);
		cursor: pointer;

		&:is(:active) {
			/* Appearance */
			translate: 0 1px;
		}
	}
}

.p-community-event-details {
	/* Layout */
	grid-area: 3 / 1 / 4 / 6;
	overflow: hidden;
	padding-inline: 5--step;

	/* Appearance */
	cursor: initial;

	/* Animation */
	transition: padding 150ms;

	@nest .p-community-event.--open & {
		/* Layout */
		padding-block-end: 3--step;
		padding-block-start: 5--step;

		/* Appearance */
		opacity: 1;

		/* Animation */
		animation: slideDown 150ms ease-out;
		transition: visibility 0s linear 0s, opacity 300ms;
	}

	@nest .p-community-event.--closed & {
		/* Layout */
		block-size: 0;
		visibility: hidden;

		/* Appearance */
		opacity: 0;

		/* Animation */
		animation: slideUp 150ms ease-out;
	}
}

/* Community: Content: Links */

.p-community-links {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--step;
	margin-block-start: 10--step;

	@media (width >= 1200px) {
		/* Layout */
		flex-basis: calc(100% / 8 * 3);
		margin-block-start: 0;
	}
}

.p-community-links-content {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 5--step;
}

.p-community-link {
	--gap: 4--step;
	--image-size: 20--step;
	--padding-inline: 4--step;

	/* Layout */
	padding-block: 4--step;
	padding-inline: var(--padding-inline);

	/* Layout */
	position: relative;

	/* Appearance */
	background: var(--SurfaceSelectedColor);
	border-radius: var(--EdgeRadius);
	box-shadow: 0 0 0 1px inset var(--Grey700Color);

	/* Appearance */
	color: var(--PrimaryColor);

	&:is(:hover, :focus-visible) {
		/* Appearance */
		background: var(--InteractiveMutedColor);
	}

	@media (width >= 1024px) and (width < 1200px) {
		display: flex;

		/* Layout */
		align-items: center;
		flex-flow: column;
	}

	@media (width >= 1200px) {
		display: grid;

		/* Layout */
		column-gap: var(--gap);
		grid-auto-flow: row dense;
		grid-template-columns: var(--image-size) 1fr;

		--image-size: 10--step;
	}

	@media (width >= 1520px) {
		--gap: 9--step;
		--image-size: 20--step;
		--padding-inline: 8--step;
	}
}

.p-community-link-image {
	grid-row-start: span 2;

	/* Layout */
	block-size: var(--image-size);
	inline-size: var(--image-size);
}

.p-community-link-heading {
	/* Text */
	font-size: 20--rpx;
	line-height: calc(24 / 20);

	@media (hover: hover) {
		& a::before {
			/* Layout */
			inset: 0;
			position: absolute;
			z-index: 1;

			/* Generated */
			content: "";
		}
	}

	@media (width >= 1024px) and (width < 1200px) {
		/* Layout */
		margin-block-start: 5--step;
	}
}

.p-community-link-content {
	/* Layout */
	margin-block: 2--step 0;

	/* Text */
	font-size: 14--rpx;
	line-height: calc(20 / 14);

	&::after {
		/* Layout */
		margin-inline-start: 2--step;
		padding: 2--step;

		/* Appearance */
		background: url(/images/arrow.svg) center center no-repeat;

		/* Generated */
		content: "";
	}
}

/* Animations */

@keyframes slideDown {
	from {
		/* Layout */
		block-size: 0;
	}

	to {
		/* Layout */
		block-size: var(--content-height, 0);
	}
}

@keyframes slideUp {
	from {
		/* Layout */
		block-size: var(--content-height, 0);
	}

	to {
		/* Layout */
		block-size: 0;
	}
}
