---
import type community from 'project:data/home-community.json'
import { For } from '@astropub/flow'

const { data } = Astro.props as typeof community['data']['events']

---
<section class="p-community-events">
	<h4>Upcoming Events</h4>
	<div class="p-community-events-content"></div>
</section>
<script src="./newevents.js"></script>