---

---
<section class="p-community-events">
	<h4>Upcoming Events</h4>
	<div class="p-community-events-content"><h1 style="margin: 2rem; text-align: center; font-size: 2rem;">New Events Coming Soon!</h1></div>
</section>
<script src="./newevents.js"></script>