/* Community */

.p-community {
	display: flex;

	/* Layout */
	flex-flow: column;
	inline-size: 100%;

	& .p-community-heading {
		/* Layout */
		grid-area: heading;
	}

	& .p-community-events {
		/* Layout */
		grid-area: col-1of2;
	}

	& .p-community-links {
		/* Layout */
		grid-area: col-2of2;
	}
}

/* Community: Heading */

.p-community-heading {
	/* Text */
	font-size: 34--rpx;
	font-weight: 700;
	line-height: calc(40 / 34);
}

/* Community: Content */

.p-community-content {
	/* Layout */
	margin-block-start: 5--step;
	padding-block: 5--step 7--step;
	padding-inline: 5--step;

	/* Appearance */
	background: var(--SurfaceColor);
	border-radius: 6--rpx;

	/* Appearance */
	color: var(--PrimaryColor);

	@media (width >= 1200px) {
		display: flex;

		/* Layout */
		gap: 8--step;
	}

	@media (width >= 1520px) {
		/* Layout */
		gap: 11--step;
	}
}

.p-community h4 {
	/* Text */
	font-size: 24--rpx;
	font-weight: 600;
	line-height: calc(28 / 24);

	& + * {
		/* Layout */
		margin-block-start: 4--step;
	}
}

/* Community: Content: Events */

.p-community-events {
	/* Layout */
	flex-grow: 1;
}

.p-community-events-content {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 3--step;
	max-width: 220--step;
}

.p-community-event {
	/* Layout */
	padding-block: 3--step;
	padding-inline: 5--step;

	/* Appearance */
	background: var(--SurfaceSelectedColor);
	border-radius: 3--rpx;
	box-shadow: 0 0 0 1px inset var(--Grey700Color);

	/* Appearance */
	color: var(--PrimaryColor);

	&:is(:hover, :focus-visible) {
		background: var(--InteractiveMutedColor);
	}

	@media (width >= 1200px) {
		display: grid;

		/* Layout */
		align-items: center;
		gap: 5--step 10--step;
		grid-template-columns: minmax(28--step, min-content) 1fr minmax(28--step, min-content);
		grid-template-rows: auto auto;
	}
}

.p-community-event-date, .p-community-event-heading {
	/* Text */
	font-size: 20--rpx;
	font-weight: 500;
	line-height: 24--rpx;
}

.p-community-event-date {
	& .-time {
		display: block;

		/* Text */
		font-size: 14--rpx;
		line-height: calc(20 / 14);

		/* Appearance */
		color: var(--SecondaryColor);
	}
}

.p-community-event-heading {
	/* Layout */
	flex-grow: 1;

	& small {
		/* Layout */
		/* stylelint-disable-next-line value-no-vendor-prefix */
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;

		/* Text */
		font-size: 14--rpx;
		line-height: calc(20 / 14);

		/* Appearance */
		color: var(--SecondaryColor);
	}

	@media (width < 1200px) {
		/* Layout */
		margin-block-start: 4--step;
	}
}

.p-community-event-actions a {
	display: block;

	/* Layout */
	align-self: center;

	/* Text */
	text-align: end;
	white-space: nowrap;
	color: var(--Orange600Color);

	/* Appearance */

	&:is(:active) {
		/* Appearance */
		translate: 0 1px;
	}

	&::after {
		content: "";
		background: url(/images/arrow.svg) center center no-repeat;
		padding: 2--step;
		margin-inline-start: 2--step;
	}

	@media (hover: hover) {
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 1;
		}
	}

	@media (width < 1200px) {
		/* Layout */
		margin-block-start: 4--step;
	}
}

.p-community-event-details {
	/* Layout */
	grid-area: 2 / 1 / 2 / 3;
	overflow: hidden;

	&.--open {
		/* Animation */
		animation: slideDown 150ms ease-out;
	}

	&.--closed {
		/* Layout */
		height: 0;

		/* Animation */
		animation: slideUp 150ms ease-out;
	}
}

/* Community: Content: Links */

.p-community-links {
	/* Layout */
	margin-block-start: 10--step;

	@media (width >= 1200px) {
		/* Layout */
		flex-basis: calc(100% / 8 * 3);
		margin-block-start: 0;
	}
}

.p-community-links-content {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 5--step;
}

.p-community-link {
	--gap: 4--step;
	--image-size: 20--step;
	--padding-inline: 4--step;

	/* Layout */
	position: relative;
	padding-block: 4--step;
	padding-inline: var(--padding-inline);

	/* Appearance */
	background: var(--SurfaceSelectedColor);
	border-radius: 3--rpx;
	box-shadow: 0 0 0 1px inset var(--Grey700Color);

	/* Appearance */
	color: var(--PrimaryColor);

	&:is(:hover, :focus-visible) {
		background: var(--InteractiveMutedColor);
	}

	@media (width >= 800px) and (width < 1200px) {
		display: flex;

		/* Layout */
		align-items: center;
		flex-flow: column;
	}

	@media (width >= 1200px) {
		display: grid;

		/* Layout */
		column-gap: var(--gap);
		grid-auto-flow: row dense;
		grid-template-columns: var(--image-size) 1fr;

		--image-size: 10--step;
	}

	@media (width >= 1520px) {
		--gap: 9--step;
		--image-size: 20--step;
		--padding-inline: 8--step;
	}
}

.p-community-link-image {
	grid-row-start: span 2;

	/* Layout */
	block-size: var(--image-size);
	inline-size: var(--image-size);
}

.p-community-link-heading {
	/* Text */
	font-size: 20--rpx;
	line-height: calc(24 / 20);

	@media (hover: hover) {
		& a::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 1;
		}
	}

	@media (width >= 800px) and (width < 1200px) {
		/* Layout */
		margin-block-start: 5--step;
	}
}

.p-community-link-content {
	/* Layout */
	margin-block: 2--step 0;

	/* Text */
	font-size: 14--rpx;
	line-height: calc(20 / 14);

	&::after {
		content: "";
		background: url(/images/arrow.svg) center center no-repeat;
		padding: 2--step;
		margin-inline-start: 2--step;
	}
}

/* Modal */

.events-modal {
	visibility: hidden;

	&([open]) {
		visibility: visible;
	}
}

/* Animations */

@keyframes slideDown {
	from {
		height: 0;
	}

	to {
		height: var(--content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--content-height);
	}

	to {
		height: 0;
	}
}
