---

---
<section class="p-community-events">
	<h4>Upcoming Events</h4>
	<div class="p-community-events-content">
		<article class="p-community-event">
			<small class="p-community-event-date">
				<span class="-date">Every Other Monday</span>
				<span class="-time">11AM PST</span>
			</small>
			<hgroup class="p-community-event-heading">
				<h5>Astro UX Working Group</h5>
				<small class="p-community-event-subheading">Request an invite by email: support@astrouxds.com</small>
			</hgroup>
			<span class="p-community-event-actions"></span>

			<span class="p-community-event-details">
				<p>
					The thing to do is <a href="mailto:support@astrouxds.com">Request Invite</a>
				</p>
			</span>
		</article>

		<article class="p-community-event">
			<small class="p-community-event-date">
				<span class="-date">Wednesdays</span>
				<span class="-time">7:30 AM PST</span>
			</small>
			<hgroup class="p-community-event-heading">
				<h5>Astro Office Hours</h5>
				<small class="p-community-event-subheading">Email the organizer for more information</small>
			</hgroup>
			<span class="p-community-event-actions"></span>
			<span class="p-community-event-details">
				<p>
					The thing to do is <a href="mailto:dnutter@rocketcom.com">Email Daniel</a>.
				</p>
			</span>
		</article>

		<a href="https://calendar.google.com/calendar/u/0?cid=Y19jMDBiY2FkNTBmN2FkMGFjZDI0YzMzNWRkZjY1ZTE2ZWZkNzUzOGMwZGQ1N2JlMzA3YjQwYzE2NzdmZWIyNjM3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20" class="p-signup-form-submit" target="_blank">View Full Calendar</a>
	</div>
</section>
<script>
import './newevents.js'
</script>