---
import './astro-product-access.css'
---

<div class="p-astro-product-access">
		<!-- <small class="p-astro-product-access-success" /> -->
		<small class="p-astro-product-access-error" />
	<p>
		Click the button below to start your download. A product download link has
		also been sent to the email provided during checkout.
	</p>

	<button disabled type="button" id="product-download-button" class="p-button p-astro-product-access-button"
		>
		<div class="loading-container loading">Verifying</div></button
	>

	<div>
		<p><strong>File Size:&nbsp;</strong>XX MB</p>

		<p>For any issues, please contact us at support@astouxds.com.</p>
	</div>
</div>

<script>
	import './astro-product-access.js'
</script>