---
import { Field, Root, Sandbox } from 'project:components/component-playground/ComponentPlayground'
---
<Root>
	<Sandbox is:tag="rux-classification-marking" is:constructor="RuxClassificationMarking">
		<rux-classification-marking classification="top-secret" />
	</Sandbox>
	<Fragment slot="controls">
		<Field type="menu" name="classification">
			<option>unclassified</option>
			<option>controlled</option>
			<option>cui</option>
			<option>confidential</option>
			<option>secret</option>
			<option selected>top-secret</option>
			<option>top-secret-sci</option>
		</Field>
		<Field type="text" name="label" value="" />
		<Field type="toggle" name="tag" />
	</Fragment>
</Root>