---
import { Field, Root, Sandbox } from 'project:components/component-playground/ComponentPlayground'
---
<Root>
	<Sandbox is:tag="rux-container" is:constructor="RuxContainer">
		<rux-container>
			Containers are used to group multiple components into a specific area that allows them to flow in a flexible/responsive manner.
		</rux-container>
	</Sandbox>
	<Fragment slot="variants">
		<Field type="menu" name="example:variant" implicitlabel>
			<option>Default</option>
		</Field>
	</Fragment>
</Root>