@keyframes ElementDisplay {
	from, to {
		/* Layout */
		visibility: hidden;
	}
}

:where(:not(:defined)) {
	display: contents;

	/* Animation */
	animation: .2s ElementDisplay;
}

:where(:defined) {
	/* Animation */
	animation-name: none;
}
