:where(html) {
	/* Layout */
	block-size: calc(100 * var(--vph));
	inline-size: calc(100 * var(--vpw));

	/* Text */
	font-family: "Helvetica", var(--SystemType);

	/* Appearance */
	background-color: var(--BaseColor);
	color: var(--PrimaryColor);

	/* Behavior */
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
	touch-action: manipulation;

	/* Scroll Reference */
	--sbh: calc(1vh - 1%);
	--vph: calc(1vh - var(--sbh));
	--sbw: calc(1vw - 1%);
	--vpw: calc(1vw - var(--sbw));
}

:where(body) {
	/* Layout */
	margin: 0;
}

:where(.p-grid) {
	/* Layout */
	block-size: calc(100 * var(--vph));

	@media (width >= 1024px) {
		display: grid;

		/* Layout */
		grid-template: auto min-content / min-content auto;
		grid-template-areas: "menu main" "foot foot";
	}

	& .x-menu {
		/* Layout */
		grid-area: menu;

		/* Appearance */
		background: var(--SurfaceColor);
		color: var(--PrimaryColor);

		@media (width < 1024px) {
			/* Layout */
			inset-block-start: 0;
			position: sticky;
			z-index: 1;
		}
	}

	& .x-main {
		/* Layout */
		grid-area: main;
	}

	& .x-foot {
		/* Layout */
		grid-area: foot;
	}
}
