/* Unset several default user agent styles */

:where(a) {
	/* Text */
	text-decoration: none;

	/* Appearance */
	color: inherit;
}

:where(blockquote) {
	/* Layout */
	margin: 0;
}

:where(button) {
	/* Layout */
	margin: 0;
	padding: 0;

	/* Text */
	font: inherit;
	line-height: inherit;
	text-align: inherit;

	/* Appearance */
	appearance: none;
	background-color: transparent;
	color: inherit;
	border-width: 0;
}

:where(dl, ol, ul) {
	list-style-type: none;

	/* Layout */
	margin-block: 0;
	padding-inline: 0;
}

:where(dd) {
	/* Layout */
	margin-inline-start: 0;
}

:where(fieldset) {
	/* Layout */
	margin: 0;
	padding: 0;

	/* Appearance */
	border: 0 solid;
}

:where(figure) {
	/* Layout */
	margin: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
	/* Layout */
	margin-block: 0;

	/* Text */
	font-size: inherit;
	font-weight: inherit;
}

:where(hr) {
	border-style: none;

	/* Layout */
	margin-block: 0;
}

:where(iframe) {
	border-style: none;
}

:where(input) {
	/* Layout */
	margin: 0;
	padding: 0;

	/* Text */
	font: inherit;

	/* Appearance */
	appearance: none;
	background-color: transparent;
	color: inherit;
	border-width: 0;

	&::-webkit-search-cancel-button {
		display: none;
	}
}

:where(legend) {
	/* Layout */
	padding-inline: 0;
}

:where(p) {
	/* Layout */
	margin-block: 0;
}

:where(code, pre) {
	/* Text */
	font-family: inherit;
}

:where(pre) {
	/* Layout */
	margin-block: 0;

	/* Text */
	font-family: inherit;
}
