:root {
	--step: .25rem;
	--rpx: .0625rem;
}

:root {
	/* Reference Colors */

	--BrightBlue200Color: hsl(205 88% 90%);
	--BrightBlue400Color: hsl(209 100% 79%);
	--BrightBlue500Color: hsl(208 100% 65%);
	--BrightBlue600Color: hsl(209 61% 52%);
	--BrightBlue700Color: hsl(209 57% 39%);
	--BrightBlue850Color: hsl(211 45% 14%);
	--BrightBlue900Color: hsl(212 37% 10%);
	--DarkBlue400Color: hsl(203 56% 42%);
	--DarkBlue500Color: hsl(202 100% 28%);
	--DarkBlue600Color: hsl(202 100% 22%);
	--DarkBlue700Color: hsl(208 54% 24%);
	--DarkBlue800Color: hsl(209 39% 17%);
	--DarkBlue850Color: hsl(209 39% 17%);
	--DarkBlue850ColorA0: hsl(209 39% 17% / 0%);
	--DarkBlue900Color: hsl(210 39% 15%);
	--DarkBlue950Color: hsl(213 36% 5%);
	--Grey100Color: hsl(225, 25%, 97%);
	--Grey200Color: hsl(216 31% 94%);
	--Grey300Color: hsl(213 12% 85%);
	--Grey400Color: hsl(214 11% 76%);
	--Grey500Color: hsl(217 11% 68%);
	--Grey600Color: hsl(219 6% 51%);
	--Grey700Color: hsl(216 6% 34%);
	--Grey800Color: hsl(220 5% 24.7%);
	--Grey900Color: hsl(225 5% 16.86%);
	--HotOrange600Color: hsl(20, 89%, 36%);
	--Neutral000Color: hsl(0 0% 100%);
	--Black000Color: hsl(0, 0%, 0%);
	--Orange400Color: hsl(42 100% 67%);
	--Orange600Color: hsl(35 100% 62%);
	--Orange700Color: hsl(33 100% 50%);
	--AstroOrangeColor: hsl(31, 92%, 54%);
	--Pink200Color: hsl(290, 61%, 76%);
	--Pink400Color: hsl(290, 61%, 51%);
	--Pink600Color: hsl(290 100% 30%);
	--Purple500Color: hsl(246, 54%, 63%);
	--Red700Color: hsl(350, 85%, 42%);
	--Green900Color: hsl(120, 100%, 18%);
	--Teal600Color: hsl(181 100% 32%);

	/* System Colors */

	--InverseColor: var(--DarkBlue950Color);
	--PlaceholderColor: var(--Grey500Color);
	--PrimaryColor: var(--Neutral000Color);
	--SecondaryColor: var(--Grey300Color);
	--FocusLight: var(--Pink200Color);
	--FocusDark: var(--Pink400Color);

	/* Base Colors */

	--BaseColor: var(--BrightBlue900Color);
	--BaseColorDefault: var(--DarkBlue800Color);
	--BaseHeaderColor: var(--DarkBlue900Color);

	/* Interactive Colors */

	--InteractiveColor: var(--BrightBlue500Color);
	--InteractiveHoverColor: var(--BrightBlue400Color);
	--InteractiveMutedColor: var(--BrightBlue700Color);

	/* Surface Colors */

	--SurfaceColor: var(--DarkBlue850Color);
	--SurfaceColorTransparent: var(--DarkBlue850ColorA0);
	--SurfaceHeaderColor: var(--DarkBlue900Color);
	--SurfaceSelectedColor: var(--DarkBlue700Color);

	/* Typography Styles */

	--SystemType: system-ui;
	--SystemMonoType: ui-monospace;
	--FontFamilyBase: "Roboto";

	/* Radius */

	--EdgeRadius: 3--rpx;

	/* Order */

	--TopLayer: 2147483647;
}
