---
import type { MarkdownContent } from 'astro'
import type { Props } from '@astropub/doc'

import Layout from 'project:layouts/default/default-layout.astro';
import SiteSkipTo from 'project:components/site-skipto/site-skipto.astro'
// import PageAside from 'project:components/page-aside/page-aside.astro'

import './new-docs-layout.css'

export { Props }

const attrs = Astro.props.content

const title = attrs.subtitle ? `${attrs.title} ${attrs.subtitle}` : attrs.title
const tabTitle = attrs.title
---
<Layout title={title} tabtitle={tabTitle}>
	<SiteSkipTo slot="top" />

	<main class="page" id="content">
		<slot name="header" />

		<div class="page-toolbar">
			<slot name="toolbar" />
		</div>

		<div class="page-content">
			<div class="page-content-main-col">
				<slot />
			</div>

			<aside class="page-content-side-col" id="aside">
				<div class="-content">
					<slot name="aside">
						<!-- <PageAside /> -->
					</slot>
				</div>
			</aside>
		</div>
	</main>
</Layout>
<script>
import './new-docs-layout.client'
</script>