.widget_wrapper {
	display: flex;

	/* Layout */
	align-items: flex-end;
	flex-direction: column;

	/* Layout */
	inset-block-end: 0;
	inset-inline-end: 0;

	/* Layout */
	margin-inline-end: 4--step;

	/* Appearance */
	position: sticky;

	& .widget_interior-wrapper {
		/* Layout */
		inset-block-end: 0;
		position: absolute;
	}

	@media (width < 800px) {
		/* Layout */
		inset-block-end: 0;
		inset-inline-end: 0;
		margin-inline-end: 0;
	}

	& .widget_top-tab {
		display: block;

		/* Layout */
		border-block-start: 2px solid var(--DarkBlue500Color);
		border-inline-end: 2px solid var(--DarkBlue500Color);

		/* Layout */
		border-inline-start: 2px solid var(--DarkBlue500Color);
		inline-size: fit-content;

		/* Layout */
		margin-inline-end: 4--step;
		margin-inline-start: auto;
		padding-block: 2--step;
		padding-inline-end: 5--step;
		padding-inline-start: 5--step;

		/* Appearance */
		background-color: #ffffff;
		color: var(--DarkBlue500Color);

		/* Appearance */
		cursor: pointer;
		border-start-start-radius: 1--step;
		border-start-end-radius: 1--step;
		border-end-start-radius: 0;
		border-end-end-radius: 0;

		& svg {
			/* Layout */
			margin-inline-start: 2--step;
		}

		&:is([data-collapsible-trigger-active]) svg {
			/* Transform */
			transform: rotate(180deg);

			& path {
				fill: #4dacff;
			}
		}

		@media (width < 800px) {
			/* Layout */
			inset-block-end: 80px;
			inset-inline-start: -78px;
			position: absolute;

			/* Transform */
			transform: rotate(-90deg);

			& svg {
				/* Layout */
				display: none;
			}
		}
	}

	& .widget_content {
		/* Layout */
		inline-size: 75--step;

		/* Layout */
		overflow: hidden;
		position: relative;

		/* Appearance */
		background-color: #eaeef4;
		border-radius: 3px;
		color: #292a2d;

		/* Animation */
		transition: height 200ms cubic-bezier(.66, .11, .33, .98);

		&:not([data-collapsible-active]) {
			/* Layout */
			block-size: 0;
			padding-block: 0;
			padding-inline: 0;

			/* Appearance */
			border: none;
		}

		&:is([data-collapsible-active]) {
			/* Layout */
			block-size: auto;
			padding-block: 5--step;
			padding-inline: 3--step;

			/* Appearance */
			border: 1px solid #2f7aa7;
		}

		@media (width < 800px) {
			/* Animation */
			transition: width 200ms cubic-bezier(.66, .11, .33, .98);

			&:not([data-collapsible-active]) {
				/* Layout */
				display: none;

				/* Layout */
				block-size: 472.5px;
			}

			&:is([data-collapsible-active]) {
				/* Layout */
				display: block;

				/* Layout */
				block-size: 472.5px;
			}
		}

		& h3 {
			/* Layout */
			margin-block-end: 5--step;

			/* Text */
			font-size: 20--rpx;
			font-weight: 500;
		}

		& p {
			/* Text */
			font-size: 16--rpx;
		}

		& button {
			/* Layout */
			margin-block-start: 6--step;

			/* Layout */
			padding-block: 1--step;
			padding-inline: 4--step;

			/* Appearance */
			border: 1px solid #005a8f;

			/* Appearance */
			border-radius: 3px;
			cursor: pointer;

			&.widget_vote-button {
				/* Layout */
				padding: 2--step;

				&:first-child {
					/* Layout */
					margin-inline-end: 2--step;
				}

				&.selected {
					/* Appearance */
					background-color: #2f7aa7;
					border: 1px solid #005a8f;

					& svg path {
						fill: #ffffff;
					}
				}
			}

			&.widget_primary-button {
				/* Appearance */
				background-color: #005a8f;
				color: #ffffff;

				&:disabled {
					/* Appearance */
					cursor: not-allowed;
					opacity: .4;
				}
			}

			&.widget_secondary-button {
				/* Layout */
				margin-inline-end: 3--step;

				/* Appearance */
				color: #005a8f;
			}
		}

		& textarea, input {
			/* Layout */
			inline-size: 100%;

			/* Layout */
			padding: 2--step;

			/* Text */
			font: inherit;

			/* Appearance */
			background-color: #fafafa;
			border: 1px solid #2f7aa7;

			/* Appearance */
			border-radius: 3px;
		}

		& textarea {
			/* Layout */
			block-size: 31--step;

			/* Layout */
			margin-block-start: 6--step;

			&:focus {
				/* Appearance */
				outline: 1px solid #2f7aa7;
			}
		}

		& input {
			/* Layout */
			margin-block-start: 3--step;

			&:focus {
				&:valid {
					/* Appearance */
					outline: 1px solid #2f7aa7;
				}
			}

			&:invalid {
				/* Appearance */
				outline: 1px solid #ff3838;
			}

			&[type="radio"] {
				display: none;
			}
		}

		& .widget_rate-group {
			display: flex;

			/* Layout */
			justify-content: center;
		}

		& .widget_button-group {
			display: flex;

			/* Layout */
			justify-content: flex-end;
		}

		& .widget_success {
			display: flex;
			display: none;

			/* Layout */
			align-items: center;
			block-size: 100%;
			block-size: 0;
			flex-direction: column;
			inline-size: 100%;

			/* Layout */
			inset-block-start: 0;
			inset-inline-end: 0;
			justify-content: center;
			position: absolute;

			/* Appearance */
			background-color: #eaeef4;
			opacity: 0;

			/* Animation */
			transition: opacity 200ms ease-in;

			&.-active {
				display: flex;

				/* Layout */
				block-size: 100%;

				/* Appearance */
				opacity: 1;
			}

			& svg {
				fill: #005a8f;

				&.success {
					fill: #f68e1e;

					/* Animation */
					transition: fill 400ms ease-in;
				}
			}

			& .widget_success-orange-circle {
				display: flex;

				/* Layout */
				align-items: center;

				/* Layout */
				block-size: calc(5--step - 1px);
				box-sizing: content-box;
				inline-size: calc(5--step - 1px);
				justify-content: center;
				position: absolute;

				& span {
					/* Appearance */
					display: block;

					/* Layout */
					block-size: 2--step;

					/* Layout */
					box-sizing: content-box;
					inline-size: 2--step;

					/* Appearance */
					background-color: #005a8f;
					border-radius: 100%;
					opacity: 1;

					/* Animation */
					animation-duration: 1200ms;

					/* Animation */
					animation-iteration-count: infinite;
					animation-name: antennaDot;
					//transition: opacity 200ms ease-in;
				}

				&.circle-1 {
					/* Layout */
					inset-block-start: 146px;
					inset-inline-start: 174px;

					& span {
						/* Layout */
						display: block;

						/* Animation */
						animation-delay: 0s;
					}
				}

				&.circle-2 {
					/* Layout */
					inset-block-start: 158px;
					inset-inline-start: 161px;

					& span {
						/* Animation */
						animation-delay: 400ms;
					}
				}

				&.circle-3 {
					/* Layout */
					inset-block-start: 170px;
					inset-inline-start: 148px;

					& span {
						/* Animation */
						animation-delay: 800ms;
					}
				}
			}

			& .widget_success-text {
				/* Layout */
				padding-block-start: 10--step;

				/* Text */
				font-size: 24--rpx;
				line-height: 28--rpx;
				text-align: center;

				/* Appearance */
				color: #292a2d;
			}
		}
	}
}

@keyframes antennaDot {
	from {
		/* Appearance */
		background-color: #005a8f;
	}

	30% {
		/* Appearance */
		background-color: #005a8f;

		/* Transform */
		transform: scale(1);
	}

	50% {
		/* Appearance */
		background-color: #f68e1e;

		/* Transform */
		transform: scale(1.5);
	}

	to {
		/* Appearance */
		background-color: #005a8f;
	}
}
