[build]

	publish = "dist/"
	command = "npm run build"

[context.production]
	NODE_VERSION = "18.16.0"

[context.deploy-preview.environment]
	NODE_VERSION = "18.16.0"

[[redirects]]
	from = "/ui-components/*"
	to = "/components/:splat"
	status = 301
	force = true

[[redirects]]
	from = "/library/*"
	to = "/components/:splat"
	status = 301
	force = true

[[redirects]]
	from = "/style-guide/*"
	to = "/design-guidelines/:splat"
	status = 301
	force = true

[[redirects]]
	from = "/design-guidelines/status-system"
	to = "/patterns/status-system"
	status = 301
	force = true

[[redirects]]
	from = "/design-guidelines/notifications"
	to = "/patterns/notifications"
	status = 301
	force = true

[[redirects]]
	from = "/design-guidelines/panes"
	to = "/patterns/panes"
	status = 301
	force = true

[[redirects]]
	from = "/components/validation"
	to = "/patterns/forms-and-validation"
	status = 301
	force = true

[[redirects]]
	from = "/components/toggle"
	to = "/components/switch"
	status = 301
	force = true

[[redirects]]
	from = "/components/validation"
	to = "/patterns/forms-and-validation"
	status = 301
	force = true

[[redirects]]
	from = "/tt-c-service-ux-design/about-the-tt-c-designs"
	to = "/ttc-service-ux-design/about-the-ttc-designs"
	status = 301
	force = true

[[redirects]]
	from = "/tt-c-service-ux-design/tt-c-monitor"
	to = "/ttc-service-ux-design/ttc-monitor"
	status = 301
	force = true

[[redirects]]
	from = "/tt-c-service-ux-design/tt-c-command"
	to = "/ttc-service-ux-design/ttc-command"
	status = 301
	force = true

[[redirects]]
	from = "/tt-c-service-ux-design/tt-c-investigate"
	to = "/ttc-service-ux-design/ttc-investigate"
	status = 301
	force = true

[[redirects]]
	from = "/components/drop-down"
	to = "/components/select"
	status = 301
	force = true

[[redirects]]
	from = "/getting-started/readme"
	to = "/getting-started/"
	status = 301
	force = true

[[redirects]]
	from = "/design-guidelines/compliance"
	to = "/compliance"
	status = 301
	force = true

[[redirects]]
	from = "/components/dialog-box"
	to = "/components/dialog"
	status = 301
	force = true

[[redirects]]
	from = "/components/sign-in"
	to = "/patterns/sign-in"
	status = 301
	force = true

[[redirects]]
	from = "/patterns/validation"
	to = "/patterns/forms-and-validation"
	status = 301
	force = true

[[redirects]]
	from = "/components/spectrum-analyzer"
	to = "/"
	status = 301
	force = true

[[redirects]]
	from = "/compliance"
	to = "/compliance/astro-design-compliance"
	status = 301
	force = true

[[redirects]]
	from = "/compliance/r2c2-design-compliance"
	to = "/compliance/astro-design-compliance"
	status = 301
	force = true


[[redirects]]
	from = "/egs-design-compliancee"
	to = "/compliance/r2c2-design-compliance"
	status = 301
	force = true

[[redirects]]
	from = "/components/readme/"
	to = "/components/getting-started/"
	status = 301
	force = true

[[redirects]]
	from = "/components/pop-up-menu/"
	to = "/patterns/pop-up-menu/"
	status = 301
	force = true

[[redirects]]
	from = "/design-guidelines/color/"
	to = "/design-tokens/getting-started/"
	status = 301
	force = true
