a.h {
	/* Appearance */
	color: inherit;

	/* Reference */
	--icon-size: max(.75em, 1rem);

	& > * {
		display: flex;

		&::before {
			display: inline-block;

			/* Layout */
			block-size: 1--icon-size;
			inline-size: 1--icon-size;
			margin-inline: -1.25--icon-size .25--icon-size;

			/* Appearance */
			opacity: 0;

			/* Animation */
			transition: opacity 200ms;

			/* Generated */
			content: var(--AnchorIcon);
		}
	}

	&:hover:not(:focus-visible) {
		& > * {
			&::before {
				/* Appearance */
				opacity: 60%;
			}
		}
	}

	&:hover, &:focus-visible {
		/* Appearance */
		color: var(--InvertedColor);
	}

	&:focus-visible {
		/* Appearance */
		outline: none;
	}
}
