a.h {
	/* Appearance */
	color: inherit;

	/* Reference */
	--icon-size: max(.75em, 1rem);

	& > * {
		display: flex;

		&::after {
			display: inline-block;

			/* Layout */
			block-size: 1--icon-size;
			inline-size: 1--icon-size;
			margin-block-start: .1rem;
			margin-inline-start: .25--icon-size;

			/* Appearance */
			opacity: 0;

			/* Animation */
			transition: opacity 200ms;

			/* Generated */
			content: var(--AnchorIcon);
		}
	}

	&:hover, &:focus-visible {
		& > * {
			&::after {
				/* Appearance */
				opacity: 60%;
			}
		}
	}

	&:hover {
		/* Appearance */
		color: var(--InvertedColor);
	}

	&:focus-visible {
		/* allows focus to show */
		display: inherit;
	}
}
