.spec-container {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 10--rpx;
	margin-block-end: 5--step;
	padding: 5--step;

	/* Appearance */
	background-color: var(--DarkBlue800Color);

	&.-anatomy {
		& figure {
			display: flex;

			/* Layout */
			flex-grow: 1;
			justify-content: center;
			margin: 0 auto;

			& img {
				/* Layout */
				align-self: center;
				justify-self: center;
				max-inline-size: 100%;
			}
		}

		& ol {
			/* Layout */
			margin-block-end: 0;

			/* Appearance */
			color: var(--PrimaryColor);

			& li {
				/* Layout */
				margin-block-start: 0--step;
			}
		}
	}

	&.-examples {
		/* Layout */
		align-content: space-evenly;
		flex-flow: row wrap;
		justify-content: space-evenly;
		min-block-size: 81--step;

		& figure {
			/* Layout */
			margin-block-end: 0;

			@media (width < 768px) {
				/* Layout */
				inline-size: 100%;

				& img {
					/* Layout */
					margin: 0 auto;
				}
			}
		}
	}
}

tr:has(td > span.attr-title) {
	/* Appearance */
	border-block-end: 1px solid var(--Grey700Color);
}

td:has(span.attr-title) {
	/* Layout */
	padding-block-start: 6--step;
}

.attr-title {
	/* Text */
	font-weight: 700;
}

.specs-table-container {
	/* Layout */
	margin-block-end: 5--step;

	/* Layout */
	overflow-x: auto;

	& table {
		/* Layout */
		inline-size: 100%;

		/* Layout */
		min-inline-size: auto;

		& thead {
			& th {
				&:first-child {
					/* Appearance */
					border-radius: 2--step 0 0 0;
				}

				&:last-child {
					/* Appearance */
					border-radius: 0 2--step 0 0;
				}
			}
		}

		& th:nth-child(1) {
			/* Layout */
			inline-size: 30%;
		}

		& th:nth-child(2) {
			/* Layout */
			inline-size: 40%;
		}

		& th:nth-child(3) {
			/* Layout */
			inline-size: 30%;
		}
	}

	@nest .page-content-main-col & {
		/* Layout */
		max-inline-size: 212--step;
	}
}
