:root {
	--max-table-size: 230--step;

	@media (1440px > width >= 1294px) {
		--max-table-size: 175--step;
	}
}

/* Table */
/* ========================================================================== */

.table-overflow, .color-table {
	/* Layout */
	margin-block-end: 5--step;
	max-inline-size: var(--max-table-size);

	/* Layout */
	overflow-x: auto;
	overflow-x: overlay;

	& table {
		/* Layout */
		inline-size: 100%;

		/* Layout */

		/* Layout */
		min-inline-size: auto;
	}
}

/* less padding on cells */

.small table {
	& thead th {
		/* Layout */
		padding-inline-end: 0;
		padding-inline-start: 3--step;
	}

	& td {
		/* Layout */
		padding-inline-end: 0;
		padding-inline-start: 3--step;
	}
}

.table-overflow.short {
	/* Layout */
	max-inline-size: 175--step;
}

.table-typography {
	& table {
		& thead {
			& th {
				/* Layout */
				min-inline-size: 29--step;
			}
		}
	}
}

/* Table for Status System / Status Symbol page */
/* ========================================================================== */

.status-system-colors, .status-symbol-colors {
	/* Layout */
	margin-block-end: 5--step;
	max-inline-size: var(--max-table-size);
	overflow-x: auto;

	& table {
		/* Layout */
		inline-size: 100%;

		/* Layout */
		min-inline-size: auto;

		& td {
			/* Text */
			line-height: 1.5rem;
		}

		& th:not(:first-of-type) {
			@media (width < 768px) {
				/* Layout */
				min-inline-size: 350px;
			}
		}
	}

	& .status-color {
		/* Layout */
		block-size: 16--step;

		/* Layout */
		box-sizing: border-box;
		inline-size: 16--step;

		/* Appearance */
		background: transparent;
		border: 1--step solid transparent;
	}
}

.color-table code {
	/* Text */
	white-space: nowrap;
}

/* Dark Color Table */
/* ========================================================= */

.table-dark table {
	/* Appearance */
	background-color: var(--BaseColorDefault);
	border-radius: 2--step;
	color: var(--PrimaryColor);

	/* Table */
	border-collapse: collapse;

	& td {
		/* Appearance */
		background-color: transparent;
	}

	& thead {
		/* Appearance */
		background-color: var(--BaseHeaderColor);

		& th {
			/* Appearance */
			background-color: transparent;
			color: var(--PrimaryColor);
		}
	}

	& tbody tr:last-child {
		/* Layout */
		border-block-end: 0 solid transparent;

		& td:first-child {
			border-end-start-radius: 2--step;
		}

		& td:last-child {
			border-end-end-radius: 2--step;
		}
	}
}

/* Table for Heat Map page */
/* ========================================================================== */

.heat-map-table {
	/* Layout */
	margin-block-end: 20px;

	& table {
		/* Layout */
		inline-size: auto;

		& th, & td {
			/* Appearance */
			border: 1px solid var(--SecondaryColor);
		}

		& tr {
			/* Layout */
			border-block-end: 0;
		}

		& thead th {
			/* Text */
			font-weight: 400;
			text-align: center;

			/* Appearance */
			background: transparent;
			color: inherit;
		}

		& td {
			/* Text */
			line-height: 1.5rem;
			text-align: center;

			& span {
				display: flex;

				/* Layout */
				justify-content: center;
			}
		}
	}
}

/* Code */
/* ========================================================================== */

.astro-code {	/* Appearance */
	/* stylelint-disable-next-line declaration-no-important */
	background-color: var(--BrightBlue850Color) !important;
}

.astro-code,
.code-block {
	/* Layout */
	margin-block-end: 5--step;

	/* Layout */
	overflow-x: auto;
	padding: 4--step;

	/* Text */
	font-family: var(--SystemMonoType);
	font-size: 14--rpx;
	line-height: calc(20 / 14);

	/* Appearance */
	background: var(--BrightBlue850Color);
	border-radius: var(--EdgeRadius);
	color: var(--PrimaryColor);

	& > code {
		/* Text */
		white-space: pre;
	}
}

/* Example */
/* ========================================================================== */

.example-do, .example-dont {
	& > figcaption {
		/* Layout */
		margin-block-start: 2--step;

		/* Appearance */
		box-shadow: var(--border-color) 0 1--step 0 0 inset;

		--border-color: currentColor;
	}
}

.example-do > figcaption {
	--border-color: var(--ExampleDoColor);
}

.example-dont > figcaption {
	--border-color: var(--ExampleDontColor);
}

/* Release Table */
/* ========================================================================== */

.release-table {
	/* Layout */
	margin-block-end: 5--step;
	max-inline-size: var(--max-table-size);
	overflow-x: scroll;

	& th, & td {
		/* Text */
		font-size: 16--rpx;
		line-height: calc(20 / 16);

		/* Layout */
		vertical-align: text-top;
		white-space: normal;
	}

	& th {
		/* Layout */
		padding: 2--step;

		/* Text */
		font-weight: 700;
	}

	& td {
		/* Layout */
		padding: 2--step;
	}
}

.breaking-change-details {
	/* Layout */
	margin-block-start: 4--step;
}

/* Collapsible Code Utils */
/* ========================================================================== */

.collapsible-code {
	/* Layout */
	margin-block-end: 5--step;

	/* Appearance */
	border: 1px solid var(--Grey500Color);
	border-radius: var(--EdgeRadius);

	& details:last-child summary {
		/* Layout */
		border-color: transparent;
	}

	& summary {
		/* Layout */
		border-block-end: 1px solid var(--Grey500Color);

		/* Layout */
		padding: 1--step;

		/* Appearance */

		&::marker {
			/* Text */
			font-size: 14--rpx;

			/* Appearance */
			color: var(--Grey800Color);
		}
	}

	& pre {
		border-start-end-radius: 0;
		border-start-start-radius: 0;

		/* Layout */
		margin-block-end: 0;
	}
}

/* buttons */
/* ========================================================================== */

.styled-button {
	/* Layout */
	padding-block: 1--step;
	padding-inline: 4--step;

	/* Text */
	font-size: 16--rpx;
	line-height: 24--rpx;

	/* Appearance */
	background-color: var(--DarkBlue500Color);
	border: 1px solid var(--DarkBlue500Color);
	border-radius: 3px;
	color: var(--PrimaryColor);
	cursor: pointer;

	&:hover {
		/* Appearance */
		background-color: var(--DarkBlue700Color);
		border-color: var(--DarkBlue500Color);
	}

	&:disabled, &:not([href]) {
		/* Appearance */
		cursor: not-allowed;
		opacity: .4;
	}
}

.p-button {
	/* Layout */
	inline-size: fit-content;

	/* Layout */
	padding-block: 3--step;
	padding-inline: 10--step;

	/* Text */
	font-size: 16--rpx;
	font-weight: 300;
	line-height: 24--rpx;

	/* Appearance */
	background-color: var(--DarkBlue500Color);
	border: 1px solid var(--DarkBlue500Color);
	border-radius: var(--EdgeRadius);
	color: var(--PrimaryColor);
	cursor: pointer;

	&:hover {
		/* Appearance */
		background-color: var(--DarkBlue700Color);
		border-color: var(--DarkBlue500Color);
	}
}

/* select */
/* ========================================================================== */

.styled-select {
	/* Layout */
	margin-inline-end: 2--step;

	/* Layout */
	margin-inline-start: calc(-1 * 2--step);

	/* Layout */
	max-inline-size: 100--step;
	padding-block: 1--step;
	padding-inline-end: 8--step;
	padding-inline-start: 2--step;

	/* Text */
	font-size: 16--rpx;
	line-height: 20--rpx;

	/* Arrow */
	appearance: none;

	/* Appearance */
	background-color: var(--PrimaryColor);
	background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.12 9.29 12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0Z" /></svg>');
	background-position: right 1--step top 50%;
	background-repeat: no-repeat;
	background-size: 24--rpx auto;
	border-radius: var(--EdgeRadius);
}
