/* Table */
/* ========================================================================== */

.table-overflow, .color-table {
	/* Layout */
	margin-block-end: 5--step;
	max-inline-size: 230--step;

	/* Layout */
	overflow-x: auto;
	overflow-x: overlay;

	& table {
		/* Layout */
		inline-size: 100%;

		/* Layout */

		/* Layout */
		min-inline-size: auto;
	}
}

.table-typography {
	& table {
		& thead {
			& th {
				/* Layout */
				min-inline-size: 29--step;
			}
		}
	}
}

/* Table for Status System / Status Symbol page */
/* ========================================================================== */

.status-system-colors, .status-symbol-colors {
	/* Layout */
	margin-block-end: 5--step;
	max-inline-size: 230--step;
	overflow-x: auto;

	& table {
		/* Layout */
		inline-size: 100%;

		/* Layout */
		min-inline-size: auto;

		& td {
			/* Text */
			line-height: 1.5rem;
		}

		& th:not(:first-of-type) {
			@media (width < 768px) {
				/* Layout */
				min-inline-size: 350px;
			}
		}
	}

	& .status-color {
		/* Layout */
		block-size: 16--step;

		/* Layout */
		box-sizing: border-box;
		inline-size: 16--step;

		/* Appearance */
		background: transparent;
		border: 1--step solid transparent;
	}
}

.color-table code {
	/* Text */
	white-space: nowrap;
}

/* Dark Color Table */
/* ========================================================= */

.table-dark table {
	/* Appearance */
	color: var(--PrimaryColor);

	& td {
		/* Appearance */
		background-color: var(--BaseColorDefault);
	}

	& thead th {
		/* Appearance */
		background-color: var(--BaseHeaderColor);
		color: var(--PrimaryColor);
	}

	& tbody tr:last-child {
		/* Layout */
		border-block-end: 0 solid transparent;

		& td:first-child {
			border-end-start-radius: 2--step;
		}

		& td:last-child {
			border-end-end-radius: 2--step;
		}
	}
}

/* Table for Heat Map page */
/* ========================================================================== */

.heat-map-table {
	/* Layout */
	margin-block-end: 20px;

	& table {
		/* Layout */
		inline-size: auto;

		& th, & td {
			/* Appearance */
			border: 1px solid var(--SecondaryColor);
		}

		& tr {
			/* Layout */
			border-block-end: 0;
		}

		& thead th {
			/* Text */
			font-weight: 400;
			text-align: center;

			/* Appearance */
			background: transparent;
			color: inherit;
		}

		& td {
			/* Text */
			line-height: 1.5rem;
			text-align: center;

			& span {
				display: flex;

				/* Layout */
				justify-content: center;
			}
		}
	}
}

/* Code */
/* ========================================================================== */

.astro-code,
.code-block {
	/* Layout */
	margin-block-end: 5--step;

	/* Layout */
	overflow-x: auto;
	padding: 4--step;

	/* Text */
	font-family: var(--SystemMonoType);
	font-size: 14--rpx;
	line-height: calc(20 / 14);

	/* Appearance */
	background: var(--BrightBlue850Color);
	border-radius: var(--EdgeRadius);
	color: var(--PrimaryColor);

	& > code {
		/* Text */
		white-space: pre;
	}
}

/* Example */
/* ========================================================================== */

.example-do, .example-dont {
	& > figcaption {
		/* Layout */
		margin-block-start: 2--step;

		/* Appearance */
		box-shadow: var(--border-color) 0 1--step 0 0 inset;

		--border-color: currentColor;
	}
}

.example-do > figcaption {
	--border-color: var(--ExampleDoColor);
}

.example-dont > figcaption {
	--border-color: var(--ExampleDontColor);
}

/* Release Table */
/* ========================================================================== */

.release-table {
	/* Layout */
	margin-block-end: 5--step;
	max-inline-size: 230--step;
	overflow-x: scroll;

	& th, & td {
		/* Text */
		font-size: 16--rpx;
		line-height: calc(20 / 16);

		/* Layout */
		vertical-align: text-top;
		white-space: normal;
	}

	& th {
		/* Layout */
		padding: 2--step;

		/* Text */
		font-weight: 700;

		/* Appearance */
		background-color: #efefef;
	}

	& td {
		/* Layout */
		padding: 2--step;

		/* Appearance */
		box-shadow: #efefef 0 -1px 0 0 inset;
	}
}

.breaking-change-details {
	/* Layout */
	margin-block-start: 4--step;
}
