/* Table */
/* ========================================================================== */

.table-overflow {
	overflow-x: auto;

	& table {
		min-width: auto;
		width: 100%;
	}
}

/* Code */
/* ========================================================================== */

.astro-code,
.code-block {
	/* Layout */
	overflow-x: auto;
	padding: 4--step;

	/* Text */
	font-family: var(--SystemMonoType);
	font-size: 14--rpx;
	line-height: calc(20 / 14);

	/* Appearance */
	background: var(--BrightBlue850);
	color: var(--PrimaryColor);
	border-radius: var(--EdgeRadius);

	& > code {
		white-space: pre;
	}
}

/* Note */
/* ========================================================================== */

.caution,
.note {
	/* Layout */
	margin-block-start: 4--step;
	padding-block: 4--step;
	padding-inline: 16--step 4--step;

	/* Appearance */
	background: var(--note-color) var(--note-icon) no-repeat 4--step 5--step / 8--step;
	border-radius: var(--EdgeRadius);
	box-shadow: var(--note-border-color, transparent) 0 0 0 1px inset;

	& > :nth-child(1) {
		margin-block-start: 0;
	}
}

.note {
	--note-border-color: var(--CautionBorderColor);
	--note-color: var(--NoteColor);
	--note-icon: var(--NoteIcon);
}

.caution {
	--note-border-color: var(--CautionBorderColor);
	--note-color: var(--CautionColor);
	--note-icon: var(--CautionIcon);
}

/* Columns */
/* ========================================================================== */

.two-col, .three-col {
	display: grid;

	/* Layout */
	gap: 8--step 4--step;
	margin-block-start: 4--step;
}

.two-col {
	/* Layout */
	grid-template-columns: repeat(2, [col-start] 1fr);
}

.three-col {
	/* Layout */
	grid-template-columns: repeat(3, [col-start] 1fr);
}

/* Example */
/* ========================================================================== */

.example-do, .example-dont {
	& > figcaption {
		/* Layout */
		margin-block-start: 2--step;

		/* Appearance */
		box-shadow: var(--border-color) 0 1--step 0 0 inset;

		--border-color: currentColor;
	}
}

.example-do > figcaption {
	--border-color: var(--ExampleDoColor);
}

.example-dont > figcaption {
	--border-color: var(--ExampleDontColor);
}

/* Release Table */
/* ========================================================================== */

.release-table {
	/* Layout */
	margin-block-start: 4--step;
	overflow-x: scroll;

	& th, & td {
		/* Layout */
		vertical-align: text-top;

		/* Text */
		font-size: 16--rpx;
		line-height: calc(20 / 16);
		white-space: normal;
	}

	& th {
		/* Layout */
		padding: 2--step;

		/* Text */
		font-weight: 700;

		/* Appearance */
		background-color: #efefef;
	}

	& td {
		/* Layout */
		padding: 2--step;

		/* Appearance */
		box-shadow: #efefef 0 -1px 0 0 inset;
	}
}

.breaking-change-details {
	/* Layout */
	margin-block-start: 4--step;
}
