:root {
	/* Color References */

	--BrightBlue850: hsl(208 49% 21%);
	--Heading1BorderColor: hsl(0 0% 87%);
	--Heading3BorderColor: hsl(0 0% 93%);
	--LinkColor: hsl(23 62% 43%);
	--TableHeadingBorderColor: hsl(0 0% 66%);
	--TextColor: hsl(0 0% 26%);

	/* Example References */

	--ExampleDoColor: hsl(109 82% 39%);
	--ExampleDontColor: hsl(13 99% 50%);

	/* Note References */

	--CautionBorderColor: hsl(0 80% 42%);
	--CautionColor: hsl(350 100% 88%);
	--NoteBorderColor: hsl(44 28% 42%);
	--NoteColor: hsl(49 91% 87%);

	/* Icon References */

	--AnchorIcon:
		url(
			'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
			<path fill-rule="evenodd" d="M7 15h3c.55 0 1 .45 1 1s-.45 1-1 1H7c-2.76 0-5-2.24-5-5s2.24-5 5-5h3c.55 0 1 .45 1 1s-.45 1-1 1H7c-1.65 0-3 1.35-3 3s1.35 3 3 3Zm10-8h-3c-.55 0-1 .45-1 1s.45 1 1 1h3c1.65 0 3 1.35 3 3s-1.35 3-3 3h-3c-.55 0-1 .45-1 1s.45 1 1 1h3c2.76 0 5-2.24 5-5s-2.24-5-5-5Zm-9 5c0 .55.45 1 1 1h6c.55 0 1-.45 1-1s-.45-1-1-1H9c-.55 0-1 .45-1 1Z" />\
		</svg>'
		);
	--CautionIcon:
		url(
			'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">\
			<g fill="none" fill-rule="evenodd" stroke="%23BF1515">\
				<circle cx="32" cy="32" r="29.5" stroke-width="5" />\
				<path stroke-width="1.5" d="M32.5 51a3.6 3.6 0 0 1-2.4-1c-.7-.5-1.1-1.4-1.1-2.5 0-1 .3-1.8 1-2.5s1.5-1 2.5-1 1.8.3 2.5 1a3.3 3.3 0 0 1 1 2.5c0 1-.3 2-1 2.6a3.5 3.5 0 0 1-2.5.9zM32 14h1a3 3 0 0 1 3 3v20a3 3 0 0 1-3 3h-1a3 3 0 0 1-3-3V17a3 3 0 0 1 3-3z" />\
			</g>\
		</svg>'
		);
	--NoteIcon:
		url(
			'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">\
				<g fill="none" fill-rule="evenodd" stroke="%238A7A4E">\
					<circle cx="32" cy="32" r="29.5" stroke-width="5" />\
					<path stroke-width="1.5" d="M32.5 14c-1 0-1.7.3-2.4 1-.7.5-1.1 1.4-1.1 2.5 0 1 .3 1.8 1 2.5s1.5 1 2.5 1 1.8-.3 2.5-1a3.3 3.3 0 0 0 1-2.5c0-1-.3-2-1-2.6a3.5 3.5 0 0 0-2.5-.9zM32 51h1a3 3 0 0 0 3-3V28a3 3 0 0 0-3-3h-1a3 3 0 0 0-3 3v20a3 3 0 0 0 3 3z" />\
				</g>\
			</svg>'
		);
}
