---
import { For } from '@astropub/flow'
import DesignTokenCategory from 'project:components/design-token/DesignTokenCategory.astro'
import DocsLayout from 'project:layouts/docs/docs-layout.astro'
import { systemTokens } from 'project:utils/tokens'

const title = 'System Tokens'
---
<DocsLayout content={{ title }} file={import.meta.url}>
	<a href="#content" class="h h1">
		<h1>
			{title}
		</h1>
	</a>
	<p>
		System Tokens represent the all of the intent, usage, patterns and concepts within the Astro Design System, organized according to category.
	</p>
	<section>
		<For of={Object.values(systemTokens)}>{category => (
			<DesignTokenCategory theme="dark" {...category} />
		)}</For>
	</section>
</DocsLayout>
<script>
import 'project:components/clipboard-button/ClipboardButtonObserver'
</script>