.p-design-token {
	display: flex;

	/* layout */
	padding: 5--step;

	& + & {
		/* layout */
		margin-block-start: 4--step;
	}

	& .--preview {
		display: flex;

		/* layout */
		align-items: center;
		block-size: 16--step;
		inline-size: 16--step;
		justify-content: center;
		margin-inline-end: 5--step;

		/* decoration */
		background-color: #1b2d3e;
		color: #4dacff;
	}

	&:where(.--type-text) .--preview {
		&::before {
			content: "Aa";

			/* typography */
			font-size: 20--rpx;
			line-height: max(28 / 20);
		}
	}

	&:where(.--type-background) .--preview {
		/* decoration */
		background-color: var(--value);
	}

	&:where(.--type-radius) .--preview {
		/* decoration */
		border-radius: var(--value);
		box-shadow: var(--PrimaryColor) 0 0 0 1--rpx inset;
	}

	&:where(.--type-shadow) .--preview {
		/* decoration */
		box-shadow: var(--PrimaryColor) 0 0 0 1--rpx inset, var(--value);
	}

	& .--name {
		/* typography */
		font-weight: 700;
	}

	& .--value {
		/* typography */
		font-family: var(--SystemMonoType);
	}

	& .--alias {
		/* decoration */
		color: var(--SecondaryColor);
	}

	& dd:not(:first-of-type) {
		/* layout */
		margin-block-start: 2--step;
	}
}
