---
import './astro-product-download.css'
---

<div class="p-astro-product-download">
	<h2 class="p-astro-product-download_header">--</h2>
	<p>
		Click the button below to start your download. A product download link has
		also been sent to the email provided during checkout. The download link will
		expire 72 hours after it is emailed to you. To get a new link, send a
		request to <a href="mailto:support@astrouxds.com">support@astrouxds.com</a>.
	</p>

	<button
		disabled
		type="button"
		id="product-download-button"
		class="p-button p-astro-product-download-button"
	>
		<div class="loading-container loading">Verifying</div></button
	>
	<div class="p-astro-product-download_status-wrapper hidden">
		<span class="p-astro-product-download_success"></span>
		<span class="p-astro-product-download_error"></span>
	</div>

	<div>
		<p class="p-astro-product-download_file-size">
			<strong>File Size:&nbsp;</strong><span id="product-file-size">--</span> MB
		</p>
		<p class="p-astro-product-download_terms">By downloading or using this product you agree to our <a href="/terms-of-service/" target="_blank">Terms of Service</a>.</p>
		<div class="p-astro-product-download_description"></div>
		<div class="p-astro-product-download_support"></div>
	</div>
</div>

<div class="p-astro-product-download_purchase-not-found hidden">
	<h2 class="p-astro-product-download_header">Purchase Not Found</h2>
	<p>The link you used does not match any of our records. Each download link is unique to the customer and expires 72 hours after it is emailed to you. To get a new link, send a request to <a href="mailto:support@astrouxds.com">support@astrouxds.com</a>.</p>
</div>

<div class="p-astro-product-download_link-expired hidden">
	<h2 class="p-astro-product-download_header">Link Expired</h2>
	<p>The link you used has expired. Each download link is unique to the customer and expires 72 hours after it is emailed to you. To get a new link, send a request to <a href="mailto:support@astrouxds.com">support@astrouxds.com</a>.</p>
</div>

<script>
	import './astro-product-download.js'
</script>