.p-articles {
	--articles-size: max(1 * var(--article-size) + 0 * var(--article-gap));
	--article-size: 75--step;
	--article-gap: 15--step;

	/* display: grid; */

	/* Layout */
	/* flex-flow: column; */
	/* grid-template-rows: auto auto; */
	max-inline-size: 100%;
	inline-size: 100%;

	& .p-articles-content {
		/* Layout */
		padding-block: 5--step;
		padding-inline: 9--step;

		/* Appearance */
		background-color: var(--SurfaceHeaderColor);
		border-radius: 6--rpx;
		color: var(--PrimaryColor);
	}

	@media (width >= 760px) {
		--articles-size: max(2 * var(--article-size) + 1 * var(--article-gap));

		/* Layout */
		align-self: start;
	}

	@media (width >= 800px) {
		--articles-size: max(1 * var(--article-size) + 0 * var(--article-gap));
	}

	@media (width >= 1200px) {
		--articles-size: max(2 * var(--article-size) + 1 * var(--article-gap));
	}

	@media (width >= 1440px) {
		--articles-size: max(3 * var(--article-size) + 2 * var(--article-gap));
	}

	@media (width >= 1760px) {
		--articles-size: max(4 * var(--article-size) + 3 * var(--article-gap));
	}

	/* Articles: Heading */

	& > h3 {
		/* Text */
		font-size: 34--rpx;
		font-weight: 700;
		line-height: max(40 / 34);
	}

	/* Articles: Content */

	& > .content {
		display: flex;
		flex-direction: row;

		/* Layout */
		gap: var(--article-gap);
		grid-column: 1 / 2;
		grid-row: 2;
		margin-block-start: 4--step;

		/* Layout */
		overflow-x: auto;
		overflow-x: overlay;

		/* Behavior */
		overscroll-behavior-x: contain;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;

		--mask-size: max(100% + 38--step);
		--lead-mask: linear-gradient(90deg, hsl(0 0% 0% / 0%), hsl(0 0% 0% / 100%) 38--step);
		--tail-mask: linear-gradient(90deg, hsl(0 0% 0% / 100%) max(100% - 38--step), hsl(0 0% 0% / 0%));
		--lead-posi: right;
		--tail-posi: left;
	}

	& > .icon {
		/* parent layout */
		align-self: center;
		block-size: 112--step;
		grid-row: 2;

		/* Layout */
		inline-size: 5--step;
		padding-inline: 1--step;

		/* Appearance */
		color: var(--InteractiveColor);
		cursor: pointer;

		/* Animation */
		transition: 400ms opacity;

		&:not(:hover) {
			/* Appearance */
			opacity: .75;
		}

		&.icon-carrot-prev {
			/* Layout */
			grid-column: 1;
			transform: scale(-1, 1);
		}

		&.icon-carrot-next {
			/* Layout */
			grid-column: 2;
		}
	}

	&:not(.obscured-lead) .icon-carrot-prev {
		/* Layout */
		block-size: 0;

		/* Appearance */
		color: var(--InteractiveHoverColor);
		opacity: 0;
	}

	&:not(.obscured-tail) .icon-carrot-next {
		/* Layout */
		block-size: 0;

		/* Appearance */
		opacity: 0;
	}

	&:is(.obscured-lead, .obscured-tail) .content {
		/* Masking */
		mask-composite: intersect;
		mask-: var(--lead-mask), var(--tail-mask);
		mask-position: var(--lead-posi), var(--tail-posi);
		mask-size: var(--mask-size) 100%, var(--mask-size) 100%;
	}

	&:is(.obscured-lead, .obscured-tail).animate .content {
		/* Animation */
		transition: mask-position 900ms;
	}

	&.obscured-lead .content {
		--lead-posi: left;
	}

	&.obscured-tail .content {
		--tail-posi: right;
	}
}

.p-article {
	display: flex;
	position: relative;

	/* Layout */
	flex-flow: column;
	flex-shrink: 0;
	inline-size: var(--article-size);
	scroll-snap-align: start;

	/* Appearance */
	background-color: var(--SurfaceSelectedColor);
	border-radius: 3--rpx;
	box-shadow: 0 0 0 1px inset var(--Grey700Color);

	&:is(:hover, :focus-visible) {
		background: var(--InteractiveMutedColor);
	}

	/* Animation */
	transition: 600ms opacity;

	&.obscured {
		/* Appearance */
		opacity: .5;
	}

	& .-image {
		/* Layout */
		aspect-ratio: 300 / 230;
		block-size: auto;
		inline-size: 100%;

		/* Appearance */
		border-start-end-radius: 3--rpx;
		border-start-start-radius: 3--rpx;
		object-fit: cover;
	}

	& .-heading {
		/* Layout */
		margin-block-start: 5--step;
		padding-inline: 5--step;

		/* Text */
		font-size: 20--rpx;
		font-weight: 500;
		line-height: calc(24 / 20);
	}

	& .-content {
		/* Layout */
		margin-block-start: 4--step;
		margin-block-end: 5--step;
		padding-inline: 5--step;

		/* Text */
		font-size: 16--rpx;
		line-height: 6--step;

		/* Appearance */
		color: var(--Grey300Color);
	}
}
