.p-articles {
	/* Layout */
	max-inline-size: 100%;
	inline-size: 100%;

	& .p-articles-content {
		/* Layout */
		padding-block: 5--step;
		padding-inline: 9--step;

		/* Appearance */
		background-color: var(--SurfaceHeaderColor);
		border-radius: 6--rpx;
		color: var(--PrimaryColor);
	}

	@media (width >= 760px) {
		--articles-size: max(2 * var(--article-size) + 1 * var(--article-gap));

		/* Layout */
		align-self: start;
	}

	@media (width >= 800px) {
		--articles-size: max(1 * var(--article-size) + 0 * var(--article-gap));
	}

	@media (width >= 1200px) {
		--articles-size: max(2 * var(--article-size) + 1 * var(--article-gap));
	}

	@media (width >= 1440px) {
		--articles-size: max(3 * var(--article-size) + 2 * var(--article-gap));
	}

	@media (width >= 1760px) {
		--articles-size: max(4 * var(--article-size) + 3 * var(--article-gap));
	}

	/* Articles: Heading */

	& > h3 {
		/* Text */
		font-size: 34--rpx;
		font-weight: 700;
		line-height: max(40 / 34);
	}

	& .-articles-content {
		display: flex;

		/* Layout */
		justify-content: center;
		padding: 9--step;

		/* Appearance */
		background: var(--SurfaceColor);
	}
}

.p-article {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--step;
	padding-block-end: 6--step;

	/* Appearance */
	background-color: var(--SurfaceSelectedColor);
	border-radius: 1--step;
	box-shadow: var(--Grey700Color) 0 0 0 1px inset;

	& .-heading {
		font-size: 20--rpx;
		font-weight: 700;
		line-height: calc(24 / 20);
		padding-inline: 6--step;
	}

	& .-content {
		padding-inline: 6--step;
	}

	& .-image {
		inline-size: auto;
		aspect-ratio: 4 / 3;
		margin-block-end: 2--step;
		border-start-start-radius: 1--step;
		border-start-end-radius: 1--step;
	}
}

.p-article-slideshow {
	display: flex;

	/* Layout */
	align-items: center;
	scroll-snap-type: x mandatory;

	/* Interface */
	scroll-behavior: smooth;
	scrollbar-width: none;

	/* Variable */
	--articlecount: 4;
	--articlesize: 74--step;
	--gap: 8--step;

	&:defined {
		justify-content: center;
		overflow: hidden;
	}

	&:not(:defined) {
		inline-size: min(100%, calc(1--articlesize * 1--articlecount + 1--gap * (1--articlecount - 1)));
		gap: 1--gap;
		overflow: auto hidden;
	}

	@media (width < 1080px) {
		--articlecount: 1;
	}

	@media (1080px <= width < 1440px) {
		--articlecount: 2;
	}

	@media (1440px <= width < 1770px) {
		--articlecount: 3;
	}

	&::-webkit-scrollbar, &::-webkit-scrollbar {
		/* Layout */
		width: 0;
		height: 0;
	}

	& .p-article {
		inline-size: 74--step;
		scroll-snap-align: start;
	}
}
