.p-articles {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--step;
	inline-size: 100%;

	& .p-articles-content {
		/* Layout */
		padding-block: 5--step;
		padding-inline: 2--step;

		/* Appearance */
		background-color: var(--SurfaceHeaderColor);
		border-radius: 6--rpx;
		color: var(--PrimaryColor);
	}

	@media (width >= 760px) {
		--articles-size: max(2 * var(--article-size) + 1 * var(--article-gap));

		/* Layout */
		align-self: start;
	}

	@media (width >= 1024px) {
		--articles-size: max(1 * var(--article-size) + 0 * var(--article-gap));
	}

	@media (width >= 1200px) {
		--articles-size: max(2 * var(--article-size) + 1 * var(--article-gap));
	}

	@media (width >= 1440px) {
		--articles-size: max(3 * var(--article-size) + 2 * var(--article-gap));
	}

	@media (width >= 1760px) {
		--articles-size: max(4 * var(--article-size) + 3 * var(--article-gap));
	}

	/* Articles: Heading */

	& > h3 {
		/* Text */
		font-size: 34--rpx;
		font-weight: 700;
		line-height: max(40 / 34);
	}

	& .-articles-content {
		display: flex;

		/* Layout */
		flex-direction: column;

		/* Layout */
		justify-content: center;
		padding-block: 9--step;
		padding-inline: 0;

		/* Appearance */
		background: var(--SurfaceColor);

		@media (width >= 760px) {
			/* Layout */
			padding-inline: 9--step;
		}
	}
}

:root {
	/* Slideshow Variables */
	--articlecount: 4;
	--articlesize: 74--step;
	--gap: 8--step;

	@media (width < 460px) {
		--articlesize: 65--step;
	}

	@media (width < 1080px) {
		--articlecount: 1;
	}

	@media (1080px <= width < 1440px) {
		--articlecount: 2;
	}

	@media (1440px <= width < 1770px) {
		--articlecount: 3;
	}
}

.p-article {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--step;
	padding-block-end: 6--step;
	position: relative;

	/* Appearance */
	background-color: var(--SurfaceSelectedColor);
	border-radius: 1--step;
	box-shadow: var(--Grey700Color) 0 0 0 1px inset;

	& .-heading {
		/* stylelint-disable-next-line value-no-vendor-prefix */
		display: -webkit-box;

		/* Layout */
		overflow: hidden;
		padding-inline: 6--step;

		/* Text */
		font-size: 20--rpx;
		font-weight: 700;
		line-height: calc(24 / 20);
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;

		& > a {
			@media (hover: hover), (pointer: coarse) {
				&::before {
					/* Layout */
					inset: 0;
					position: absolute;
					z-index: 1;

					/* Generated */
					content: "";
				}
			}
		}
	}

	& .-content {
		/* Layout */
		padding-inline: 6--step;

		&::after {
			/* Layout */
			margin-inline-start: 2--step;
			padding: 2--step;

			/* Appearance */
			background: url(/images/arrow.svg) center center no-repeat;

			/* Generated */
			content: "";
		}
	}

	& .-image {
		/* Layout */
		aspect-ratio: 4 / 3;
		inline-size: auto;
		margin-block-end: 2--step;
		margin-block-start: 1--rpx; /* set so image won't overlap the top border */
		border-start-start-radius: 1--step;
		border-start-end-radius: 1--step;
	}

	&:is(:hover, :focus-visible) {
		/* Appearance */
		background: var(--InteractiveMutedColor);
	}
}

.p-article-slideshow {
	display: flex;

	/* Layout */
	align-items: center;

	/* Interface */
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;

	& + .-link {
		display: block;

		/* Layout */
		inline-size: min(100%, calc(1--articlesize * 1--articlecount + 1--gap * (1--articlecount - 1)));

		/* Layout */
		margin: 2--step auto;

		/* Text */
		text-align: end;

		/* Appearance */
		color: var(--Orange600Color);

		&::after {
			/* Layout */
			margin-inline-start: 2--step;
			padding: 2--step;

			/* Appearance */
			background: url(/images/arrow.svg) center center no-repeat;

			/* Generated */
			content: "";
		}
	}

	&:defined {
		/* Layout */
		justify-content: center;
		overflow: hidden;
	}

	&:not(:defined) {
		/* Layout */
		gap: 1--gap;
		inline-size: min(100%, calc(1--articlesize * 1--articlecount + 1--gap * (1--articlecount - 1)));
		overflow: auto hidden;
	}

	&::-webkit-scrollbar, &::-webkit-scrollbar {
		/* Layout */
		block-size: 0;

		/* Layout */
		inline-size: 0;
	}

	& .p-article {
		/* Layout */
		inline-size: 1--articlesize;
		scroll-snap-align: start;
	}
}
