section.p-compliance {
    /* reference */
    --BrightBlue600Color: hsl(209 61% 52%);
    --Pink600Color: hsl(290 100% 30%);
    --Teal600Color: hsl(181 100% 32%);

    & dl {
        display: flex;

        /* layout */
        align-items: flex-start;
        gap: 4--step;
    }

    & .tier {
        /* layout */
        padding: 0.125rem 0.75rem;

        /* typography */
        font-weight: 700;
        font-size: 3--step;
        line-height: calc(16 / 12);
        text-align: center;
        white-space: nowrap;

        /* decoration */
        background-color: var(--color);
        border-radius: 3--rpx;
        color: var(--PrimaryColor);

        &.t1 {
            --color: var(--Teal600Color);
        }

        &.t2 {
            --color: var(--BrightBlue600Color);
        }

        &.t3 {
            --color: var(--Pink600Color);
        }
    }

    & .p {
        line-height: 1.5;
        padding-top: 0.4rem;
        margin-bottom: 0.8rem;
      }

    & .status {
        white-space: nowrap;
        height: 100%;
        border-radius: 3px;
        font-style: normal;
        font-weight: 700;
        font-size: 0.75em;
        letter-spacing: 0.005em;
        line-height: 4--step;
        color: #fff;
        margin-right: 1rem;
        text-transform: uppercase;

        &.-deprecated {
            color: #a4abb6;
        }

        &.-under-review {
            color: #ff3838;
        }

        &.-updated {
            color: #aea8e5;
        }
    }

    & hr {
        margin-top: 4rem;
        margin-bottom: 4rem;
        border-bottom: solid white 1px;
    }

    & .compliancy-list li {
        display: flex;
        align-items: flex-start;
        margin-top: 1.5rem;
    }

    & .beginning-headline {
        margin-bottom: 4.5rem;
    }
    & .ending-headline {
        margin-bottom: 3.5rem;
    }

    & .tier {
        white-space: nowrap;
        height: 100%;
        border-radius: 3px;
        padding: 0.125rem 0.75rem;
        font-style: normal;
        font-weight: 700;
        font-size: 0.75em;
        letter-spacing: 0.005em;
        line-height: 4--step;
        color: #fff;
        margin-right: 1rem;
    }

    & .rule-text[data-status='under-review'] .rule-status {
        color: #c8102e;
    }

    & .rule-text[data-status='updated'] .rule-status {
        color: #786dd3;
    }

    & .rule-text[data-status='deprecated'] .rule-status {
        color: #51555b;
    }

    & .rule-text {
        position: relative;
        bottom: 5--step;
    }

    & .rule {
        display: flex;
        margin-bottom: 1.25rem;
    }

    & .ruleset-link {
        display: inline-flex;
        align-items: center;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1rem;
        margin-left: 1rem;
    }

    & .subname {
        font-size: 5--step;
        font-weight: bold;
    }

    & .rules-name {
        font-weight: 700;
        display: flex;
        font-size: 5--step;
        margin-bottom: 5--step;
        margin-top: 10--step;
    }

    & .ruleset-name {
        margin-left: 1rem;
    }

    & .ruleset-general {
        display: block;
        margin-top: 1.5rem;
    }

    & :where(li)::before {
        content: '';
    }

    & .tier--1 {
        --color: var(--Teal600Color);
    }

    & .tier--2 {
        --color: var(--BrightBlue600Color);
    }

    & .tier--3 {
        --color: var(--Pink600Color);
    }
}
