---
import Layout from 'project:layouts/default/default-layout-with-grid.astro'
import SiteNavigation from 'project:components/site-navigation/site-navigation.astro'
import ContributionFooter from 'project:components/contribution-footer/contribution-footer.astro'
import SiteFooter from 'project:components/site-footer/site-footer.astro'

import './docs-layout.css'

const {
	git: GitHubId,
	height: StorybookPreviewHeight,
	storybook: StorybookId,
	title,
} = Object(Astro.props.content)
---
<script>import './docs-layout.client.js'</script>
<Layout {title} tabtitle={title}>
	<SiteNavigation slot="side" />
	<style is:global define:vars={{ GitHubId, StorybookId, StorybookPreviewHeight }}>
	.storybook-demo {
		--BlockSize: max(1--StorybookPreviewHeight + 6--step);

		block-size: max(1--BlockSize + 6--step);

		& iframe {
			block-size: var(--BlockSize);
		}
	}
	</style>
	<main class="p-content" id="content">
		<slot />
		<ContributionFooter />
	</main>

	<SiteFooter slot="foot" />
</Layout>