---
import Layout from 'project:layouts/default/default-layout-with-grid.astro'
import SiteNavigation from 'project:components/site-navigation/site-navigation.astro'
import ContributionFooter from 'project:components/contribution-footer/contribution-footer.astro'
import SiteFooter from 'project:components/site-footer/site-footer.astro'
import './docs-layout.css'
import compliance from 'project:data/compliance.json'
import ComplianceAside from 'project:components/compliance/compliance-aside.astro'

const {
	git: GitHubId,
	height: StorybookPreviewHeight,
	storybook: StorybookId,
	title,
} = Object(Astro.props.content)
---
<script>import './docs-layout.client.js'</script>
<Layout {title} tabtitle={title}>
	<SiteNavigation slot="side" />
	<style is:global define:vars={{ GitHubId, StorybookId, StorybookPreviewHeight }}>
	.storybook-demo {
		/* preview frame (1--StorybookPreviewHeight) + navigation links (20--step) */
		min-block-size: calc(1--StorybookPreviewHeight + 20--step);

		& iframe {
			block-size: 1--StorybookPreviewHeight;
		}
	}
	</style>
	<main class="p-content" id="content">

		<slot />
		<ComplianceAside compliance={compliance} />
		<ContributionFooter />
		
	</main>
	<SiteFooter slot="foot" />
</Layout>