---
import ComponentDocsLayout from 'project:layouts/component-docs/component-docs-layout.astro';
import TokenSpecTable from 'project:components/token-spec-table/token-spec-table.astro';
import Heading from 'project:components/astro-headings/heading.astro';

const content = {title: "Notification Banner", description: "Events that deserve user attention but don't require a response, may be displayed in a Notification Banner."}
---

<ComponentDocsLayout content={content}>
	<Heading type="h2" title="Anatomy" />

	<div class="spec-container -anatomy">
		<figure>
			<img
				loading="lazy"
				width="952px"
				src="/img/components/notification-banner/notification-banner-anatomy.webp"
				alt="Anatomy Image"
			/>
		</figure>
		<ol>
			<li>Prefix Slot (Optional)</li>
			<li>Status Symbol (Optional)</li>
			<li>Text</li>
			<li>Link (Optional)</li>
			<li>Action Slot (Optional)</li>
			<li>Outer Container</li>
			<li>Inner Container</li>
		</ol>
	</div>

	<Heading type="h2" title="Default Layout" />
	<TokenSpecTable
		tokens={[
			{
				name: 'Container (outer)',
				tokens: [
					'notification-banner-padding-y-large',
					'notification-banner-padding-right',
					'notification-banner-padding-left',
					'notification-banner-color-border-inner-default',
					'notification-banner-color-border-outer-default',
					'notification-banner-radius-outer',
				],
			},
			{
				name: 'Container (inner)',
				tokens: [
					'notification-banner-radius-inner',
					'notification-banner-color-background'
				],
			},
			{
				name: 'Text',
				tokens: [
					'font-heading-5-font-family',
					'font-heading-5-font-size',
					'font-heading-5-font-weight',
					'font-heading-5-line-height',
					'font-heading-5-letter-spacing',
					'notification-banner-color-text'
				],
			},
			{
				name: 'Status Symbol',
				tokens: ['notification-banner-status-symbol-margin-right']
			},
			{
				name: 'Link',
				tokens: [
					'font-heading-5-font-family',
					'font-heading-5-font-size',
					'font-heading-5-font-weight',
					'font-heading-5-line-height',
					'font-heading-5-letter-spacing',
				],
			},
			{
				name: 'Close icon',
				tokens: [
					'color-text-interactive-default'
				],
			},
		]}

	/>

	<Heading type="h2" title="Variants" />

	<Heading type="h3" title="Left Slot" />

	<div class="spec-container -examples">
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-left-slot-variant.webp" alt="Notification Banner with Prefix Slot"/></figure>
	</div>



	<TokenSpecTable
		tokens={[
			{
				name: 'Prefix Slot',
				tokens: [
					'notification-banner-prefix-margin-right',
					'notification-banner-prefix-dimension'
				],
			},
		]}
	/>

	<Heading type="h3" title="Status Symbol" />

	<div class="spec-container -examples">
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-critical-status-variant.webp" alt="Critical Notification Banner"/></figure>
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-caution-status-variant.webp" alt="Caution Notification Banner"/></figure>
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-serious-status-variant.webp" alt="Serious Notification Banner"/></figure>
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-normal-status-variant.webp" alt="Normal Notification Banner"/></figure>
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-standby-status-variant.webp" alt="Standby Notification Banner"/></figure>
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-off-status-variant.webp" alt="Off Notification Banner"/></figure>
	</div>

	<Heading type="h4" title="Normal" />
	<TokenSpecTable
		tokens={[
			{
				name: 'Container (outer)',
				tokens: [
					'notification-banner-color-border-inner-normal',
					'notification-banner-color-border-outer-normal'
				],
			},
		]}
		/>
	<Heading type="h4" title="Caution" />
	<TokenSpecTable
	tokens={[
		{
			name: 'Container (outer)',
			tokens: [
				'notification-banner-color-border-inner-caution',
				'notification-banner-color-border-outer-caution'
			],
		},
	]}
	/>
	<Heading type="h4" title="Serious" />
	<TokenSpecTable
	tokens={[
		{
			name: 'Container (outer)',
			tokens: [
				'notification-banner-color-border-inner-serious',
				'notification-banner-color-border-outer-serious'
			],
		},
	]}
	/>
	<Heading type="h4" title="Critical" />
	<TokenSpecTable
	tokens={[
		{
			name: 'Container (outer)',
			tokens: [
				'notification-banner-color-border-inner-critical',
				'notification-banner-color-border-outer-critical'
			],
		},
	]}
	/>
	<Heading type="h4" title="Standby" />
	<TokenSpecTable
	tokens={[
		{
			name: 'Container (outer)',
			tokens: [
				'notification-banner-color-border-inner-standby',
				'notification-banner-color-border-outer-standby'
			],
		},
	]}
	/>
	<Heading type="h4" title="Off" />
	<TokenSpecTable
	tokens={[
		{
			name: 'Container (outer)',
			tokens: [
				'notification-banner-color-border-inner-off',
				'notification-banner-color-border-outer-off'
			],
		},
	]}
	/>
	<Heading type="h4" title="Default" />
	<TokenSpecTable
	tokens={[
		{
			name: 'Container (outer)',
			tokens: [
				'notification-banner-color-border-inner-default',
				'notification-banner-color-border-outer-default'
			],
		},
	]}
	/>



	<Heading type="h3" title="Sizes" />
	<div class="spec-container -examples">
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-large-size.webp" alt="Large Notification Banner"/></figure>
		<figure><img loading="lazy" width="800" src="/img/components/notification-banner/notification-banner-small-size.webp" alt="Small Notification Banner"/></figure>
	</div>

	<Heading type="h4" title="Small" />
	<TokenSpecTable
		tokens={[
			{
				name: 'Container (Inner)',
				tokens: [
					'notification-banner-padding-y-small',
				],
			},
		]}

	/>

	<Heading type="h4" title="Large" />
	<TokenSpecTable
		tokens={[
			{
				name: 'Container (Inner)',
				tokens: [
					'notification-banner-padding-y-large',
				],
			},
		]}

	/>

</ComponentDocsLayout>