---
import { For } from '@astropub/flow'
import DesignTokenCategory from 'project:components/design-token/DesignTokenCategory.astro'
import DocsLayout from 'project:layouts/docs/docs-layout.astro'
import { componentTokens } from 'project:utils/tokens'

const title = 'Component Tokens'
---
<DocsLayout content={{ title }} file={import.meta.url}>
	<a href="#content" class="h h1">
		<h1>
			{title}
		</h1>
	</a>
	<p>
		Component Tokens represent values used only in specific components within the Astro Design System, organized according to component.
	</p>
	<section>
		<For of={Object.values(componentTokens)}>{category => (
			<DesignTokenCategory theme="dark" {...category} />
		)}</For>
	</section>
</DocsLayout>
<script>
import 'project:components/clipboard-button/ClipboardButtonObserver'
</script>