* {
	/* Layout */
	box-sizing: border-box;
}

:host {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--rpx;

	& :is(:focus-visible) {
		/* Appearance */
		border-radius: var(--EdgeRadius);
		outline: 1--rpx solid var(--FocusDark);
		outline-offset: 2--rpx;
	}
}
