a-slots-control {
	& ul {
		/* Layout */
		margin: 0;

		/* Layout */
		padding: 0;
		list-style: none;

		& li {
			display: flex;

			/* Layout */
			align-items: center;
			padding-block: 1--step;
			position: relative;

			&[disabled] {
				/* Appearance */
				color: var(--Grey500Color);

				& button {
					display: none;
				}
			}

			& button {
				/* Layout */
				padding: 2--step;

				/* Appearance */
				background-color: var(--Grey200Color);

				/* Appearance */
				border: none;

				/* Appearance */
				border: 1px solid transparent;
				border-radius: 3px;
				cursor: pointer;

				&[data-slot-name] {
					/* Layout */
					margin-inline-start: auto;

					&:disabled {
						/* Appearance */
						cursor: not-allowed;
						opacity: .3;
					}
				}

				&[data-slot-hide], &[data-slot-question] {
					/* Layout */
					margin-inline-end: 2--step;
					padding: 0;

					/* Appearance */
					background-color: transparent;
				}

				& svg {
					/* Layout */
					block-size: 5--step;
					inline-size: 5--step;
					fill: var(--Grey500Color);
				}

				&:hover {
					& svg {
						fill: var(--Grey600Color);
					}
				}

				&[aria-selected="true"][data-slot-name] {
					& svg {
						/* Appearance */
						fill: var(--DarkBlue500Color);
					}

					/* Appearance */
					border: 1px solid var(--DarkBlue500Color);
				}
			}

			& span[data-inactive-slot-name] {
				/* Appearance */
				opacity: .3;
			}

			& .slot-hide_question-description {
				/* Layout */
				inset-block-end: 8--step;
				margin: 0;
				padding: 2--step;
				position: absolute;
				z-index: 2;

				/* Text */
				font-size: 14--rpx;

				/* Appearance */
				background-color: var(--Grey200Color);
				border-radius: 3--rpx;
				box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
			}
		}
	}
}
