/* Scroll-Linked Timeline Terms & Calculations
┌─────────────────────────────────────────────
│ Step: Current position in a timeline, a number between 0 and 1.
│ Step{N}: Value at a {N} position in a timeline.
│ {K}-Diff: Difference between a value at Step{0} and a value at Step{1}.
│ {K}-Step: Current value at a current position, i.e. {K}-Diff * {Step}.
└──────────────────────────────────────────────────────────────────────────── */

:root {
	/* Color Reference */
	--BrightBlue200Color: hsl(205 88% 90%);
	--DarkBlue500Color: hsl(202 100% 28%);
	--DarkBlue800Color: hsl(209 39% 17%);
	--Grey200Color: hsl(216 31% 94%);
	--Grey700Color: hsl(216 6% 34%);
	--LinkColor: hsl(23 62% 43%);
	--TextColor: hsl(0 0% 0%);

	@media (width < 1440px) {
		--HeaderEdge: 12--step;
	}

	@media (width >= 1440px) {
		--HeaderEdge: 42--step;
	}
}

.-main {
	/* Appearance */
	background-color: var(--PrimaryColor);
	color: var(--InverseColor);
}

.c-iconlibrary-header {
	/* Layout */
	padding-block: calc(var(--PaddingY)) calc(var(--padding-block-end) + var(--PaddingY-Step));

	/* Appearance */
	background-color: var(--Grey200Color);

	@media (width < 1440px) {
		/* Layout */
		margin-block-end: 8--step;
		padding-inline: 4--step;

		/* Layout Reference */
		--padding-block-end: 9--step;
	}

	@media (width >= 1440px) {
		/* Layout */
		margin-block-end: 24--step;
		padding-inline: calc(100% / 2 - 264--step / 2);

		/* Layout Reference */
		--padding-block-end: 32--step;
	}

	/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

	/* Step Reference */
	--Step: 0;

	/* Mask Edge
	┌───────────
	│ The mask edge transitions from directly below the bottom edge of the
	│ header bounding box to 3rem.
	└─────────────────────────────────────────────────────────────────────────── */

	/* Step Reference */
	--MaskEdge-Step0: 100%;
	--MaskEdge-Step1: var(--HeaderEdge);

	/* Calculation Reference */
	--MaskEdge-Diff: (var(--MaskEdge-Step0) - var(--MaskEdge-Step1));
	--MaskEdge-Step: var(--MaskEdge-Diff) * var(--Step);
	--MaskEdge: (var(--MaskEdge-Step0) - var(--MaskEdge-Step));

	/* Padding Y
	┌───────────
	│ The header padding transitions from 4 steps to 2 steps.
	└─────────────────────────────────────────────────────────────────────────── */

	@media (width < 1440px) {
		/* Step Reference */
		--PaddingY-Step0: 4--step;
		--PaddingY-Step1: 2--step;
	}

	@media (width >= 1440px) {
		/* Step Reference */
		--PaddingY-Step0: 16--step;
		--PaddingY-Step1: 12--step;
	}

	/* Calculation Reference */
	--PaddingY: (var(--PaddingY-Step0) - var(--PaddingY-Step));
	--PaddingY-Diff: (var(--PaddingY-Step0) - var(--PaddingY-Step1));
	--PaddingY-Step: var(--PaddingY-Diff) * var(--Step);

	/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

	&.js {
		/* Layout */
		inset-block-start: 0;
		position: sticky;

		/* Masking */
		mask-image: var(--mask-image);

		/* Masking Reference */
		--mask-image: linear-gradient(rgb(0 0 0 / 100%) calc(var(--MaskEdge)), rgb(0 0 0 / 0%) calc(var(--MaskEdge)));
	}

	& .p-title {
		/* Text */
		font-size: calc(var(--TitleTextSize) * .0625rem);
		font-weight: calc(var(--TitleTextWeight));
		letter-spacing: -.005em;
		line-height: calc(var(--line-height) / var(--TitleTextSize));

		/* Appearance */
		color: var(--DarkBlue800Color);

		@media (width < 1440px) {
			/* Text Reference */
			--line-height: 28;
		}

		@media (width >= 1440px) {
			/* Text Reference */
			--line-height: 72;
		}

		/* Title Text Size
		┌─────────────────
		│ The title text size transitions from 24px to 16px.
		└─────────────────────────────────────────────────────────────────────────── */

		@media (width < 1440px) {
			/* Step Reference */
			--TitleTextSize-Step0: 24;
			--TitleTextSize-Step1: 16;
		}

		@media (width >= 1440px) {
			/* Step Reference */
			--TitleTextSize-Step0: 64;
			--TitleTextSize-Step1: 64;
		}

		/* Calculation Reference */
		--TitleTextSize-Diff: (var(--TitleTextSize-Step0) - var(--TitleTextSize-Step1));
		--TitleTextSize-Step: var(--TitleTextSize-Diff) * var(--Step);
		--TitleTextSize: (var(--TitleTextSize-Step0) - var(--TitleTextSize-Step));

		/* Title Text Weight
		┌───────────────────
		│ The title text weight transitions from 300 to 700.
		└─────────────────────────────────────────────────────────────────────────── */

		@media (width < 1440px) {
			/* Step Reference */
			--TitleTextWeight-Step0: 300;
			--TitleTextWeight-Step1: 700;
		}

		@media (width >= 1440px) {
			/* Step Reference */
			--TitleTextWeight-Step0: 300;
			--TitleTextWeight-Step1: 300;
		}

		/* Calculation Reference */
		--TitleTextWeight-Diff: (var(--TitleTextWeight-Step0) - var(--TitleTextWeight-Step1));
		--TitleTextWeight-Step: var(--TitleTextWeight-Diff) * var(--Step);
		--TitleTextWeight: (var(--TitleTextWeight-Step0) - var(--TitleTextWeight-Step));
	}

	& .p-summary {
		/* Layout */
		max-width: 152--step;

		@media (width < 1440px) {
			/* Layout */
			padding-block-start: 2--step;

			/* Text */
			font-size: 16--rpx;
			font-weight: 300;
			line-height: calc(24 / 16);
		}

		@media (width >= 1440px) {
			/* Layout */
			padding-block-start: 5--step;

			/* Text */
			font-size: 20--rpx;
			font-weight: 300;
			line-height: calc(28 / 20);
		}

		/* Masking */
		mask-image: var(--mask-image);

		/* Masking Reference */
		--mask-image: linear-gradient(rgb(0 0 0 / 100%) calc(var(--SummaryMaskEdgeA)), rgb(0 0 0 / 0%) calc(var(--SummaryMaskEdgeB)));

		/* Summary Mask Edge
		┌───────────────────
		│ The summary mask edges transitions from directly below the summary
		│ bounding box to directly above the summary bounding box.
		└─────────────────────────────────────────────────────────────────────────── */

		@media (width < 1440px) {
			/* Step Reference */
			--SummaryMaskEdge-Step0: 100%;
			--SummaryMaskEdge-Step1: 0%;

			/* Spread Reference */
			--SummaryMaskEdge-Spread: 1rem;
		}

		@media (width >= 1440px) {
			/* Step Reference */
			--SummaryMaskEdge-Step0: 250%;
			--SummaryMaskEdge-Step1: 0%;

			/* Spread Reference */
			--SummaryMaskEdge-Spread: 3rem;
		}

		/* Calculation Reference */
		--SummaryMaskEdgeA-Diff: (var(--SummaryMaskEdge-Step0) - (var(--SummaryMaskEdge-Step1) - var(--SummaryMaskEdge-Spread)));
		--SummaryMaskEdgeA-Step: var(--SummaryMaskEdgeA-Diff) * var(--Step);
		--SummaryMaskEdgeA: (var(--SummaryMaskEdge-Step0) - var(--SummaryMaskEdgeA-Step));

		/* Calculation Reference */
		--SummaryMaskEdgeB-Diff: (var(--SummaryMaskEdge-Step0) + var(--SummaryMaskEdge-Spread) - var(--SummaryMaskEdge-Step1));
		--SummaryMaskEdgeB-Step: var(--SummaryMaskEdgeB-Diff) * var(--Step);
		--SummaryMaskEdgeB: (var(--SummaryMaskEdge-Step0) + var(--SummaryMaskEdge-Spread) - var(--SummaryMaskEdgeB-Step));
	}
}

.c-iconlibrary-filters {
	display: grid;

	/* Layout */
	grid-template-columns: calc(var(--GroupsSize)) calc(var(--SearchSize));
	padding-block: 8--rpx;

	/* Appearance */
	background-color: var(--PrimaryColor);
	box-shadow: 0 1px 0 0 hsl(0 0% 75% / calc(var(--BorderOpacity))), 0 2px 0 0 hsl(0 0% 100% / calc(var(--BorderOpacity)));
	color: var(--InverseColor);

	&[data-focus="groups"] {
		--Step: 1;

		/* Animation */
		transition: grid-template-columns 200ms;
	}

	@media (width < 1440px) {
		/* Layout */
		padding-inline: 4--step;

		&[data-focus="search"] {
			--BorderOpacity: 1;
			--Step: 0;

			/* Animation */
			transition: box-shadow 200ms, grid-template-columns 200ms;
		}
	}

	@media (width >= 1440px) {
		/* Layout */
		padding-inline: calc(100% / 2 - 264--step / 2);
	}

	/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

	/* Step Reference */
	--Step: 0;

	/* Groups Size
	┌─────────────
	│ The groups size transitions from 0% to 100% minus 12 steps.
	└─────────────────────────────────────────────────────────────────────────── */

	@media (width < 1440px) {
		/* Step Reference */
		--GroupsSize-Step0: 0%;
		--GroupsSize-Step1: (100% - 12--step);
	}

	@media (width >= 1440px) {
		/* Step Reference */
		--GroupsSize-Step0: 0%;
		--GroupsSize-Step1: 50--step;
	}

	/* Calculation Reference */
	--GroupsSize-Diff: (var(--GroupsSize-Step0) - var(--GroupsSize-Step1));
	--GroupsSize-Step: var(--GroupsSize-Diff) * var(--Step);
	--GroupsSize: (var(--GroupsSize-Step0) - var(--GroupsSize-Step));

	/* Search Size
	┌──────────────
	│ The search size transitions from 100% to 12 steps.
	└─────────────────────────────────────────────────────────────────────────── */

	@media (width < 1440px) {
		/* Step Reference */
		--SearchSize-Step0: 100%;
		--SearchSize-Step1: 12--step;
	}

	@media (width >= 1440px) {
		/* Step Reference */
		--SearchSize-Step0: 100%;
		--SearchSize-Step1: calc(100% - 50--step);
	}

	/* Calculation Reference */
	--SearchSize-Diff: (var(--SearchSize-Step0) - var(--SearchSize-Step1));
	--SearchSize-Step: var(--SearchSize-Diff) * var(--Step);
	--SearchSize: (var(--SearchSize-Step0) - var(--SearchSize-Step));

	/* Border Opacity
	┌────────────────
	│ The border opacity transitions from 0% to 100%.
	└─────────────────────────────────────────────────────────────────────────── */

	/* Step Reference */
	--BorderOpacity-Step0: 0%;
	--BorderOpacity-Step1: 100%;

	/* Calculation Reference */
	--BorderOpacity-Diff: (var(--BorderOpacity-Step0) - var(--BorderOpacity-Step1));
	--BorderOpacity-Step: var(--BorderOpacity-Diff) * var(--Step);
	--BorderOpacity: (var(--BorderOpacity-Step0) - var(--BorderOpacity-Step));

	/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

	&.js {
		/* Layout */
		inset-block-start: var(--HeaderEdge);
		position: sticky;
	}

	& > .x-groups {
		/* Layout */
		overflow: hidden;

		& > select {
			display: block;

			/* Layout */
			block-size: 12--step;
			inline-size: 120--rpx;
			margin: 0;
			padding-inline: 24--rpx;

			/* Text */
			font: inherit;
			letter-spacing: inherit;
			text-align: inherit;
			text-transform: inherit;
			word-spacing: inherit;

			/* Appearance */
			appearance: auto;
			background-color: transparent;
			border: none;
			border-radius: 6--rpx;
			box-shadow: transparent 0 0 0 1px inset;
			color: inherit;
		}
	}

	& > .x-search > *::part(label) {
		/* Masking */
		mask-image: var(--mask-image);

		/* Masking Reference */
		--mask-image: linear-gradient(90deg, rgb(0 0 0 / 100%) calc(var(--ControlMaskEdge) - 2em), rgb(0 0 0 / 0%) calc(var(--ControlMaskEdge)));

		/* Control Mask Edge
		┌───────────────────
		│ The control mask edge transitions from 100% to -4 steps.
		└─────────────────────────────────────────────────────────────────────────── */

		@media (width < 1440px) {
			/* Step Reference */
			--ControlMaskEdge-Step0: 100%;
			--ControlMaskEdge-Step1: -4--step;
		}

		@media (width >= 1440px) {
			/* Step Reference */
			--ControlMaskEdge-Step0: 100%;
			--ControlMaskEdge-Step1: 100%;
		}

		/* Calculation Reference */
		--ControlMaskEdge-Diff: (var(--ControlMaskEdge-Step0) - var(--ControlMaskEdge-Step1));
		--ControlMaskEdge-Step: var(--ControlMaskEdge-Diff) * var(--Step);
		--ControlMaskEdge: (var(--ControlMaskEdge-Step0) - var(--ControlMaskEdge-Step));
	}
}
