<button id="control" class="control" type="button" aria-haspopup="true" aria-controls="content" aria-label="navigation links" aria-expanded="false">
	<svg class="icon -enter" role="none" viewBox="0 0 32 32" width="32" height="32" aria-label="open navigation links"><use href="/images/menu-enter.svg#content"></use></svg>
	<svg class="icon -leave" role="none" viewBox="0 0 32 32" width="32" height="32" aria-label="close navigation links"><use href="/images/menu-leave.svg#content"></use></svg>
</button>
<span id="content" class="content" aria-labelledby="control">
	<slot></slot>
</span>
