
main {
	/** Layout */
	max-inline-size: 180--step;
	padding-block: 8--step;
	padding-inline: 4--step;

	@media (width > 1024px) {
		/* Layout */
		padding-inline: 8--step;
	}

	& aside,
	& dl,
	& figure,
	& form,
	& ol,
	& p,
	& pre,
	& table,
	& ul {
		/* Layout */
		margin-block-start: 4--step;
	}

	& h1:where(:not([class])) {
		/* Layout */
		margin-block-end: 3--step;
		padding-block-end: 3--step;

		/* Typography */
		font-size: 2em;
		font-weight: 700;
		line-height: 1;
	}

	& h2:where(:not([class])) {
		/* Layout */
		margin-block: 8--step 2--step;
		padding-block: 2--step;

		/* Typography */
		font-size: 22--rpx;
		font-weight: 600;
		line-height: calc(24 / 22);
	}

	& :is(h3, h4, h5):where(:not([class])) {
		/* Layout */
		margin-block: 4--step 1--step;
		padding-block: 2--step;

		/* Typography */
		font-size: 18--rpx;
		font-weight: 700;
		line-height: calc(20 / 18);
	}

	& ul {
		/* Layout */
		list-style: disc;

		/* Layout */
		padding-inline-start: 4--step;

		& ul {
			/* Layout */
			margin-block-start: 2--step;
			padding-inline-start: 5--step;
		}
	}

	& li ~ li {
		/* Layout */
		margin-block-start: 2--step;
	}

	& table {
		/* Layout */
		min-inline-size: 100%;

		/* Text */
		font-size: 15--rpx;
		line-height: calc(16 / 15);
	}

	& td, & th {
		/* Layout */
		padding: 2--step;

		/* Type */
		text-align: start;
		white-space: nowrap;
	}

	& td img {
		/* Layout */
		max-inline-size: none;
	}

	& thead tr {
		/* Appearance */
		box-shadow: var(--TableHeadingBorderColor) 0 -2px 0 0 inset;
	}

	& a:where(:not([class])) {
		@nest li &, p & {
			&:focus-visible {
				/* Appearance */
				background-color: var(--InverseColor);
				color: var(--Orange400Color);
			}

			&:not(:focus-visible) {
				/* Text */
				text-decoration: underline;
				text-decoration-thickness: 1.25px;

				/* Text */
				text-decoration-color: var(--LinkColor);

				&:hover {
					/* Text */
					text-decoration-style: double;
					text-decoration-thickness: 1.5px;
				}
			}
		}
	}

	& img {
		/* Layout */
		block-size: auto;
		max-inline-size: 100%;
	}

	& figcaption {
		/* Layout */
		padding-block: 2--step;

		/* Text */
		font-size: 14--rpx;
		line-height: calc(20 / 14);
	}

	& ol {
		/* Layout */
		padding-inline-start: 8--step;

		/* Counter */
		counter-reset: counter;

		& > li {
			/* Counter */
			counter-increment: counter;

			&::before {
				display: inline-block;

				/* Layout */
				block-size: var(--size);

				/* Layout */
				float: inline-start;
				inline-size: var(--size);

				/* Layout */
				margin-block-start: -.25--step;
				margin-inline: -8--step 1--step;

				/* Text */
				font-weight: 700;
				line-height: var(--size);
				text-align: center;

				/* Appearance */
				background: var(--TextColor);
				border-radius: 50%;
				color: var(--PrimaryColor);

				/* Generated */
				content: counter(counter);

				/* Reference */
				--size: 6--step;
			}
		}
	}
}
