:host(:not([hidden])) {
	display: grid;

	/* Layout */
	block-size: 100%;
	grid-template-rows: 44--rpx auto;
	max-block-size: var(--max-height);
	min-inline-size: 54--step;
	overflow: hidden;
	padding-block-end: 1px;

	@media (width < 700px) {
		/* Layout */
		grid-template-rows: auto;
	}

	@media (width >= 700px) {
		/* Layout */
		grid-template-rows: 44--rpx auto;

		/* Appearance */
		box-shadow: var(--EdgeColor) 0 -1px 0 0;
	}

	& :is(:focus-visible) {
		/* Appearance */
		border-radius: 3--rpx;
		outline: 1--rpx solid var(--FocusDark);
		outline-offset: 2--rpx;
	}

	&::part(heading) {
		display: flex;

		/* Layout */
		gap: 3--step;
		padding-block: 10--rpx;
		padding-inline: 12--rpx;

		/* Appearance */
		background-color: var(--BackColor);
		color: var(--FillColor);
		cursor: default;
		user-select: none;

		/* Reference */
		--BackColor: var(--Grey200Color);
		--FillColor: var(--Grey800Color);

		@media (width < 700px) {
			display: none;
		}
	}

	&::part(content) {
		display: grid;

		/* Layout */
		flex-flow: column;
		gap: 24--rpx 28--rpx;
		justify-content: space-between;
		overflow-y: auto;
		padding: 12--rpx;

		@media (width < 700px) {
			/* Layout */
			grid-template-columns: repeat(auto-fill, 164--rpx);
			padding-block: 24px;
		}

		@media (width >= 700px) {
			/* Layout */
			display: flex;

			/* Layout */
			justify-content: flex-start;
			padding-block: 8px 16px;
		}
	}

	& button {
		/* Layout */
		margin-inline-start: auto;

		/* Layout */
		padding: 0;

		/* Appearance */
		background-color: transparent;
		border: none;

		/* Appearance */
		cursor: pointer;
		fill: var(--Grey700Color);

		& svg {
			/* Layout */
			display: block;

			/* Layout */
			block-size: 5--step;
			inline-size: 5--step;
		}

		&:hover {
			fill: var(--InverseColor);
		}
	}

	& svg {
		/* Layout */
		block-size: 6--step;
		inline-size: 6--step;
		fill: var(--Grey700Color);
	}
}
