* {
	/* Layout */
	box-sizing: border-box;
}

input {
	/* Layout */
	margin: 0;
	padding: 0;

	/* Text */
	font: inherit;

	/* Appearance */
	appearance: none;
	background-color: transparent;
	color: inherit;
	border-width: 0;

	&::-webkit-search-cancel-button {
		display: none;
	}
}

label {
	/* Text */
	white-space: nowrap;
}

:host {
	display: grid;

	/* Layout */
	gap: 16--rpx;
	grid-template-columns: 28--rpx auto;
	inline-size: 100%;
	overflow: hidden;
	padding-block: 10--rpx;
	padding-inline: 10--rpx;

	/* Text */
	font-size: 16--rpx;
	line-height: calc(28 / 16);

	/* Appearance */
	border-radius: 6--rpx;
	box-shadow: var(--Grey700Color) 0 0 0 1px inset;

	&::part(field) {
		display: grid;

		/* Layout */
		grid-area: 1 / 2 / 2 / 3;
	}

	&::part(label), &::part(control) {
		/* Layout */
		grid-area: 1 / 1 / 2 / 2;
	}

	&::part(icon) {
		/* Layout */
		block-size: 28--rpx;
		grid-area: 1 / 1 / 2 / 2;
		inline-size: 28--rpx;
	}

	&::part(label) {
		/* Appearance */
		color: hsl(217 11% 68%);
		opacity: 0;

		/* Animation */
		transition: opacity 40ms;
	}

	&::part(blank-label) {
		/* Appearance */
		opacity: 1;
	}
}
