.p-explainer {
	display: flex;

	/* Layout */
	inline-size: min(100%, 380--step);

	/* Appearance */
	background-color: var(--SurfaceHeaderColor);
	border-radius: 6--rpx;
	color: var(--PrimaryColor);

	@media (width < 1200px) {
		/* Layout */
		flex-flow: column;
		gap: 5--step;
	}

	@media (width >= 1200px) {
		/* Layout */
		gap: 8--step;
	}

	@media (width < 1520px) {
		/* Layout */
		margin-block-start: 8--step;
		padding-block: 5--step;
		padding-inline: 5--step;
	}

	@media (width >= 1520px) {
		/* Layout */
		gap: 20--step;
		margin-block-start: 8--step;
		padding-block: 9--step;
		padding-inline: 17--step;
	}

	& .x-card {
		position: relative;
		display: flex;
		box-shadow: 0 0 0 1px inset var(--Grey700Color);

		--padding-block: 5--step;
		--padding-inline: 10--step;

		/* Layout */
		flex-basis: 100%;
		flex-flow: column;
		padding-block: var(--padding-block);
		padding-inline: var(--padding-inline);

		/* Appearance */
		background-color: var(--SurfaceSelectedColor);
		border-radius: 3--rpx;

		&:is(:hover, :focus-visible) {
			background: var(--InteractiveMutedColor);
		}
	}

	& .x-card {
		@media (width < 800px) {
			--padding-block: 6--step;
			--padding-inline: 5--step;
		}

		& svg {
			display: block;

			/* parent layout */
			align-self: center;
			block-size: min(100%, 24--step);
			inline-size: auto;

			/* Layout */
			max-inline-size: 100%;
			object-fit: contain;
		}

		& h3 {
			/* Text */
			font-size: 24--rpx;
			font-weight: 600;
			line-height: calc(28 / 24);
		}

		& > svg + h3 {
			/* Layout */
			margin-block-start: 6--step;
		}

		& p {
			/* Layout */
			flex-grow: 1;
			margin-block-start: 5--step;

			&::after {
				content: "";
				background: url(/images/arrow.svg) center center no-repeat;
				padding: 2--step;
				margin-inline-start: 2--step;
			}
		}

		& a {
			color: var(--PrimaryColor);
			cursor: pointer;

			&:is(:hover, :focus-visible) {
				/* Appearance */
			}

			@media (hover: hover) {
				&::before {
					content: "";
					position: absolute;
					inset: 0;
					z-index: 1;
				}
			}
		}
	}
}
