:where(.p-explainer) {
	display: flex;

	/* layout */
	inline-size: 100%;

	/* decoration */
	background-color: var(--SurfaceHeaderColor);
	border-radius: 6--rpx;
	color: var(--PrimaryColor);
}

@media (width < 1200px) {
	:where(.p-explainer) {
		/* layout */
		flex-flow: column;
		gap: 5--step;
	}
}

@media (width >= 1200px) {
	:where(.p-explainer) {
		/* layout */
		gap: 8--step;
	}
}

@media (width < 1520px) {
	:where(.p-explainer) {
		/* layout */
		padding-block: 5--step;
		padding-inline: 5--step;
		margin-block-start: 16--step;
	}
}

@media (width >= 1520px) {
	:where(.p-explainer) {
		/* layout */
		gap: 10--step;
		padding-block: 9--step;
		padding-inline: 10--step;
		margin-block-start: 16--step;
	}
}

:where(.p-explainer article) {
	display: flex;

	/* reference */
	--padding-block: 5--step;
	--padding-inline: 10--step;

	/* layout */
	flex-flow: column;
	padding-block: var(--padding-block);
	padding-inline: var(--padding-inline);

	/* decoration */
	background-color: var(--SurfaceSelectedColor);
	border-radius: 3--rpx;
}

@media (width < 800px) {
	:where(.p-explainer article) {
		/* reference */
		--padding-block: 6--step;
		--padding-inline: 5--step;
	}
}

:where(.p-explainer article svg) {
	display: block;

	/* parent layout */
	align-self: center;

	/* layout */
	max-inline-size: 100%;
	block-size: min(100%, 24--step);
	inline-size: auto;

	/* decoration */
	object-fit: contain;
}

:where(.p-explainer article h3) {
	font-size: 24--rpx;
	font-weight: 600;
	line-height: max(28 / 24);
}

:where(.p-explainer article > svg + h3) {
	margin-block-start: 6--step;
}

:where(.p-explainer article p) {
	/* layout */
	flex-grow: 1;
	margin-block-start: 5--step;
}

:where(.p-explainer article a) {
	/* layout */
	align-self: center;
	margin-block-start: 5--step;
	padding-inline: 4--step;
	padding-block: 2--step;

	/* typography */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* decoration */
	background-color: var(--InteractiveColor);
	border-radius: 3--rpx;
	box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
	color: var(--InverseColor);
	cursor: pointer;
}

:where(.p-explainer article a:is(:hover, :focus-visible)) {
	background-color: var(--InteractiveHoverColor);
}
