---
import type explainer from 'project:data/home-explainer.json'
import { For } from '@astropub/flow'
import Image from 'project:components/image/image'
import './home-explainer.css'

const { data } = Astro.props as typeof explainer

// const slugify = (value) => value.replace(/[^\w]/g, '-').toLowerCase()
---
<section class="p-explainer" id="explainer" aria-label="getting started">
	<div class="p-explainer-heading">
		<h3>Get Started</h3>
	</div>
	<div class="p-explainer-content">
		<For of={data}>{(item) => (
			<article class="x-card">
				<Image {...item.image.data} aria-hidden="true" />
				<h3><a href={item.action.data.url}>{item.heading.data}</a></h3>
				<p>{item.content.data}</p>
			</article>
		)}</For>
	</div>

</section>