.p-explainer {
	display: flex;

	/* Layout */
	inline-size: 100%;

	/* Appearance */
	background-color: var(--SurfaceHeaderColor);
	border-radius: 6--rpx;
	color: var(--PrimaryColor);

	@media (width < 1200px) {
		/* Layout */
		flex-flow: column;
		gap: 5--step;
	}

	@media (width >= 1200px) {
		/* Layout */
		gap: 8--step;
	}

	@media (width < 1520px) {
		/* Layout */
		margin-block-start: 16--step;
		padding-block: 5--step;
		padding-inline: 5--step;
	}

	@media (width >= 1520px) {
		/* Layout */
		gap: 10--step;
		margin-block-start: 16--step;
		padding-block: 9--step;
		padding-inline: 10--step;
	}

	& article {
		display: flex;

		--padding-block: 5--step;
		--padding-inline: 10--step;

		/* Layout */
		flex-flow: column;
		padding-block: var(--padding-block);
		padding-inline: var(--padding-inline);

		/* Appearance */
		background-color: var(--SurfaceSelectedColor);
		border-radius: 3--rpx;
	}

	& article {
		@media (width < 800px) {
			--padding-block: 6--step;
			--padding-inline: 5--step;
		}

		& svg {
			display: block;

			/* parent layout */
			align-self: center;
			block-size: min(100%, 24--step);
			inline-size: auto;

			/* Layout */
			max-inline-size: 100%;
			object-fit: contain;
		}

		& h3 {
			/* Text */
			font-size: 24--rpx;
			font-weight: 600;
			line-height: max(28 / 24);
		}

		& > svg + h3 {
			/* Layout */
			margin-block-start: 6--step;
		}

		& p {
			/* Layout */
			flex-grow: 1;
			margin-block-start: 5--step;
		}

		& a {
			/* Layout */
			align-self: center;
			margin-block-start: 5--step;
			padding-block: 2--step;
			padding-inline: 4--step;

			/* Text */
			font-size: 16--rpx;
			line-height: max(20 / 16);

			/* Appearance */
			background-color: var(--InteractiveColor);
			border-radius: 3--rpx;
			box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
			color: var(--InverseColor);
			cursor: pointer;

			&:is(:hover, :focus-visible) {
				/* Appearance */
				background-color: var(--InteractiveHoverColor);
			}
		}
	}
}
