.p-case-studies {
	display: flex;

	> dialog {
		/* Layout */
		position: fixed;

		/* Text */
		font-size: 4--step;
		font-weight: 400;
		letter-spacing: .5%;

		/* Appearance */
		background: var(--SurfaceColor);
		border: none;
		border-radius: var(--EdgeRadius);
		color: var(--PrimaryColor);

		& :where(:focus-visible) {
			/* Appearance */
			outline-color: var(--FocusLight);
		}

		&::backdrop {
			/* Appearance */
			background-color: var(--DarkBlue950Color);
			opacity: .8;
		}
	}
}

.p-case-studies-button {
	/* Layout */
	padding-block: 2--step;
	padding-inline: 8--step;

	/* Text */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* Appearance */
	background-color: var(--InteractiveColor);
	border-radius: var(--EdgeRadius);
	box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
	color: var(--InverseColor);
	cursor: pointer;

	&.secondary {
		/* Appearance */
		background-color: unset;
		color: var(--InteractiveColor);
	}

	&:is(:hover, :focus-visible) {
		/* Appearance */
		background-color: var(--InteractiveHoverColor);
		box-shadow: var(--InteractiveHoverColor) 0 0 0 1px inset;

		&.secondary {
			/* Appearance */
			background-color: unset;
			color: var(--InteractiveHoverColor);
		}
	}
}
