---
import './glossary-search-categories.css'
import scriptURL from './glossary-search-categories.js?url'
---
<div class="p-category-select">
	<label for="glossary-categories">All Categories</label>
	<select id="glossary-category-select" name="glossary-categories">
		<option value="content" style="font-size:10px">All Categories</option>
	</select><script defer src={scriptURL} />
</div>