:host {
	display: flex;

	/* Layout */
	flex-flow: column;

	/* Layout */
	gap: 16--rpx;

	/* Layout */
	max-inline-size: 46--step;

	&::part(label) {
		display: block;

		/* Text */
		font-weight: 700;

		/* Appearance */
		color: var(--Grey800Color);
	}

	&::part(hidden-label) {
		display: none;
	}

	&::part(note) {
		/* Text */
		font-size: 14--rpx;
		line-height: 1.25;
	}
}
