:host {
	& slot[name="title"] {
		/* Layout */
		margin-block-end: 5--step;

		/* Text */
		font-size: 20--rpx;
		font-weight: 500;

		@media (width < 1024px) {
			display: none;
		}
	}

	& *:focus-visible {
		/* Appearance */
		outline: 1--rpx solid var(--FocusDark);
		outline-offset: 2--rpx;
	}

	& .widget_content {
		/* Layout */
		position: relative;

		& h3 {
			/* Layout */
			margin-block-end: 5--step;

			/* Text */
			font-size: 20--rpx;
			font-weight: 500;
		}

		& p {
			/* Text */
			font-size: 16--rpx;
		}

		& button {
			/* Layout */
			padding-block: 1--step;
			padding-inline: 4--step;

			/* Text */
			font-size: 16--rpx;
			line-height: 24--rpx;

			/* Appearance */
			background-color: var(--PrimaryColor);

			/* Appearance */
			border: 1px solid var(--DarkBlue500Color);

			/* Appearance */
			border-radius: 3px;
			cursor: pointer;

			&.widget_vote-button {
				display: flex;

				/* Layout */
				padding: 2--step;

				&:first-child {
					/* Layout */
					margin-inline-end: 2--step;
				}

				& svg {
					/* Text */
					vertical-align: middle;

					& path {
						fill: var(--DarkBlue500Color);
					}
				}

				&.selected {
					/* Appearance */
					background-color: var(--DarkBlue400Color);
					border: 1px solid var(--DarkBlue500Color);

					& svg path {
						fill: var(--PrimaryColor);
					}
				}
			}

			&.widget_primary-button {
				/* Appearance */
				background-color: var(--DarkBlue500Color);
				color: var(--PrimaryColor);

				&:disabled {
					/* Appearance */
					cursor: not-allowed;
					opacity: .4;
				}
			}

			&.widget_secondary-button {
				/* Layout */
				margin-inline-end: 3--step;

				/* Appearance */
				color: var(--DarkBlue500Color);
			}
		}

		& .widget_rating-group-wrapper {
			display: flex;

			/* Layout */
			align-items: center;

			/* Layout */
			margin-block-start: 6--step;

			& .widget_rate-group {
				display: flex;

				/* Layout */
				justify-content: center;
				padding-inline-start: 8--step;

				& .button {
					/* Layout */
					margin-block-start: 0;
				}
			}
		}

		& .widget_user-receive-response-wrapper {
			display: flex;

			/* Layout */
			align-items: center;
			gap: 2--step;
			justify-content: center;

			& input[type="checkbox"] {
				/* Layout */
				margin: 0;

				/* Appearance */
				appearance: none;

				/* Appearance */
				background-color: var(--PrimaryColor);

				&::after {
					display: flex;

					/* Layout */
					block-size: 5--step;
					inline-size: 5--step;

					/* Appearance */
					background-color: var(--PrimaryColor);
					border-radius: var(--EdgeRadius);
					box-shadow: var(--DarkBlue400Color) 0 0 0 1px inset;

					/* Generated */
					content: "";
				}

				&:checked::after {
					/* Appearance */
					background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEzIDEyIiBmaWxsPSJub25lIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjQxNDk1IDExLjI3MTJMNi41NjIxIDkuNjMyOTFMNi41NjIwNiA5LjYzMjg5TDEyLjI5NzggMS40NDEzOEwxMC42NTk1IDAuMjk0MjI5TDQuOTIzNzYgOC40ODU3M0wxLjY0NzE5IDYuMTkxNDVMMC41MDAwMzUgNy44Mjk3NkwzLjc3NjYxIDEwLjEyNEwzLjc3NjYgMTAuMTI0MUw1LjQxNDkgMTEuMjcxMkw1LjQxNDkxIDExLjI3MTJMNS40MTQ5NSAxMS4yNzEyWiIgZmlsbD0iIzAwNUE4RiIvPgo8L3N2Zz4=");
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}

		& .current-url {
			display: none;
		}

		& textarea, input:not([type="checkbox"]) {
			/* Layout */
			box-sizing: border-box;

			/* Layout */
			inline-size: 100%;

			/* Layout */
			padding: 2--step;

			/* Text */
			font: inherit;

			/* Appearance */
			background-color: #fafafa;
			border: 1px solid var(--DarkBlue400Color);

			/* Appearance */
			border-radius: 3px;
		}

		& textarea {
			/* Layout */
			block-size: 31--step;

			/* Layout */
			margin-block-start: 6--step;
		}

		& input {
			/* Layout */
			margin-block-start: 3--step;

			&:invalid {
				/* Appearance */
				outline: 1px solid #ff3838;
			}

			&[type="radio"] {
				display: none;
			}
		}

		& .widget_button-group {
			display: flex;

			/* Layout */
			justify-content: flex-end;
			margin-block-start: 6--step;
		}

		& .widget_success {
			display: flex;
			display: none;

			/* Layout */
			align-items: center;
			block-size: 100%;
			block-size: 0;
			flex-direction: column;
			inline-size: 100%;

			/* Layout */
			inset-block-start: 50--rpx;
			inset-inline-end: 0;
			justify-content: center;
			position: absolute;

			/* Appearance */
			background-color: var(--PrimaryColor);
			opacity: 0;

			/* Animation */
			transition: opacity 200ms ease-in;

			@media (width < 1024px) {
				/* Layout */
				inset-block-start: 0;
			}

			& .widget_success-interior {
				/* Layout */
				position: relative;
			}

			&.-active {
				display: flex;

				/* Layout */
				block-size: 100%;

				/* Appearance */
				opacity: 1;
			}

			& svg {
				fill: var(--DarkBlue500Color);

				&.success {
					fill: var(--Orange700Color);

					/* Animation */
					transition: fill 400ms ease-in;
				}
			}

			& .widget_success-orange-circle {
				display: flex;

				/* Layout */
				align-items: center;

				/* Layout */
				block-size: calc(5--step - 1px);
				box-sizing: content-box;
				inline-size: calc(5--step - 1px);
				justify-content: center;
				position: absolute;

				& span {
					/* Appearance */
					display: block;

					/* Layout */
					block-size: 2--step;

					/* Layout */
					box-sizing: content-box;
					inline-size: 2--step;

					/* Appearance */
					background-color: var(--DarkBlue500Color);
					border-radius: 100%;
					opacity: 1;

					/* Animation */
					animation-duration: 1200ms;

					/* Animation */
					animation-iteration-count: infinite;
					animation-name: antennaDot;
					//transition: opacity 200ms ease-in;
				}

				&.circle-1 {
					/* Layout */
					/* inset-block-start: 146px;
					inset-inline-start: 174px; */
					inset-block-start: 26px;
					inset-inline-start: 92px;

					& span {
						/* Layout */
						display: block;

						/* Animation */
						animation-delay: 0s;
					}
				}

				&.circle-2 {
					/* Layout */
					/* inset-block-start: 158px;
					inset-inline-start: 161px; */
					inset-block-start: 37px;
					inset-inline-start: 78px;

					& span {
						/* Animation */
						animation-delay: 400ms;
					}
				}

				&.circle-3 {
					/* Layout */
					/* inset-block-start: 170px;
					inset-inline-start: 148px; */
					inset-block-start: 49px;
					inset-inline-start: 63px;

					& span {
						/* Animation */
						animation-delay: 800ms;
					}
				}
			}

			& .widget_success-text {
				/* Layout */
				margin-block-start: 0;

				/* Layout */
				padding-block-start: 10--step;

				/* Text */
				font-size: 24--rpx;
				line-height: 28--rpx;
				text-align: center;

				/* Appearance */
				color: var(--Grey900Color);
			}
		}

		& .widget_fail {
			display: flex;
			display: none;

			/* Layout */
			align-items: center;
			block-size: 100%;
			block-size: 0;
			flex-direction: column;
			inline-size: 100%;

			/* Layout */
			inset-block-start: 0;
			inset-inline-end: 0;
			justify-content: center;
			position: absolute;

			/* Appearance */
			background-color: var(--Grey200Color);
			opacity: 0;

			/* Animation */
			transition: opacity 200ms ease-in;

			&.-active {
				display: flex;

				/* Layout */
				block-size: 100%;

				/* Appearance */
				opacity: 1;
			}

			& svg path {
				fill: var(--Red700Color);
			}

			& .widget_fail-text {
				/* Layout */
				padding-block-start: 10--step;

				/* Text */
				font-size: 24--rpx;
				line-height: 28--rpx;
				text-align: center;

				/* Appearance */
				color: var(--Grey900Color);
			}
		}
	}
}

/* Context Styles */

:host([collapsible="true"]) {
	& .widget_content {
		& .widget_success {
			/* Layout */
			inset-block-start: 0;

			/* Appearance */
			background-color: var(--Grey200Color);
		}
	}

	& .widget_rating-group-wrapper {
		/* Layout */
		flex-direction: column;
		margin-block-start: 0;

		& .widget_rate-group {
			/* Layout */
			margin-block-start: 6--step;

			/* Layout */
			padding-inline-start: 0;
		}
	}

	& slot[name="title"] {
		@media (width < 1024px) {
			display: block;
		}
	}
}

@keyframes antennaDot {
	from {
		/* Appearance */
		background-color: var(--DarkBlue500Color);
	}

	30% {
		/* Appearance */
		background-color: var(--DarkBlue500Color);

		/* Transform */
		transform: scale(1);
	}

	50% {
		/* Appearance */
		background-color: var(--Orange700Color);

		/* Transform */
		transform: scale(1.5);
	}

	to {
		/* Appearance */
		background-color: var(--DarkBlue500Color);
	}
}
