---
import Icon from './icon.astro'
import './icon-link.css'

const {
	type,
	...attrs
} = Astro.props
---
<a class={Astro.props.class ? `${Astro.props.class} icon` : 'icon'} {...attrs}>
	<Icon type={type} />
	<slot />
</a>