.p-footer {
	/* Layout */
	padding-block: 7.5--step;
	padding-inline: 11--step;
	position: relative;

	/* Text */
	font-size: 14--rpx;
	line-height: max(20 / 14);

	/* Appearance */
	background-color: var(--color-background-base-default, #101923);
	box-shadow: var(--color-wireframe-primary) 0 1px0 0 inset;

	@media (width < 1024px) {
		display: flex;

		/* Layout */
		flex-flow: column;
		gap: 8--step;

		& .p-footer-author {
			/* Layout */
			align-self: center;
		}

		& .p-footer-navigation {
			display: flex;

			/* Layout */
			justify-content: center;
		}

		& .p-footer-social {
			/* Text */
			text-align: center;
		}

		& .p-footer-social-navigation :where(ul) {
			/* Layout */
			justify-content: center;
		}
	}

	@media (width >= 1024px) {
		display: flex;

		/* Layout */
		flex-wrap: wrap;
		gap: 8--step;

		& .p-footer-author {
			/* Layout */
			flex-basis: 100%;
		}

		& .p-footer-navigation {
			/* Layout */
			flex-basis: calc(50% - 4--step);
		}

		& .p-footer-social {
			/* Layout */
			flex-basis: calc(50% - 4--step);
			justify-self: flex-end;
		}
	}

	@media (width >= 1278px) {
		display: flex;

		/* Layout */
		flex-direction: row;

		/* Layout */
		gap: 4--step;
		justify-content: space-between;

		/* Layout */
		/* grid-template-columns: 68--step 1fr min(25%, 79--step); */
	}

	@media (width >= 1520px) {
		display: grid;

		/* Layout */
		grid-template-columns: 68--step 1fr max(30%, 80--step);
	}
}

/* footer author */

.p-footer-author {
	display: grid;

	/* Layout */
	align-items: center;
	align-self: start;
	gap: 5--step;
	grid-template-columns: min-content 1fr;

	/* Text */
	font-size: 14--rpx;
	line-height: max(16 / 14);

	& :where(p) {
		/* Layout */
		inline-size: 54--step;
	}

	& :where(svg) {
		display: block;

		/* Layout */
		block-size: 10--step;
		inline-size: 9--step;
	}
}

.p-footer-navigation, .p-footer-social {
	@media (width < 1024px) {
		/* Layout */
		margin-block-start: 5--step;
	}

	@media (width < 400px) {
		/* Layout */
		margin-block-start: 8--step;
	}
}

.p-footer-navigation {
	& :where(h3) {
		/* Layout */
		margin-block: 0;
	}

	& :where(ul) {
		@media (width < 767px) {
			display: grid;

			/* Layout */
			gap: 2--step 14--step;
			grid-auto-flow: column;

			/* Layout */
			grid-template-rows: repeat(5, 1fr);
			inline-size: min(100%, 200--step);
		}

		@media (width >= 768px) {
			display: grid;

			/* Layout */
			gap: 2--step 14--step;
			grid-auto-flow: column;
			grid-template-rows: repeat(3, 1fr);
			inline-size: min(100%, 200--step);
		}

		@media (width >= 1200px) {
			/* Layout */
			grid-auto-flow: column;
			grid-template-rows: repeat(3, 1fr);
		}
	}

	& :where(a) {
		display: block;

		&:is(:hover, :focus-visible) {
			/* Text */
			text-decoration: underline;
		}
	}
}

.p-footer-social {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 5--step;

	/* Text */
	text-align: end;

	& :where(span) {
		display: inline-block;
	}
}

.p-footer-social-navigation {
	& ul {
		display: flex;

		/* Layout */
		flex-flow: row wrap;
		gap: 4--step 6--step;
		justify-content: flex-end;

		@media (width < 400px) {
			/* Layout */
			justify-content: center;
		}
	}

	& svg {
		/* Layout */
		block-size: 36--rpx;
		inline-size: 36--rpx;
	}
}

.p-footer-copyright {
	/* Layout */
	margin-block-start: 2--step;

	/* Text */
	font-size: 14--rpx;
}
