:where(.p-footer) {
	padding-block: max(7.5 * var(--step));
	padding-inline: max(11 * var(--step));

	font-size: max(14 * var(--rpx));
	line-height: max(20 / 14);

	background-color: var(--color-background-base-default);
	box-shadow: var(--color-wireframe-primary) 0 1px0 0 inset;
}

@media (width < 800x) {
	:where(.p-footer) {
		display: flex;

		flex-flow: column;
		gap: max(8 * var(--step));
	}
}

@media (width >= 800px) {
	:where(.p-footer) {
		display: grid;

		grid-template-columns: max(68 * var(--step)) 1fr min(25%, 79 * var(--step));
		gap: max(4 * var(--step));
	}
}

@media (width >= 1520px) {
	:where(.p-footer) {
		grid-template-columns: max(68 * var(--step)) 1fr max(30%, 80 * var(--step));
	}
}

/* footer author */

:where(.p-footer-author) {
	display: grid;

	/* layout */
	align-items: center;
	align-self: center;
	gap: max(5 * var(--step));
	grid-template-columns: min-content 1fr;

	/* typography */
	font-size: max(14 * var(--rpx));
	line-height: max(16 / 14);
}

:where(.p-footer-author svg) {
	display: block;

	/* layout */
	block-size: max(10 * var(--step));
	inline-size: max(9 * var(--step));
}

/* footer navigation */

:where(.p-footer-navigation h3):where(h3) {
	margin-block: 0;
}

@media (width < 800px) {
	:where(.p-footer-navigation ul) {
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row;

		gap: max(2 * var(--step));
		inline-size: min(100%, 234 * var(--step));
	}
}

@media (width >= 800px) {
	:where(.p-footer-navigation ul) {
		display: grid;

		/* layout */
		grid-template-columns: 1fr 1fr;
		row-gap: max(2 * var(--step));
		column-gap: max(4 * var(--step));
		inline-size: min(100%, 234 * var(--step));
	}
}

@media (width >= 1200px) {
	:where(.p-footer-navigation ul) {
		/* layout */
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

:where(.p-footer-social) {
	display: flex;
	flex-flow: column;
	gap: max(7 * var(--step));
	text-align: right;
}

:where(.p-footer-social span) {
	display: inline-block;
}

:where(.p-footer-social-navigation ul) {
	display: flex;

	/* layout */
	flex-flow: row wrap;
	justify-content: flex-end;
	column-gap: max(8 * var(--step));
	row-gap: max(6 * var(--step));
}

@media (width < 400px) {
	:where(.p-footer-social-navigation ul) {
		justify-content: center;
	}

	:where(.p-footer-social-navigation ul > li) {}
}

@media (width < 800px) {
	:where(.p-footer-navigation, .p-footer-social) {
		margin-block-start: max(5 * var(--step));
	}
}

@media (width < 400px) {
	:where(.p-footer-navigation, .p-footer-social) {
		margin-block-start: max(8 * var(--step));
	}
}

:where(.p-footer-navigation a) {
	display: block;
}

:where(.p-footer-navigation a:is(:hover, :focus-visible)) {
	text-decoration: underline;
}

:where(.p-footer-social-navigation svg) {
	block-size: 36px;
}
