---
import './site-footer.css'
---
<footer class="p-footer">
	<div class="p-footer-author">
		<div>
			<svg role="none" viewBox="0 0 33 36"><use href="/images/rocket-icon.svg#content"></use></svg>
		</div>
		<p>
			<span>Designed and Stewarded by</span> <span>Rocket Communications</span>
		</p>
	</div>
	<nav class="p-footer-navigation" aria-label="site map">
		<ul class="p-footer-navigation-list">
			<li>
				<a href="/releases/">Releases</a>
			</li>
			<li>
				<a href="/downloads/">Downloads</a>
			</li>
			<li>
				<a href="/getting-started/developers/">Developers</a>
			</li>
			<li>
				<a href="/getting-started/designers/">Designers</a>
			</li>
			<li>
				<a href="/getting-started/">Getting Started with Astro</a>
			</li>
			<li>
				<a href="/support/">Support</a>
			</li>
		</ul>
	</nav>
	<div class="p-footer-social">
		<nav class="p-footer-social-navigation" aria-label="social map">
			<ul>
				<li>
					<a href="/" aria-label="Astro">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/astro-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://www.figma.com/@astrouxds" aria-label="Figma">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/figma-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://github.com/RocketCommunicationsInc/astro-www" aria-label="GitHub">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/github-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://astrouxds.slack.com/" aria-label="Slack">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/slack-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCZzNMe3vyEOlMSaW6Z3C9wQ" aria-label="YouTube">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/youtube-icon.svg#content"></use></svg>
					</a>
				</li>
			</ul>
		</nav>
		<div>
			<p>
				<strong>Last modified:</strong> <span>Wed, 2. Mar 2022 12:36</span>
			</p>
			<p>
				<strong>Provided by</strong>: <span>United States Space Force | SSC | EGS | SY | SATOPS</span>
			</p>
		</div>
	</div>
</footer>

