---
import './site-footer.css'
---
<footer class="p-footer">
	<div class="p-footer-author">
		<div>
			<svg role="none" viewBox="0 0 33 36"><use href="/images/rocket-icon.svg#content"></use></svg>
		</div>
		<p>
			<span>Designed and Stewarded by</span> <span>Rocket Communications</span>
		</p>
	</div>
	<nav class="p-footer-navigation" aria-label="site map">
		<ul class="p-footer-navigation-list">
			<li><a href="/releases/">Releases</a></li>
			<li><a href="/downloads/">Downloads</a></li>
			<li><a href="/support/">Support</a></li>
			<li><a href="/getting-started/readme/">Getting Started with ASTRO</a></li>
			<li><a href="/getting-started/designers/">Designers</a></li>
			<li><a href="/getting-started/developers/">Developers</a></li>
			<li><a href="https://medium.com/astrouxds" target="_blank">Articles</a></li>
			<li><a href="/design-tokens/getting-started/">Design Tokens</a></li>
			<li><a href="/design-process/visual-design/">Design Guidelines</a></li>
		</ul>
	</nav>
	<div class="p-footer-social">
		<nav class="p-footer-social-navigation" aria-label="social map">
			<ul>
				<li>
					<a href="https://www.figma.com/@astrouxds" aria-label="Figma" target="_blank">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/figma-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://github.com/RocketCommunicationsInc/astro-www" aria-label="GitHub" target="_blank">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/github-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://astrouxds.slack.com/" aria-label="Slack" target="_blank">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/slack-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCZzNMe3vyEOlMSaW6Z3C9wQ" aria-label="YouTube"  target="_blank">
						<svg role="none" viewBox="0 0 33 36"><use href="/images/youtube-icon.svg#content"></use></svg>
					</a>
				</li>
				<li>
					<a href="https://medium.com/AstroUXDS" aria-label="Medium" target="_blank">
						<img src="/images/medium-icon.png" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/AstroUXDS" aria-label="Twitter" target="_blank">
						<img src="/images/twitter-icon.svg" />
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/showcase/astro-uxds" aria-label="LinkedIn" target="_blank">
						<img src="/images/linkedin-icon.svg" />
					</a>
				</li>
			</ul>
		</nav>
		<div>
			<p>
				<strong>Provided by</strong>: <span>United States Space Force | SSC | EGS | SY | SATOPS</span>
			</p>
		</div>
	</div>
</footer>