:where(.p-footer) {
	/* Layout */
	padding-block: 7.5--step;
	padding-inline: 11--step;

	/* Text */
	font-size: 14--rpx;
	line-height: max(20 / 14);

	/* Appearance */
	background-color: var(--color-background-base-default);
	box-shadow: var(--color-wireframe-primary) 0 1px0 0 inset;
}

@media (width < 800x) {
	:where(.p-footer) {
		display: flex;

		/* Layout */
		flex-flow: column;
		gap: 8--step;
	}
}

@media (width >= 800px) {
	:where(.p-footer) {
		display: grid;

		/* Layout */
		gap: 4--step;

		/* Layout */
		grid-template-columns: 68--step 1fr min(25%, 79--step);
	}
}

@media (width >= 1520px) {
	:where(.p-footer) {
		/* Layout */
		grid-template-columns: 68--step 1fr max(30%, 80--step);
	}
}

/* footer author */

:where(.p-footer-author) {
	display: grid;

	/* Layout */
	align-items: center;
	align-self: center;
	gap: 5--step;
	grid-template-columns: min-content 1fr;

	/* Text */
	font-size: 14--rpx;
	line-height: max(16 / 14);
}

:where(.p-footer-author svg) {
	display: block;

	/* Layout */
	block-size: 10--step;
	inline-size: 9--step;
}

/* footer navigation */

:where(.p-footer-navigation h3):where(h3) {
	/* Layout */
	margin-block: 0;
}

@media (width < 800px) {
	:where(.p-footer-navigation ul) {
		display: grid;

		/* Layout */
		gap: 2--step;
		grid-auto-flow: row;
		grid-template-columns: 1fr 1fr;
		inline-size: min(100%, 234--step);
	}
}

@media (width >= 800px) {
	:where(.p-footer-navigation ul) {
		display: grid;

		/* Layout */
		column-gap: 4--step;
		grid-template-columns: 1fr 1fr;
		inline-size: min(100%, 234--step);
		row-gap: 2--step;
	}
}

@media (width >= 1200px) {
	:where(.p-footer-navigation ul) {
		/* Layout */
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

:where(.p-footer-social) {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 7--step;

	/* Text */
	text-align: end;
}

:where(.p-footer-social span) {
	display: inline-block;
}

:where(.p-footer-social-navigation ul) {
	display: flex;

	/* Layout */
	column-gap: 8--step;
	flex-flow: row wrap;
	justify-content: flex-end;
	row-gap: 6--step;
}

@media (width < 400px) {
	:where(.p-footer-social-navigation ul) {
		/* Layout */
		justify-content: center;
	}
}

@media (width < 800px) {
	:where(.p-footer-navigation, .p-footer-social) {
		/* Layout */
		margin-block-start: 5--step;
	}
}

@media (width < 400px) {
	:where(.p-footer-navigation, .p-footer-social) {
		/* Layout */
		margin-block-start: 8--step;
	}
}

:where(.p-footer-navigation a) {
	display: block;
}

:where(.p-footer-navigation a:is(:hover, :focus-visible)) {
	/* Text */
	text-decoration: underline;
}

:where(.p-footer-social-navigation svg) {
	/* Layout */
	block-size: 36px;
}
