.p-body {
	display: flex;

	/* Layout */
	align-items: start;
	justify-content: center;

	/* Appearance */
	background-color: var(--InverseColor);
}

.visually-hidden {
	all: unset !important;
	clip-path: inset(50%) !important;

	/* Layout */
	height: 1px !important;
	margin: -1px !important;
	position: fixed !important;
	pointer-events: none !important;

	/* Layout */
	width: 1px !important;
}

.search-form {
	display: flex;

	/* Layout */
	flex-flow: column;
	inline-size: min(100%, 149--step);
	padding-block: 5--step 10--step;
	padding-inline: 5--step;

	/* Appearance */
	background: var(--SurfaceColor);
	border-radius: 3--rpx;
}

.search-form input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.search-form .search-field-decorated {
	display: grid;
}

.search-form .search-field-decorated > * {
	grid-area: 1 / 1;
}

.search-form .search-field-icon {
	/* Layout */

	align-self: center;
	margin-inline-start: 2--step;
	order: 1;

	/* Appearance */
	color: var(--PrimaryColor);
	pointer-events: none;
}

.search-form .search-field {
	/* Layout */

	inline-size: max(100%);
	padding-block: 2--step;
	padding-inline: 10--step;

	/* Text */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* Appearance */
	background: var(--BaseColor);
	border-radius: 3--rpx;

	/* Appearance */
	box-shadow: var(--border-color) 0 0 0 1px inset;
	color: var(--PrimaryColor);

	--border-color: var(--InteractiveMutedColor);
}

.search-form .search-field:is(:hover, :focus-visible) {
	--border-color: var(--InteractiveHoverColor);
}

.search-form .search-field::placeholder {
	/* Appearance */

	color: var(--PlaceholderColor);
}

.search-form .heading {
	/* Layout */

	margin-block-start: 2--step;

	/* Text */
	font-size: 14--rpx;
	line-height: max(20 / 14);

	/* Appearance */
	color: var(--PrimaryColor);
}

.search-form .results {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 1--step;
	margin-block-start: 2--step;
}

.search-form .listitem {
	display: grid;

	/* Layout */
	align-items: center;
	column-gap: 3--step;

	/* Layout */
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	padding-block: 4--step;
	padding-inline: 4--step;

	/* Appearance */
	background-color: var(--BaseColor);
	border-radius: 3--rpx;

	/* Appearance */
	color: var(--SecondaryColor);
}

.search-form .listitem:is(:hover, :focus-within) {
	/* Appearance */

	background-color: var(--InteractiveColor);
	color: var(--InverseColor);
}

.search-form .search-result-icon {
	/* Layout */

	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.search-form .link {
	/* Layout */

	grid-column: 2 / 3;
	grid-row: 1 / 2;
	overflow: hidden;

	/* Text */
	font-size: 16--rpx;
	line-height: max(20 / 16);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search-form .link-description {
	/* Layout */

	grid-column: 2 / 3;
	grid-row: 2 / 3;
	margin-block-start: 1--step;

	/* Text */
	font-size: 14--rpx;
	line-height: max(20 / 14);
}

.search-form mark {
	/* Appearance */

	background-color: transparent;
	color: var(--InteractiveColor);
}

.search-form .listitem:is(:hover, :focus-within) mark {
	/* Appearance */

	color: currentColor;
}

.search-form .listitem:is(:hover, :focus-within) a {
	/* Appearance */

	outline: none;
}

.search-form .listitem:not(:hover, :focus-within) svg {
	/* Appearance */

	color: var(--PlaceholderColor);
}

.search-form .search-footer {
	/* Layout */

	margin-block: 5--step -10--step;
	margin-inline: -5--step;
	padding-block: 3--step;
	padding-inline: 5--step;

	/* Text */
	font-size: 14--rpx;
	line-height: max(20 / 14);
	text-align: end;

	/* Appearance */
	background-color: var(--BaseColor);
	color: var(--PlaceholderColor);
}
