:host {
	display: flex;

	/* Layout */
	inline-size: stretch;
	max-inline-size: 100%;
	overflow: hidden;
}

:host {
	/* Layout */
	margin-block-end: 5--step;

	@media (width > 700px) {
		/* Layout */
		block-size: 115--step;
	}

	@media (width <= 700px) {
		/* Layout */
		block-size: var(--y);
	}
}

iframe {
	/* Layout */
	block-size: 100%;
	inline-size: 100%;

	/* Appearance */
	border-style: none;
}
