---
import DocsLayout from 'project:layouts/docs/docs-layout.astro'
const title = 'testing playground'
import './emilystyle.css'

---
<DocsLayout content={{ title }}>
<section class="font-test">

<div class="header">
  <h1>Hi Emily!</h1>

<h4>Here is the quick and dirty font testing page I made for you!</h4>
</div>
<div class="content">
<h1>h1 = 64px</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, placeat delectus incidunt dolor doloremque assumenda quo culpa. Amet, expedita veritatis?</p>
<h2>h2 = 36 px (content main section header)</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tempora quam provident, dolorum perferendis soluta id recusandae ipsum nam reiciendis laudantium doloremque ea. Suscipit, illo quisquam? Consequuntur eveniet ipsam magni laboriosam? Maxime voluptas sint accusantium delectus facere recusandae perspiciatis aliquid.</p>
<h3>h3 = 24 px (content subtitle and tabs)</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo at nisi tempore molestiae sequi tempora laudantium, quaerat architecto totam quisquam magnam error harum repellat veniam reiciendis natus maxime laborum cumque!</p>
<h4>h4 = 20 px (component description in header)</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum alias quis corporis perferendis nisi recusandae at, cum impedit hic, ducimus assumenda quaerat quos animi nihil voluptate?</p>
<p>Omnis id ad iure totam fuga ea quaerat maiores provident cupiditate et illo quis adipisci eligendi veritatis nihil culpa odit pariatur, inventore placeat eum?</p>
</div>
</section>

</DocsLayout>