.storybook-demo {
	display: flex;

	/* Layout */
	flex-flow: column;

	/* preview frame (1--StorybookPreviewHeight) + navigation links (20--step) */
	min-block-size: calc(1--StorybookPreviewHeight + 20--step);

	& iframe {
		block-size: 1--StorybookPreviewHeight;
	}

	& .demo-container {
		overflow: hidden;
		width: 100%;
		padding: 1rem;
		border-radius: 5px;
		background-color: var(--demo-container-background-color, #101923);

		& iframe {
			box-sizing: border-box;
			width: 100%;
			padding: 0;
		}

		& a {
			color: var(--demo-container-link-color, #ffffff);
		}

		& .demo-container__sample-links {
			display: flex;
			font-size: .9rem;
			justify-content: flex-end;
			margin-block-start: 1rem;
			border-block-start:
				1px solid
				var(--demo-container-border-color, rgba(255, 255, 255, .25));
			padding: 1rem 1rem 0;

			& a {
				display: flex;

				&::before {
					content: "";
					display: block;
					height: 1rem;
					width: 1rem;
					background-size: contain;
					background-color: transparent;
					background-repeat: no-repeat;
					background-position: center center;
				}

				&:not(:last-of-type) {
					margin-inline-end: 1rem;
				}
			}
		}

		& .sample-links__storybook::before {
			margin-inline-end: .375rem;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 412 512'%3E%3Cg fill='none' fill-rule='nonzero'%3E%3Cpath fill='%23E65883' d='M363.565 511.53c-5.974-.341-17.71-.896-26.031-1.28-8.322-.342-21.465-.94-29.232-1.28-7.724-.385-20.313-.94-27.951-1.282-7.64-.341-20.484-.939-28.592-1.28-13.912-.64-22.575-1.025-56.97-2.561-24.666-1.11-41.65-1.879-56.97-2.562-8.108-.341-20.867-.939-28.378-1.28-7.51-.342-20.27-.94-28.378-1.281-42.376-1.878-43.016-1.921-46.728-3.159-8.066-2.69-13.528-8.367-16.643-17.118-.768-2.135-1.067-7.599-2.134-36.285-.384-9.733-.939-25.186-1.28-34.364-.598-15.582-.939-24.674-2.56-68.088-.342-9.392-.94-24.76-1.28-34.151-.342-9.392-.94-24.76-1.281-34.15-.341-9.392-.939-24.717-1.28-34.023-.726-19.253-1.622-43.457-2.56-68.302-.342-9.349-.94-24.76-1.281-34.279C1.092 56.472.793 47.678 1.092 44.946c1.024-9.562 7.297-17.46 16.941-21.301 2.347-.94 7.084-1.494 19.118-2.22 10.2-.598 14.893-.854 41.138-2.519 16.216-1.024 29.189-1.835 40.967-2.561 24.538-1.537 31.664-1.964 40.967-2.561 10.669-.683 25.348-1.58 41.394-2.562 11.309-.725 24.836-1.58 40.754-2.561 5.76-.384 14.978-.94 20.483-1.28 40.669-2.52 94.14-5.977 102.503-6.49 17.88-1.066 24.196-1.152 27.397-.383 8.834 2.22 15.363 8.537 18.478 17.758.725 2.262.768 10.416.768 237.774 0 227.359-.043 235.512-.768 237.775-2.262 6.702-6.017 11.568-11.607 14.898-4.865 2.945-6.23 3.202-16.217 3.287'/%3E%3Cpath fill='%23FFF' d='M307.37 66.888 306 65.263l.556-13.428c.3-7.398.813-19.585 1.155-27.111.3-7.527.6-15.181.6-16.977 0-3.806-.386-3.55 5.348-3.935 1.882-.128 36.326-2.299 40.348-2.555L358.243 1c.143 10.741.627 26.974 1.455 48.697.47 12.615.428 13-.385 14.112-1.07 1.411-2.739 2.052-4.15 1.497-.6-.214-5.392-3.806-10.698-7.997l-9.67-7.612-6.075 4.576c-3.337 2.523-8.386 6.371-11.21 8.51-7.36 5.601-7.788 6.2-10.14 4.105zm-94.165 357.067c-58.593-1.324-93.357-25.792-102.24-71.867-1.75-9.267-1.965-11.871-1.965-25.664 0-14.946-.127-14.262 2.862-15.8 5.296-2.69 16.528-3.971 34.934-3.928 17.809 0 30.493 1.195 38.137 3.544 4.613 1.41 4.4.897 4.698 12.682.256 10.89.897 15.458 2.947 21.095 3.844 10.505 10.933 14.988 23.83 15.031 15.033.043 22.421-6.619 23.36-21.052 1.069-16.782-9.907-29.507-40.442-46.886-4.1-2.306-11.104-6.32-15.588-8.84-22.507-12.81-33.824-20.753-44.33-30.959-15.759-15.287-24.044-30.873-27.076-50.815-.982-6.661-.982-20.88.043-27.97 3.843-26.901 16.954-47.398 38.777-60.721 18.877-11.487 45.526-17.124 73.798-15.544 29.937 1.708 52.06 10.249 68.117 26.305 16.57 16.568 25.069 39.37 26.52 71.098l.3 6.234-1.068.684c-6.278 4.1-39.504 7.985-57.953 6.747-9.78-.64-14.435-1.666-16.784-3.758-.64-.555-.768-1.41-.768-5.893 0-10.462-2.05-20.369-5.339-25.792-4.185-6.875-10.079-9.821-19.773-9.821-13.325 0-21.225 5.337-23.788 16.098-1.067 4.527-.768 11.658.726 15.843 3.033 8.455 9.481 15.415 21.695 23.358 6.065 3.97 11.702 7.173 28.87 16.354 27.332 14.647 38.522 22.248 50.608 34.247 16.484 16.398 24.684 33.308 27.076 55.94 1.537 14.134.17 27.585-4.057 40.225-12.855 38.431-52.914 61.02-106.127 59.825z'/%3E%3C/g%3E%3C/svg%3E");
		}

		& .sample-links__github::before {
			margin-inline-end: .5rem;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.58 31.77'%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M16.29 0a16.29 16.29 0 0 0-5.15 31.75c.82.15 1.11-.36 1.11-.79v-2.77C7.7 29.18 6.74 26 6.74 26a4.36 4.36 0 0 0-1.81-2.39c-1.47-1 .12-1 .12-1a3.43 3.43 0 0 1 2.49 1.68 3.48 3.48 0 0 0 4.74 1.36 3.46 3.46 0 0 1 1-2.18c-3.62-.41-7.42-1.81-7.42-8a6.3 6.3 0 0 1 1.67-4.37 5.94 5.94 0 0 1 .16-4.31s1.37-.44 4.48 1.67a15.41 15.41 0 0 1 8.16 0c3.11-2.11 4.47-1.67 4.47-1.67a5.91 5.91 0 0 1 .2 4.28 6.3 6.3 0 0 1 1.67 4.37c0 6.26-3.81 7.63-7.44 8a3.85 3.85 0 0 1 1.11 3v4.47c0 .53.29.94 1.12.78A16.29 16.29 0 0 0 16.29 0Z' fill='%23fff' fill-rule='evenodd' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
		}
	}
}
