---
import { type HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'a'> {}
---
<li>
	<a aria-current={Astro.props.href === Astro.url.pathname ? 'page' : null} {...Astro.props}><slot /></a>
</li>