.page-header {
	display: flex;

	/* Layout */
	flex-flow: column;
	justify-content: end;
	min-height: var(--header-block-size);
	padding-block-start: var(--header-padding-block-start);
	padding-inline: var(--layout-inline-gap-start) var(--layout-inline-gap-end);

	/* Appearance */
	background-color: var(--Grey200Color);
	color: var(--DarkBlue800Color);

	& .-heading {
		/* Text */
		font-size: var(--heading-1-text-size);
		font-weight: 300;
		letter-spacing: -.005em;
		line-height: var(--heading-1-text-line);
	}

	& .-subheading {
		/* Layout */
		margin-block-start: 5--step;

		/* Layout */
		max-width: max(175 * var(--step));

		/* Text */
		font-size: var(--subheading-1-text-size);

		/* Text */
		font-weight: 300;
		line-height: var(--subheading-1-text-line);
	}

	& .-navigation {
		display: flex;

		/* Layout */
		align-items: flex-end;
		margin-block-start: var(--header-nav-block-start);
		min-block-size: 20--step;
		overflow-x: auto;

		@media (width <= 400px) {
			/* Layout */
			min-block-size: 0;
		}

		& ul {
			display: flex;

			/* Layout */
			gap: var(--header-nav-gap);
		}

		& a {
			display: block;

			/* Layout */
			padding-block: var(--header-nav-padding-block);
			padding-inline: var(--header-nav-padding-inline);

			/* Text */
			font-size: var(--header-nav-text-size);
			line-height: var(--header-nav-text-line);

			/* Appearance */
			color: var(--Grey700Color);
			outline-offset: -2px;

			&:hover,
			&:focus-visible {
				/* Appearance */
				color: var(--DarkBlue500Color);
			}
		}

		& [aria-current="page"] {
			/* Text */
			text-shadow: 0 0 .375px var(--DarkBlue500Color),  0 0 .5px var(--DarkBlue500Color);

			/* Appearance */
			box-shadow: 0 -4px 0 0 inset;
			color: var(--DarkBlue500Color);
		}
	}
}
