---
import type banner from 'project:data/home-banner.json'
import Image from 'project:components/image/image'
import './home-banner.css'

const { ...props } = Astro.props as typeof banner['data']
---
<header class="p-banner" role="banner">
	<hgroup class="x-heading-group" role="group" aria-roledescription="Heading group">
		<h2 class="x-heading" aria-label={props.heading.data}>
			<Image class="x-heading-image" aria-hidden="true" {...props.image.data} />
		</h2>
		<p class="x-subheading" aria-roledescription="subtitle">
			{props.subheading.data}
		</p>
	</hgroup>

	<p class="x-content">
		{props.content.data}
	</p>
</header>