.p-banner {
	display: flex;

	/* Layout */
	align-items: center;
	flex-flow: column;
	inline-size: min(100% - 4--step, 154--step);
	padding-block: 7--step;

	& .x-heading-group {
		display: flex;

		/* Layout */
		align-items: center;
		flex-flow: column;
	}

	& .x-heading-image {
		/* Layout */
		block-size: auto;
		inline-size: min(100%, 72.5--step);
	}

	& .x-subheading {
		/* Layout */
		margin-block-start: 4--step;

		/* Text */
		font-size: 20--rpx;
		font-weight: 700;
		line-height: max(22 / 20);
	}

	& .x-content {
		/* Layout */
		margin-block-start: 6.5--step;

		/* Text */
		font-size: 18--rpx;
		line-height: max(24 / 18);

		/* Text */
		text-shadow: var(--text-shadow-color) 0 max(1 * var(--text-shadow-spread)) var(--text-shadow-blur), var(--text-shadow-color) 0 max(-1 * var(--text-shadow-spread)) var(--text-shadow-blur), var(--text-shadow-color) max(1 * var(--text-shadow-spread)) 0 var(--text-shadow-blur), var(--text-shadow-color) max(-1 * var(--text-shadow-spread)) 0 var(--text-shadow-blur);

		--text-shadow-spread: 4px;
		--text-shadow-blur: 6px;
		--text-shadow-color: hsl(0 0% 0% / max(100% / 3));
	}
}
