/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-max-id */

.p-signup {
	display: flex;

	/* Layout */
	flex-flow: column;
	padding-block: 5--step 10--step;
	padding-inline: 6--step;

	/* Text */
	font-size: 4--step;
	font-weight: 400;
	letter-spacing: .5%;

	/* Appearance */
	background: var(--SurfaceColor);
	border-radius: 3--rpx;
	color: var(--PrimaryColor);

	@media (width >= 400px) {
		/* Layout */
		inline-size: min(100% - 4--step, 134--step);
		padding-inline: 8--step;
	}

	@media (width >= 800px) {
		/* Layout */
		padding-inline: 14--step;
	}

	& button[type="submit"]:is(:hover, :focus-visible) {
		/* Appearance */
		background-color: var(--InteractiveHoverColor);
	}
}

/* Signup: Heading */

.p-signup-heading {
	/* Text */
	font-size: 34--rpx;
	font-weight: 700;
	line-height: max(40 / 34);
	text-align: center;
}

.p-signup-content {
	/* Layout */
	margin-block-start: 5--step;
}

/* Signup: Form */

.p-signup-form {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--step;
	margin-block-start: 8--step;
}

/* Signup: Form: Control */

.p-signup-form-control {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 1--step;

	& label {
		/* Text */
		font-size: 14--rpx;
		line-height: max(20 / 14);
	}

	&.-required label span::after {
		/* Generated */
		content: "*";
	}

	&.-optional label span::after {
		/* Generated */
		content: " (Optional)";
	}

	& input {
		/* Layout */
		padding-block: 3--step;
		padding-inline-start: 4--step;

		/* Appearance */
		background: var(--BaseColor);
		border-radius: 3--rpx;

		/* Appearance */
		color: var(--PrimaryColor);

		&:is(:hover, :focus-visible) {
			--border-color: var(--InteractiveHoverColor);
		}
	}
}

.p-signup-form-submit {
	/* Layout */
	align-self: center;
	margin-block-start: 4--step;
	padding-block: 2--step;
	padding-inline: 11--step;

	/* Text */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* Appearance */
	background-color: var(--InteractiveColor);
	border-radius: 3--rpx;
	box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
	color: var(--InverseColor);
	cursor: pointer;
}

/* Chrome, Safari, Edge */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

/* Firefox */

input[type="number"] {
	appearance: textfield;
}

#mc-embedded-subscribe {
	/* Layout */
	margin-inline: auto !important;
	margin-block-start: 4--step;
	padding-block: 2--step;
	padding-inline: 11--step;

	/* Text */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* Appearance */
	background-color: var(--InteractiveColor);
	border-radius: 3--rpx;
	box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
	color: var(--InverseColor);
	cursor: pointer;
	border: none !important;
}

#mc_embed_signup {
	& form {
		/* Layout */
		margin-block-start: 5--step;
		display: flex;
		flex-flow: column;
		padding-block: max(5 * var(--step)) max(10 * var(--step));
		padding-inline: max(6 * var(--step));
		max-width: 125--step;

		/* Text */
		font-size: max(14 * var(--rpx));
		line-height: max(20 / 14);

		/* Appearance */
		background: var(--SurfaceColor);
		border-radius: max(3 * var(--rpx));
		color: var(--PrimaryColor);

		& .mc-field-group input {
			/* Layout */
			padding-block: max(3 * var(--step));
			padding-inline-start: max(4 * var(--step));

			/* Appearance */
			background: var(--BaseColor);
			border-radius: max(3 * var(--rpx));
			border: none;

			/* Text */
			font-size: max(14 * var(--rpx));
			line-height: max(20 / 14);
		}
	}

	& .mc-field-group {
		padding-inline: 10--step;
	}
}
