/* Signup */

:where(.p-signup) {
	display: flex;

	/* layout */
	flex-flow: column;
	padding-inline: 6--step;
	padding-block: 5--step 10--step;

	/* typography */
	font-size: 4--step;
	font-weight: 400;
	letter-spacing: 0.5%;

	/* decoration */
	background: var(--SurfaceColor);
	border-radius: 3--rpx;
	color: var(--PrimaryColor);
}

@media (width >= 400px) {
	:where(.p-signup) {
		inline-size: min(100% - 4--step, 134--step);
		padding-inline: 8--step;
	}
}

@media (width >= 800px) {
	:where(.p-signup) {
		padding-inline: 14--step;
	}
}

/* Signup: Heading */

:where(.p-signup-heading) {
	/* typography */
	font-size: 34--rpx;
	font-weight: 700;
	line-height: max(40 / 34);
	text-align: center;
}

:where(.p-signup-content) {
	/* layout */
	margin-block-start: 5--step;
}

/* Signup: Form */

:where(.p-signup-form) {
	display: flex;

	/* layout */
	flex-flow: column;
	gap: 4--step;
	margin-block-start: 8--step;
}

/* Signup: Form: Control */

:where(.p-signup-form-control) {
	display: flex;

	/* sizing */
	flex-flow: column;
	gap: 1--step;
}

/* Signup: Form: Control: Label */

:where(.p-signup-form-control label) {
	/* typography */
	font-size: 14--rpx;
	line-height: max(20 / 14);
}

:where(.p-signup-form-control.-required label span)::after {
	content: "*";
}

:where(.p-signup-form-control.-optional label span)::after {
	content: " (Optional)";
}

/* Signup: Form: Control: Input Text */

:where(.p-signup-form input) {
	/* sizing */
	padding-block: 3--step;
	padding-left: 4--step;

	/* decoration */
	background: var(--BaseColor);
	border-radius: 3--rpx;
	color: var(--PrimaryColor);
}

:where(.p-signup-form input:is(:hover, :focus-visible)) {
	--border-color: var(--InteractiveHoverColor);
}

/* Signup: Form: Control: Button Submit */

:where(.p-signup-form button[type="submit"]) {
	/* layout */
	align-self: center;
	margin-block-start: 4--step;
	padding-inline: 4--step;
	padding-block: 2--step;

	/* typography */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* decoration */
	background-color: var(--InteractiveColor);
	border-radius: 3--rpx;
	box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
	padding-inline: 11--step;
	padding-block: 2--step;
	color: var(--InverseColor);
	cursor: pointer;
}

:where(.p-signup button[type="submit"]:is(:hover, :focus-visible)) {
	background-color: var(--InteractiveHoverColor);
}
