.p-signup {
	display: flex;

	/* Layout */
	flex-flow: column;
	padding-block: 6--step 12--step;
	padding-inline: 6--step;

	/* Text */
	font-size: 4--step;
	font-weight: 400;
	letter-spacing: .5%;

	/* Appearance */
	background: var(--SurfaceColor);
	border-radius: var(--EdgeRadius);
	color: var(--PrimaryColor);

	@media (width >= 400px) {
		/* Layout */
		inline-size: min(100% - 4--step, 134--step);
		padding-inline: 8--step;
	}

	@media (width >= 800px) {
		/* Layout */

		inline-size: min(100% - 4--step, 225--step);

		/* Layout */
		padding-inline: 14--step;
	}

	& button[type="submit"]:is(:hover, :focus-visible) {
		/* Appearance */

		box-shadow: var(--InteractiveHoverColor) 0 0 0 1px inset;

		/* Appearance */
		color: var(--InteractiveHoverColor);
	}
}

/* Signup: Heading */

.p-signup-heading {
	/* Text */
	font-size: 34--rpx;
	font-weight: 700;
	line-height: max(40 / 34);
	text-align: center;
}

.p-signup-content {
	/* Layout */
	margin-block-start: 5--step;
}

/* Signup: Form */

.p-signup-form {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 4--step;
	justify-content: space-between;
	margin-block-start: 8--step;

	@media (width >= 1199px) {
		/* Layout */

		flex-flow: row;
		flex-wrap: wrap;
	}
}

/* Signup: Form: Control */

.p-signup-form-control {
	display: flex;

	/* Layout */
	flex-flow: column;
	gap: 1--step;

	& label {
		/* Text */
		font-size: 14--rpx;
		line-height: max(20 / 14);
	}

	&.-required label span::after {
		/* Generated */
		content: "*";
	}

	&.-optional label span::after {
		/* Generated */
		content: " (Optional)";
	}

	& input {
		/* Layout */
		padding-block: 3--step;
		padding-inline-start: 4--step;

		/* Appearance */
		background: var(--BaseColor);
		border-radius: var(--EdgeRadius);

		/* Appearance */
		color: var(--PrimaryColor);

		&:is(:hover, :focus-visible) {
			--border-color: var(--InteractiveHoverColor);
		}
	}

	@media (width >= 1199px) {
		/* Layout */

		flex: 0 0 calc(50% - 4--step);
	}
}

.p-signup-form-submit {
	/* Layout */
	align-self: center;
	margin-block-start: 4--step;
	margin-inline-start: auto;
	padding-block: 2--step;
	padding-inline: 11--step;

	/* Text */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* Appearance */
	border-radius: var(--EdgeRadius);
	box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
	color: var(--InteractiveColor);
	cursor: pointer;
}

.submit-support-button {
	/* Layout */
	display: block;

	/* Layout */
	margin-block: 4--step;
	margin-inline: auto;
	padding-block: 2--step;
	padding-inline: 11--step;

	/* Text */
	line-height: max(20 / 16);

	/* Appearance */
	background-color: var(--InteractiveColor);
	border-radius: var(--EdgeRadius);
	box-shadow: var(--InteractiveColor) 0 0 0 1px inset;
	color: var(--InverseColor);
	cursor: pointer;

	&:disabled {
		/* Appearance */

		background: #4dacff6f;
		color: ar(--InverseColor);
		/* stylelint-disable-next-line declaration-no-important */
		border-color: none !important;

		/* Appearance */
		cursor: not-allowed;
	}
}

.p-signup-support {
	display: flex;

	/* Layout */
	flex-flow: column;
	padding-block: 3--step 3--step;

	/* Appearance */
	background: var(--SurfaceColor);
	border-radius: var(--EdgeRadius);
	color: var(--PrimaryColor);

	@media (width >= 400px) {
		/* Layout */
		inline-size: min(100% - 4--step, 134--step);
		padding-inline: 8--step;
	}

	@media (width >= 800px) {
		/* Layout */
		padding-inline: 12--step;
	}

	& label {
		/* Layout */
		margin-block-end: 1--step;
	}
}

.mc-field-group {
	/* Layout */
	display: flex;

	/* Layout */
	flex-flow: column;
	padding-block: 3--step 3--step;
}
