.p-icon-search {
	& label {
		display: grid;

		/* Layout */
		align-items: stretch;
		inline-size: 100%;
		block-size: 15--step;

		/* Appearance */
		border-radius: 12--rpx;
		box-shadow: 0 0 0 1px inset;

		& > * {
			display: flex;

			/* Layout */
			align-items: center;
			grid-area: 1 / 1 / 2 / 2;
			padding-inline: 18--step;

			/* Appearance */
			border-radius: 12--rpx;
		}

		& > span {
			pointer-events: none;
			transition: translate 120ms;
		}

		& > input {
			&:focus + span {
				translate: -12--step -12--step;
			}
		}
	}
}

.p-icon-groups {
	@media (width < 1440px) {
		--grid-size: 4;
		--icon-size: 20px;
	}

	@media (width >= 1440px) {
		--grid-size: 6;
		--icon-size: 50px;
	}

	& .-group {
		&.nomatch {
			display: none;
		}
	}

	& .-icons {
		display: grid;

		/* Layout */
		grid-template-columns: repeat(var(--grid-size, 0), 1fr);

		& .icon {
			display: flex;

			/* Layout */
			align-items: center;
			flex-flow: column;
			padding-block: 8--step;
			padding-inline: 3--step;

			/* Typography */
			text-align: center;

			&:is(figure) {
				margin-block: 0;
			}

			&:hover, &:focus-visible {
				background-color: var(--Grey200Color);
			}

			&.nomatch {
				display: none;
			}
		}

		& svg {
			display: block;
			aspect-ratio: 1 / 1;
			width: var(--icon-size);
			height: var(--icon-size);
		}
	}
}

.p-icon-shapes {
	display: none;
}
