.p-icon-groups {
	@media (width < 400px) {
		--grid-size: 2;
		--icon-size: 16px;
	}

	@media (400px <= width < 600px) {
		--grid-size: 3;
		--icon-size: 16px;
	}

	@media (600px <= width < 800px) {
		--grid-size: 4;
		--icon-size: 16px;
	}

	@media (800px <= width < 960px) {
		--grid-size: 1;
		--icon-size: 16px;
	}

	@media (960px <= width < 1024px) {
		--grid-size: 2;
		--icon-size: 16px;
	}

	@media (1024px <= width < 1160px) {
		--grid-size: 3;
		--icon-size: 16px;
	}

	@media (1160px <= width < 1480px) {
		--grid-size: 4;
		--icon-size: 20px;
	}

	@media (1480px <= width < 1600px) {
		--grid-size: 5;
		--icon-size: 50px;
	}

	@media (width >= 1600px) {
		--grid-size: 6;
		--icon-size: 50px;
	}

	& .-group {
		&.nomatch {
			display: none;
		}
	}

	& .-icons {
		display: grid;

		/* Layout */
		grid-template-columns: repeat(var(--grid-size, 0), 1fr);

		& .icon {
			display: flex;

			/* Layout */
			align-items: center;
			flex-flow: column;
			padding-block: 8--step;
			padding-inline: 3--step;

			/* Typography */
			text-align: center;

			/* Appearance */
			border-radius: 6--rpx;

			&:is(figure) {
				/* Layout */
				margin-block: 0;
			}

			&:hover, &:focus-visible {
				/* Appearance */
				background-color: var(--BrightBlue200Color);
			}

			&.selected {
				/* Appearance */
				background-color: var(--Grey200Color);
			}

			&.nomatch {
				display: none;
			}
		}

		& svg {
			display: block;

			/* Layout */
			aspect-ratio: 1 / 1;
			height: var(--icon-size);
			width: var(--icon-size);
		}
	}
}

.p-icon-shapes {
	display: none;
}

p.lead {
	/* Layout */
	margin-block-end: 5--step;
	margin-block-start: calc(- 5--step);
	max-width: 230--step;
}
