---
const { title, badge }  = Astro.props;
---
<div class="flex flex-col">
	<div>
		<div class="border-gray-400 border-2 rounded bg-gray-200 w-full h-72 flex justify-center items-center">
			<slot name="image"></slot>
		</div>

	</div>
	<div class="mt-2">
		<div class="text-sm">
			{badge ? (<sl-badge>{badge}</sl-badge>) : ''} <span class="font-bold">{title}:</span> <slot></slot>
		</div>
		<div class="m-0">

		</div>
	</div>
	
</div>