---
const { type }  = Astro.props;
---

<div class="">
	<div class="h-72 bg-gray-100 flex items-center justify-center">
		<slot name="image"></slot>
	</div>
	<div class={`${type === 'do' ? 'bg-green-600' : 'bg-red-600'} p-2 text-white`}>
		<slot></slot>
	</div>
</div>