.contribution-footer {
	/* Layout */
	margin-block-start: 12--step;
	padding-block-start: 8--step;

	/* Appearance */
	box-shadow: var(--Gray800Color) 0 1--rpx 0 0 inset;

	& :where(.-heading) {
		/* Layout */
		margin-block-start: 0;
	}
}
