.p-contribution-footer {
	/* Layout */
	margin-block-start: 12--step;

	& .-heading {
		/* Layout */
		margin-block: 4--step 1--step;
		padding-block: 2--step;

		/* Typography */
		font-size: 18--rpx;
		line-height: calc(20 / 18);
	}
}
