---
import './contribution-footer.css'

function removeTrailingSlash(str) {
  return str.endsWith('/') ? str.slice(0, -1) : str;
}

const pathname = Astro.url.pathname
const updatedPathname = removeTrailingSlash(pathname)
---
<footer id="contribution-footer">
    <h3>Help improve this page</h3>
    <p>You can help improve this page, with updated information, guidance or fixes for typos and errors.</p>
    <ul>
        <li>
            <a href={`https://github.com/RocketCommunicationsInc/astro/edit/next/packages/astro-uxds/_content/${updatedPathname}.md`}>Propose a change or fix to this page</a>
        </li>
        <li>
            <a href="/community/propose-a-change/">How to propose a change</a>
        </li>
    </ul>
</footer>
