.p-grid > .x-main {
	display: flex;

	/* Layout */
	align-items: center;
	flex-flow: column;
	gap: 14--step;
	overflow: hidden;
	padding-block: 4--step 18--step;
	padding-inline: max(4--step, 50% - 190--step);

	/* Appearance */
	background:
		url("/images/header-bg-gradient.svg") no-repeat 50% 0% / 100% auto,
		url("/images/header-bg-noise.svg") no-repeat 50% 0% / 100% auto,
		url("/images/header-bg.webp") no-repeat 50% 0% / 100% auto,
		url("/images/footer-bg-gradient.svg") no-repeat 50% 100% / 100% auto,
		url("/images/footer-bg-noise.svg") no-repeat 50% 100% / 100% auto,
		url("/images/footer-bg.webp") no-repeat 50% 100% / 100% auto;
}
