---
import './astro-toolkit-ppt-purchase-button.css'
---
<div class="astro-toolkit-ppt">
 <button type="button" class="p-button ppt-purchase-button">Click Here to Buy</button>
</div>
<script>
	import './astro-toolkit-ppt-purchase-button.js'
</script>