.astro-toolkit-ppt-purchase-button {
	display: inherit;

	& .ppt-purchase-button {
		/* Layout */
		margin-block-end: 2--step;
	}

	& p {
		/* Text */
		font-size: .875rem;
	}

	/* Layout */
	margin-block-end: 4--step;
}
