---
import Image from 'project:components/image/image'
import './product-banner.css'
---

<section
	class="p-product-banner"
	id="product-banner"
	aria-label="product banner"
>
	<div class="x-card">
		<h3 class="x-card_heading">Astro for PowerPoint</h3>
		<div class="x-card_content">
			<p>
				You asked, we listened. Now you can design Astro-compliant mock-ups and
				lo-fi wireframes in secured environments by using our brand new, ASTRO
				UXDS PowerPoint Toolkit!
			</p>
			<p>
				Built from the ground up, in collaboration with designers from all over
				the DoD space, the ASTRO UXDS PowerPoint Toolkit includes all of Astro’s
				components, now optimized for use in Microsoft PowerPoint.
			</p>
		</div>
	</div>
	<div class="x-card">
		<div class="x-card_heading">
			<h3>New for 2025</h3>
		</div>
		<div class="x-card_content">
			<Image
				{...{
					url: '/images/astro.svg#content',
					width: 160,
					height: 68,
				}}
				aria-hidden="true"
			/>
			<div class="x-card_sub-title">
				<Image
					{...{
						url: '/images/astro-sub-title.svg#content',
						width: 188,
						height: 18,
					}}
					aria-hidden="true"
				/>
				<Image
					{...{
						url: '/images/astro-sub-title-ppt-toolkit.svg#content',
						width: 90,
						height: 18,
					}}
					aria-hidden="true"
				/>
			</div>

			<a href="/platforms/astro-toolkit-ppt/">
				<button type="button">Learn More</button>
			</a>
		</div>
	</div>
	<div class="x-card">
		<div class="x-card_content">
			<img src="/images/astro-toolkit-ppt-screen-2.png" alt="ppt-screen" />
		</div>
	</div>
</section>