/* Navigation */

.p-navigation {
	display: flex;

	/* Layout */
	align-items: center;
	flex-flow: column;
	inset-block-start: 0;
	padding-block: 6--step;
	position: sticky;
	z-index: 1;

	/* Animation */
	transition: inline-size 200ms;

	@media (width < 800px) {
		display: grid;

		/* Layout */
		grid-template-areas: "disclosure heading" "navigation navigation";
		grid-template-columns: min-content 1fr;
		grid-template-rows: min-content 1fr; /* stylelint-disable-line */
		padding-block: 2--step;
		padding-inline: 9--step;
	}

	@media (width >= 800px) {
		/* Layout */
		block-size: min(100%, 100vh);
		inline-size: 78--step;
		overflow-x: hidden;
		overflow-y: auto;
		overflow-y: overlay;
		scrollbar-width: none;

		/* Masking */
		mask-image: var(--mask);
		mask-position: bottom;
		mask-size: 100% 100%;

		/* Behavior */
		scroll-behavior: smooth;
		scrollbar-gutter: stable;

		/* Masking Reference */
		--mask: linear-gradient(0deg, hsl(0 0% 0% / 0%) 0%, hsl(0 0% 0% / 100%) 12--step);

		&::-webkit-scrollbar {
			/* Layout */
			width: 0;
		}

		&.-has-results {
			/* Layout */
			inline-size: min(50vw, 140--step);
		}
	}
}

@media (width < 800px) {
	.p-navigation-heading {
		display: flex;

		/* Layout */
		flex-grow: 1;
		grid-area: heading;
		justify-content: center;
		order: 2;
	}

	.p-navigation h-navigation-list {
		display: contents;
	}
}

/* Navigation: Heading */

.p-navigation-heading {
	& .logo-text {
		opacity: .75;
	}

	&:hover, &:focus {
		@media (width >= 800px) {
			outline-offset: 2--step;
		}

		& .logo-text {
			opacity: 1;
		}
	}
}

.p-navigation-heading-image {
	/* Layout */
	aspect-ratio: 134 / 56;
	block-size: 14--step;

	@media (width < 800px) {
		/* Layout */
		block-size: 11--step;
	}
}

/* Navigation: Search */

.p-search {
	/* Layout */
	inline-size: 100%;
	margin-block-start: 7--step;
	padding-inline: 11--step;

	@media (width < 800px) {
		display: none;
	}
}

/* Navigation: List */

h-navigation-list {
	display: contents;

	&:not(:defined) {
		display: block;

		/* Layout */
		grid-area: navigation;
		margin-inline: -8--step;
	}
}

.p-navigation ul {
	/* Text */
	font-size: 18--rpx;
	line-height: max(20 / 18);
}

.p-navigation li {
	/* Appearance */
	color: var(--PrimaryColor);
	cursor: pointer;

	& li {
		/* Appearance */
		color: var(--SecondaryColor);
	}

	& hr {
		/* Layout */
		block-size: 1px;
		margin-block: calc(1 * var(--step));
		margin-inline: calc(11 * var(--step));

		/* Appearance */
		box-shadow: #99999922 1px 1px 0 0;
	}
}

.p-navigation .current {
	/* Appearance */
	color: var(--Orange700Color);

	& .current {
		/* Text */
		font-weight: 700;

		/* Appearance */
		color: var(--PrimaryColor);
	}
}

.p-navigation ul ul {
	/* Text */
	font-size: 14--rpx;
	line-height: max(16 / 14);
}

.p-navigation > h-navigation-list > ul {
	/* Layout */
	inline-size: 100%;
	margin-block-start: 5--step;

	& ul {
		/* Layout */
		margin-block-start: -2--step;
		margin-inline-start: 5--step;
	}
}

.p-navigation ul :is(a, span) {
	display: block;

	/* Layout */
	padding-block: 4--step;
	padding-inline: 11--step;
}

.p-navigation ul ul :is(a, span) {
	display: block;

	/* Layout */
	padding-block: 2--step;
	padding-inline: 11--step;
}

.p-navigation h-navigation-list > :is(a, span) {
	/* Appearance */
	color: var(--parent-color);
}

.p-navigation ul :is(a, span):is(:hover, :focus-visible) {
	/* Appearance */
	color: var(--Orange700Color);
}

.p-navigation ul ul :is(a, span):is(:hover, :focus-visible) {
	/* Appearance */
	color: var(--PrimaryColor);
}

h-navigation-disclosure {
	display: contents;
}
