/* Navigation */

:where(.p-navigation) {
	display: flex;

	/* Layout */
	align-items: center;
	flex-flow: column;
	padding-block: 6--step;

	/* Appearance */
	background: var(--SurfaceColor);

	/* Animation */
	transition: inline-size 200ms;

	&.-has-results {
		/* Layout */
		inline-size: min(50vw, 140--step);
	}

	@media (width < 800px) {
		display: grid;

		/* Layout */
		grid-template-areas: "disclosure heading" "navigation navigation";
		grid-template-columns: min-content 1fr;
		grid-template-rows: min-content 1fr; /* stylelint-disable-line */
		padding-block: 2--step;
		padding-inline: 9--step;
	}
}

@media (width < 800px) {
	:where(.p-navigation-heading) {
		display: flex;

		/* Layout */
		flex-grow: 1;
		grid-area: heading;
		justify-content: center;
		order: 2;
	}

	:where(.p-navigation h-navigation-list) {
		display: contents;
	}
}

@media (width >= 800px) {
	:where(.p-navigation) {
		--mask: linear-gradient(0deg, hsl(0 0% 0% / 0%), hsl(0 0% 0% / 100%) 10--step);

		/* Layout */
		block-size: min(100%, 100vh);
		inline-size: 79--step;
		inset-block-start: 0;
		overflow-x: hidden;
		overflow-y: auto;
		overflow-y: overlay;
		position: sticky;

		/* Masking */
		mask-image: var(--mask);
		mask-position: bottom;
		mask-size: 100% 100%;

		/* Behavior */
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
	}
}

/* Navigation: Heading */

:where(.p-navigation-heading) {
	/* Animation */
	transition: filter 200ms;

	&:where(:hover, :focus) {
		/* Appearance */
		filter: drop-shadow(0 2--rpx 0 var(--InverseColor)) drop-shadow(0 2--rpx 0 var(--InverseColor)) drop-shadow(0 0 8--step var(--PrimaryColor));
		outline: none;
	}
}

:where(.p-navigation-heading-image) {
	/* Layout */
	aspect-ratio: 291 / 123;
	block-size: 14--step;

	@media (width < 800px) {
		/* Layout */
		block-size: 11--step;
	}
}

/* Navigation: Search */

:where(.p-search) {
	/* Layout */
	inline-size: 100%;
	margin-block-start: 7--step;
	padding-inline: 11--step;

	@media (width < 800px) {
		display: none;
	}
}

/* Navigation: List */

h-navigation-list {
	display: contents;
}

:where(.p-navigation ul) {
	/* Text */
	font-size: 18--rpx;
	line-height: max(20 / 18);
}

:where(.p-navigation li) {
	/* Appearance */
	color: var(--PrimaryColor);
	cursor: pointer;
}

:where(.p-navigation li li) {
	/* Appearance */
	color: var(--SecondaryColor);
}

:where(.p-navigation li hr) {
	/* Layout */
	block-size: 1px;
	margin-block: calc(1 * var(--step));
	margin-inline: calc(11 * var(--step));

	/* Appearance */
	box-shadow: #99999922 1px 1px 0 0;
}

:where(.p-navigation .current) {
	/* Appearance */
	color: var(--Orange700Color);
}

:where(.p-navigation .current .current) {
	/* Text */
	font-weight: 700;

	/* Appearance */
	color: var(--PrimaryColor);
}

:where(.p-navigation ul ul) {
	/* Text */
	font-size: 14--rpx;
	line-height: max(16 / 14);
}

:where(.p-navigation > h-navigation-list > ul) {
	/* Layout */
	inline-size: 100%;
	margin-block-start: 5--step;
}

:where(.p-navigation > h-navigation-list > ul ul) {
	/* Layout */
	margin-block-start: -2--step;
	margin-inline-start: 5--step;
}

:where(.p-navigation ul :is(a, span)) {
	display: block;

	/* Layout */
	padding-block: 4--step;
	padding-inline: 11--step;
}

:where(.p-navigation ul ul :is(a, span)) {
	display: block;

	/* Layout */
	padding-block: 2--step;
	padding-inline: 11--step;
}

:where(.p-navigation h-navigation-list > :is(a, span)) {
	/* Appearance */
	color: var(--parent-color);
}

:where(.p-navigation ul :is(a, span):is(:hover, :focus-visible)) {
	/* Appearance */
	color: var(--Orange700Color);
}

:where(.p-navigation ul ul :is(a, span):is(:hover, :focus-visible)) {
	/* Appearance */
	color: var(--PrimaryColor);
}

:where(h-navigation-disclosure) {
	display: contents;
}
