---
import { Field, Root, Sandbox } from 'project:components/component-playground/ComponentPlayground'
---
<Root>
	<Sandbox is:tag="rux-card" is:constructor="RuxCard">
		<rux-card>
			A card is a container for a few short, related pieces of information.
			It roughly resembles a playing card in size and shape, and is intended as a linked, short representation of a conceptual unit.
		</rux-card>
	</Sandbox>
	<Fragment slot="variants">
		<Field type="menu" name="example:variant" implicitlabel>
			<option>Default</option>
		</Field>
	</Fragment>
</Root>