/* Unset button styles */

button {
	/* Layout */
	margin: 0;
	padding: 0;

	/* Text */
	font: inherit;
	line-height: inherit;
	text-align: inherit;

	/* Appearance */
	appearance: none;
	background-color: transparent;
	color: inherit;
	cursor: inherit;
	border-width: 0;
}

:where(:focus-visible) {
	/* Appearance */
	border-radius: 3--rpx;
	outline: 1px solid var(--FocusLight);
}

/* Unset SVG styles */

svg {
	fill: currentColor;
}

.control {
	display: flex;

	/* Layout */
	align-items: center;
	inline-size: max(100% - 2--step);
	margin-inline: 1--step;
	padding-block: 4--step;
	padding-inline: 10--step;

	/* Appearance */
	cursor: pointer;

	/* Animation */
	transition: 400ms color;

	&:hover, &:focus-visible {
		/* Appearance */
		color: var(--Orange700Color);
	}

	& svg {
		/* Layout */
		block-size: 12px;
		inline-size: 6px;
		margin-inline-end: 2--step;
		margin-inline-start: max(-6px - 2--step);

		/* Animation */
		transition: transform 200ms;
	}

	&.open svg {
		/* Transform */
		transform: rotate3d(0, 0, 1, 90deg);
	}
}

:defined ::slotted(:is(a, span)) {
	/* stylelint-disable-next-line declaration-no-important */
	display: contents !important;
}

.content {
	&.open {
		/* Layout */
		block-size: auto;
	}

	&:not(.open) {
		/* Layout */
		block-size: 0;
		overflow: hidden;

		/* Animation */
		transition: 400ms height;
	}
}
