---
import './site-banner.css'
---
<div class="site-banner" role="banner" aria-label="Site announcement">
	<div class="site-banner__content">
		<p>Read about changes to AstroUXDS <a href="/updates/" class="site-banner__link">here</a>.</p>
	</div>
</div>