.p-search {
	display: flex;

	/* Layout */
	flex-flow: column;

	& .field-decorator {
		display: grid;

		& > * {
			/* Layout */
			grid-area: 1 / 1;
		}
	}

	& .field-decorator-icon {
		/* Layout */
		align-self: center;
		margin-inline-start: 2--step;
		order: 1;

		/* Appearance */
		color: var(--PrimaryColor);

		/* Behavior */
		pointer-events: none;
	}

	& .field {
		/* Layout */
		inline-size: max(100%);
		padding-block: 2--step;
		padding-inline: 10--step;

		/* Text */
		font-size: 16--rpx;
		line-height: max(20 / 16);

		/* Appearance */
		background: var(--BaseColor);
		border-radius: 3--rpx;
		box-shadow: var(--border-color) 0 0 0 1px inset;
		color: var(--PrimaryColor);

		--border-color: var(--InteractiveMutedColor);

		&:is(:hover, :focus-visible) {
			--border-color: var(--InteractiveHoverColor);
		}

		&::placeholder {
			/* Appearance */
			color: var(--PlaceholderColor);
		}
	}

	& .footer {
		/* Layout */
		padding-block-start: 3--step;

		/* Text */
		font-size: 14--rpx;
		font-style: italic;
		line-height: max(20 / 14);
		text-align: end;
	}

	&:not(.-has-results) .footer {
		display: none;
	}

	/* Generated DHTML */

	& .heading {
		/* Layout */
		margin-block-start: 2--step;

		/* Text */
		font-size: 14--rpx;
		line-height: max(20 / 14);

		/* Appearance */
		color: var(--PrimaryColor);
	}

	& .results {
		display: flex;

		/* Layout */
		flex-flow: column;
		gap: 1--step;
	}

	&:is(.-has-results) .results {
		/* Layout */
		margin-block-start: 2--step;
	}

	& .listitem {
		display: grid;

		/* Layout */
		align-items: center;
		column-gap: 3--step;
		grid-template-columns: min-content 1fr;
		grid-template-rows: min-content 1fr;
		padding-block: 4--step;
		padding-inline: 4--step;

		/* Appearance */
		background-color: var(--BaseColor);
		border-radius: 3--rpx;
		color: var(--SecondaryColor);

		&:is(:hover, :focus-within) {
			/* Appearance */
			background-color: var(--InteractiveColor);
			color: var(--InverseColor);
			cursor: pointer;
		}
	}

	& .search-result-icon {
		/* Layout */
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}

	& .link {
		/* Layout */
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		overflow: hidden;

		/* Text */
		font-size: 16--rpx;
		line-height: max(20 / 16);
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	& .link-description {
		/* Layout */
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		margin-block-start: 1--step;

		/* Text */
		font-size: 14--rpx;
		line-height: max(20 / 14);
	}

	& mark {
		/* Appearance */
		background-color: transparent;
		color: var(--InteractiveColor);
	}

	& .listitem:is(:hover, :focus-within) mark {
		/* Appearance */
		color: currentColor;
	}

	& .listitem:is(:hover, :focus-within) a {
		/* Appearance */
		outline: none;
	}

	& .listitem:not(:hover, :focus-within) svg {
		/* Appearance */
		color: var(--PlaceholderColor);
	}
}
