.p-search {
	display: flex;

	/* layout */
	flex-flow: column;
}

.p-search .field-decorator {
	display: grid;
}

.p-search .field-decorator > * {
	grid-area: 1 / 1;
}

.p-search .field-decorator-icon {
	/* layout */
	align-self: center;
	margin-inline-start: 2--step;
	order: 1;

	/* decoration */
	color: var(--PrimaryColor);
	pointer-events: none;
}

.p-search .field {
	/* layout */
	inline-size: max(100%);
	padding-block: 2--step;
	padding-inline: 10--step;

	/* typography */
	font-size: 16--rpx;
	line-height: max(20 / 16);

	/* decoration */
	background: var(--BaseColor);
	border-radius: 3--rpx;
	box-shadow: var(--border-color) 0 0 0 1px inset;
	color: var(--PrimaryColor);

	/* reference */
	--border-color: var(--InteractiveMutedColor);
}

.p-search .field:is(:hover, :focus-visible) {
	/* reference */
	--border-color: var(--InteractiveHoverColor);
}

.p-search .field::placeholder {
	/* decoration */
	color: var(--PlaceholderColor);
}

.p-search .footer {
	/* layout */
	padding-block-start: 3--step;

	/* typography */
	font-size: 14--rpx;
	font-style: italic;
	line-height: max(20 / 14);
	text-align: end;
}

.p-search:not(.-has-results) .footer {
	display: none;
}

/* Generated DHTML */

.p-search .heading {
	/* layout */
	margin-block-start: 2--step;

	/* typography */
	font-size: 14--rpx;
	line-height: max(20 / 14);

	/* decoration */
	color: var(--PrimaryColor);
}

.p-search .results {
	display: flex;

	/* layout */
	flex-flow: column;
	gap: 1--step;
}

.p-search:is(.-has-results) .results {
	margin-block-start: 2--step;
}

.p-search .listitem {
	display: grid;

	/* layout */
	align-items: center;
	column-gap: 3--step;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	padding-block: 4--step;
	padding-inline: 4--step;

	/* decoration */
	background-color: var(--BaseColor);
	border-radius: 3--rpx;
	color: var(--SecondaryColor);
}

.p-search .listitem:is(:hover, :focus-within) {
	/* decoration */
	background-color: var(--InteractiveColor);
	color: var(--InverseColor);
	cursor: pointer;
}

.p-search .search-result-icon {
	/* layout */
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.p-search .link {
	/* layout */
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	overflow: hidden;
	white-space: nowrap;

	/* typography */
	font-size: 16--rpx;
	line-height: max(20 / 16);
	text-overflow: ellipsis;
}

.p-search .link-description {
	/* layout */
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	margin-block-start: 1--step;

	/* typography */
	font-size: 14--rpx;
	line-height: max(20 / 14);
}

.p-search mark {
	/* decoration */
	background-color: transparent;
	color: var(--InteractiveColor);
}

.p-search .listitem:is(:hover, :focus-within) mark {
	/* decoration */
	color: currentColor;
}

.p-search .listitem:is(:hover, :focus-within) a {
	/* decoration */
	outline: none;
}

.p-search .listitem:not(:hover, :focus-within) svg {
	/* decoration */
	color: var(--PlaceholderColor);
}
