.asset-status {
	display: block;

	/* Layout */
	inline-size: 100%;
	margin-block-end: 14--step;
	overflow-y: overlay;

	& table {
		& tr {
			/* Layout */
			border-block-end: 1px solid var(--Grey300Color);
		}

		& td {
			/* Layout */
			padding: 2--step 5--step;

			& span {
				display: flex;

				/* Layout */
				align-items: center;
				gap: 2--step;
			}
		}

		& thead {
			& tr {
				/* Layout */
				border-block-start: none;
			}

			& th {
				/* Layout */
				padding: 2--step 5--step;

				/* Text */
				font-weight: 700;

				/* Appearance */
				background: var(--Grey200Color);
				color: var(--Grey700Color);

				&:first-child {
					/* Appearance */
					border-radius: 2--step 0 0 0;
				}

				&:last-child {
					/* Appearance */
					border-radius: 0 2--step 0 0;
				}
			}
		}

		& a[href] {
			/* Text */
			text-decoration: underline;

			/* Appearance */
			color: var(--DarkBlue500Color);

			&:hover, &:active {
				/* Appearance */
				color: var(--DarkBlue700Color);
			}
		}
	}
}
