---
import './asset-status.css'

const { props } = Astro

const statusIcon = {
	available: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.29506 15.8749L5.82506 12.4049C5.43506 12.0149 4.80506 12.0149 4.41506 12.4049C4.02506 12.7949 4.02506 13.4249 4.41506 13.8149L8.59506 17.9949C8.98506 18.3849 9.61506 18.3849 10.0051 17.9949L20.5851 7.4149C20.9751 7.0249 20.9751 6.3949 20.5851 6.0049C20.1951 5.6149 19.5651 5.6149 19.1751 6.0049L9.29506 15.8749Z" fill="#00942C"/></svg>`,
	inprogress: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 7.7897V5.9997C9.19 5.9997 6.5 8.6897 6.5 11.9997C6.5 12.7897 6.65 13.5597 6.94 14.2497C7.09 14.6097 6.98 15.0197 6.71 15.2897C6.2 15.7997 5.34 15.6197 5.07 14.9497C4.7 14.0397 4.5 13.0397 4.5 11.9997C4.5 7.5797 8.08 3.9997 12.5 3.9997V2.2097C12.5 1.7597 13.04 1.5397 13.35 1.8497L16.14 4.6397C16.34 4.8397 16.34 5.1497 16.14 5.3497L13.35 8.1397C13.04 8.4597 12.5 8.2397 12.5 7.7897ZM18.06 9.7497C17.91 9.3997 18.02 8.9797 18.29 8.7097C18.8 8.1997 19.66 8.3797 19.93 9.0497C20.3 9.9597 20.5 10.9597 20.5 11.9997C20.5 16.4197 16.92 19.9997 12.5 19.9997V21.7997C12.5 22.2397 11.96 22.4597 11.65 22.1497L8.86 19.3597C8.66 19.1597 8.66 18.8497 8.86 18.6497L11.65 15.8597C11.96 15.5397 12.5 15.7597 12.5 16.2097V17.9997C15.81 17.9997 18.5 15.3097 18.5 11.9997C18.5 11.2097 18.34 10.4497 18.06 9.7497Z" fill="#2D8BA9"/>
				</svg>`,
	planned: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M12.49 2C6.97 2 2.5 6.48 2.5 12C2.5 17.52 6.97 22 12.49 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.49 2ZM12.5 20C8.08 20 4.5 16.42 4.5 12C4.5 7.58 8.08 4 12.5 4C16.92 4 20.5 7.58 20.5 12C20.5 16.42 16.92 20 12.5 20ZM12.22 7H12.28C12.68 7 13 7.32 13 7.72V12.26L16.87 14.56C17.22 14.76 17.33 15.21 17.12 15.55C16.92 15.89 16.48 15.99 16.14 15.79L11.99 13.3C11.68 13.12 11.5 12.79 11.5 12.44V7.72C11.5 7.32 11.82 7 12.22 7Z" fill="#C26C0A"/>
			  </svg>`,
	unavailable: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.8 5.70973C18.41 5.31973 17.78 5.31973 17.39 5.70973L12.5 10.5897L7.60997 5.69973C7.21997 5.30973 6.58997 5.30973 6.19997 5.69973C5.80997 6.08973 5.80997 6.71973 6.19997 7.10973L11.09 11.9997L6.19997 16.8897C5.80997 17.2797 5.80997 17.9097 6.19997 18.2997C6.58997 18.6897 7.21997 18.6897 7.60997 18.2997L12.5 13.4097L17.39 18.2997C17.78 18.6897 18.41 18.6897 18.8 18.2997C19.19 17.9097 19.19 17.2797 18.8 16.8897L13.91 11.9997L18.8 7.10973C19.18 6.72973 19.18 6.08973 18.8 5.70973Z" fill="#D72809"/>
				 </svg>`,
	deprecated: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 2.0249C13.05 2.0249 13.5 2.5649 13.5 3.2249V16.3744C13.5 17.0344 13.05 17.5744 12.5 17.5744C11.95 17.5744 11.5 17.0344 11.5 16.3744V3.2249C11.5 2.5649 11.95 2.0249 12.5 2.0249Z" fill="#991B04"/>
					<path d="M13.5 21.9756H11.5V19.9756H13.5V21.9756Z" fill="#991B04"/>
				</svg>
				`,
 
}

const assetIcon = {
	doc: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
			<mask id="mask0_3423_4816" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
				<rect x="0.5" y="0.691406" width="24" height="24" fill="#D9D9D9"/>
			</mask>
			<g mask="url(#mask0_3423_4816)">
				<path d="M8.5 18.6914H16.5V16.6914H8.5V18.6914ZM8.5 14.6914H16.5V12.6914H8.5V14.6914ZM6.5 22.6914C5.95 22.6914 5.47933 22.4957 5.088 22.1044C4.696 21.7124 4.5 21.2414 4.5 20.6914V4.69141C4.5 4.14141 4.696 3.67041 5.088 3.27841C5.47933 2.88707 5.95 2.69141 6.5 2.69141H14.5L20.5 8.69141V20.6914C20.5 21.2414 20.3043 21.7124 19.913 22.1044C19.521 22.4957 19.05 22.6914 18.5 22.6914H6.5ZM13.5 9.69141V4.69141H6.5V20.6914H18.5V9.69141H13.5Z" fill="#7B8089"/>
			</g>
		  </svg>`,
	ui: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.5 12.6912C12.5 11.9398 12.7897 11.2191 13.3055 10.6878C13.8212 10.1564 14.5207 9.85791 15.25 9.85791C15.9793 9.85791 16.6788 10.1564 17.1945 10.6878C17.7103 11.2191 18 11.9398 18 12.6912C18 13.4427 17.7103 14.1634 17.1945 14.6947C16.6788 15.2261 15.9793 15.5246 15.25 15.5246C14.5207 15.5246 13.8212 15.2261 13.3055 14.6947C12.7897 14.1634 12.5 13.4427 12.5 12.6912V12.6912Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M7 18.3582C7 17.6068 7.28973 16.8861 7.80546 16.3548C8.32118 15.8234 9.02065 15.5249 9.75 15.5249H12.5V18.3582C12.5 19.1097 12.2103 19.8304 11.6945 20.3617C11.1788 20.8931 10.4793 21.1916 9.75 21.1916C9.02065 21.1916 8.32118 20.8931 7.80546 20.3617C7.28973 19.8304 7 19.1097 7 18.3582Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M12.5 4.19141V9.85807H15.25C15.9793 9.85807 16.6788 9.55956 17.1945 9.02821C17.7103 8.49686 18 7.77619 18 7.02474C18 6.27329 17.7103 5.55262 17.1945 5.02127C16.6788 4.48992 15.9793 4.19141 15.25 4.19141H12.5Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M7 7.02474C7 7.77619 7.28973 8.49686 7.80546 9.02821C8.32118 9.55956 9.02065 9.85807 9.75 9.85807H12.5V4.19141H9.75C9.02065 4.19141 8.32118 4.48992 7.80546 5.02127C7.28973 5.55262 7 6.27329 7 7.02474Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M7 12.6912C7 13.4427 7.28973 14.1634 7.80546 14.6947C8.32118 15.2261 9.02065 15.5246 9.75 15.5246H12.5V9.85791H9.75C9.02065 9.85791 8.32118 10.1564 7.80546 10.6878C7.28973 11.2191 7 11.9398 7 12.6912Z" stroke="#7B8089" stroke-width="2"/>
		</svg>`,
	component: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.5897 6.33887L10.4653 19.0443" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M7.37857 7.92383L4.22857 10.6611C3.9437 10.9112 3.54489 11.5987 4.22857 12.3487L7.37857 15.4594" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M17.6771 8.92383L20.8271 11.6611C21.112 11.9112 21.5108 12.5987 20.8271 13.3487L17.6771 16.4594" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
				</svg>`,
	token: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M20.0336 8.57021L20.0336 8.57019L20.0276 8.57367L13.5781 12.3201C13.4205 12.3829 13.1387 12.4652 12.824 12.4903C12.474 12.5181 12.1845 12.4679 11.9823 12.351C11.094 11.8378 7.09757 9.61871 5.20653 8.57113C5.18615 8.559 5.16625 8.54719 5.14681 8.53565C5.01884 8.45968 4.91077 8.39552 4.81502 8.33158C4.91005 8.26051 5.03672 8.17709 5.20319 8.08231C7.17101 6.9619 10.5205 5.08248 11.9606 4.27652C12.0879 4.20987 12.3619 4.10654 12.6767 4.07693C12.9905 4.04742 13.2649 4.09709 13.4807 4.23717L14.0159 3.41278L13.4807 4.23717C14.4276 4.85177 18.2434 7.05552 20.019 8.07306C20.1059 8.12731 20.1991 8.20112 20.2719 8.27988C20.299 8.30923 20.3186 8.33418 20.3327 8.3542C20.287 8.40084 20.198 8.47621 20.0336 8.57021ZM4.5823 8.14496C4.58232 8.14496 4.58257 8.14528 4.58303 8.14592L4.5823 8.14496Z" stroke="#7B8089" stroke-width="2"/>
				<path d="M4.58887 17.3994C6.47993 18.447 10.4822 20.6693 11.3625 21.1779C12.2428 21.6866 13.4247 21.3899 13.9057 21.1779L20.4103 17.3994" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
				<path d="M4.58887 12.7983C6.47993 13.8459 10.4822 16.0682 11.3625 16.5769C12.2428 17.0855 13.4247 16.7888 13.9057 16.5769L20.4103 12.7983" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
			</svg>`,
	}
---
<h2>Asset Status</h2>
<article class="asset-status">
	<table>
		<thead>
			<tr>
				<th>Asset</th>
				<th>Version</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_3423_4816" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
						<rect x="0.5" y="0.691406" width="24" height="24" fill="#D9D9D9"/>
					</mask>
					<g mask="url(#mask0_3423_4816)">
						<path d="M8.5 18.6914H16.5V16.6914H8.5V18.6914ZM8.5 14.6914H16.5V12.6914H8.5V14.6914ZM6.5 22.6914C5.95 22.6914 5.47933 22.4957 5.088 22.1044C4.696 21.7124 4.5 21.2414 4.5 20.6914V4.69141C4.5 4.14141 4.696 3.67041 5.088 3.27841C5.47933 2.88707 5.95 2.69141 6.5 2.69141H14.5L20.5 8.69141V20.6914C20.5 21.2414 20.3043 21.7124 19.913 22.1044C19.521 22.4957 19.05 22.6914 18.5 22.6914H6.5ZM13.5 9.69141V4.69141H6.5V20.6914H18.5V9.69141H13.5Z" fill="#7B8089"/>
					</g>
				  </svg> Documentation</td>
				<td><a href="#">7.0.0</a></td>
				<td><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.29506 15.8749L5.82506 12.4049C5.43506 12.0149 4.80506 12.0149 4.41506 12.4049C4.02506 12.7949 4.02506 13.4249 4.41506 13.8149L8.59506 17.9949C8.98506 18.3849 9.61506 18.3849 10.0051 17.9949L20.5851 7.4149C20.9751 7.0249 20.9751 6.3949 20.5851 6.0049C20.1951 5.6149 19.5651 5.6149 19.1751 6.0049L9.29506 15.8749Z" fill="#00942C"/></svg> Available</td>
			</tr>
			<tr>
				<td> <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_3423_4816" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
						<rect x="0.5" y="0.691406" width="24" height="24" fill="#D9D9D9"/>
					</mask>
					<g mask="url(#mask0_3423_4816)">
						<path d="M8.5 18.6914H16.5V16.6914H8.5V18.6914ZM8.5 14.6914H16.5V12.6914H8.5V14.6914ZM6.5 22.6914C5.95 22.6914 5.47933 22.4957 5.088 22.1044C4.696 21.7124 4.5 21.2414 4.5 20.6914V4.69141C4.5 4.14141 4.696 3.67041 5.088 3.27841C5.47933 2.88707 5.95 2.69141 6.5 2.69141H14.5L20.5 8.69141V20.6914C20.5 21.2414 20.3043 21.7124 19.913 22.1044C19.521 22.4957 19.05 22.6914 18.5 22.6914H6.5ZM13.5 9.69141V4.69141H6.5V20.6914H18.5V9.69141H13.5Z" fill="#7B8089"/>
					</g>
				  </svg> Documentation</td>
				<td>7.0.0</td>
				<td><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 7.7897V5.9997C9.19 5.9997 6.5 8.6897 6.5 11.9997C6.5 12.7897 6.65 13.5597 6.94 14.2497C7.09 14.6097 6.98 15.0197 6.71 15.2897C6.2 15.7997 5.34 15.6197 5.07 14.9497C4.7 14.0397 4.5 13.0397 4.5 11.9997C4.5 7.5797 8.08 3.9997 12.5 3.9997V2.2097C12.5 1.7597 13.04 1.5397 13.35 1.8497L16.14 4.6397C16.34 4.8397 16.34 5.1497 16.14 5.3497L13.35 8.1397C13.04 8.4597 12.5 8.2397 12.5 7.7897ZM18.06 9.7497C17.91 9.3997 18.02 8.9797 18.29 8.7097C18.8 8.1997 19.66 8.3797 19.93 9.0497C20.3 9.9597 20.5 10.9597 20.5 11.9997C20.5 16.4197 16.92 19.9997 12.5 19.9997V21.7997C12.5 22.2397 11.96 22.4597 11.65 22.1497L8.86 19.3597C8.66 19.1597 8.66 18.8497 8.86 18.6497L11.65 15.8597C11.96 15.5397 12.5 15.7597 12.5 16.2097V17.9997C15.81 17.9997 18.5 15.3097 18.5 11.9997C18.5 11.2097 18.34 10.4497 18.06 9.7497Z" fill="#2D8BA9"/>
				</svg> In Progress</td>
			</tr>
			<tr>
				<td><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 12.6912C12.5 11.9398 12.7897 11.2191 13.3055 10.6878C13.8212 10.1564 14.5207 9.85791 15.25 9.85791C15.9793 9.85791 16.6788 10.1564 17.1945 10.6878C17.7103 11.2191 18 11.9398 18 12.6912C18 13.4427 17.7103 14.1634 17.1945 14.6947C16.6788 15.2261 15.9793 15.5246 15.25 15.5246C14.5207 15.5246 13.8212 15.2261 13.3055 14.6947C12.7897 14.1634 12.5 13.4427 12.5 12.6912V12.6912Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M7 18.3582C7 17.6068 7.28973 16.8861 7.80546 16.3548C8.32118 15.8234 9.02065 15.5249 9.75 15.5249H12.5V18.3582C12.5 19.1097 12.2103 19.8304 11.6945 20.3617C11.1788 20.8931 10.4793 21.1916 9.75 21.1916C9.02065 21.1916 8.32118 20.8931 7.80546 20.3617C7.28973 19.8304 7 19.1097 7 18.3582Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M12.5 4.19141V9.85807H15.25C15.9793 9.85807 16.6788 9.55956 17.1945 9.02821C17.7103 8.49686 18 7.77619 18 7.02474C18 6.27329 17.7103 5.55262 17.1945 5.02127C16.6788 4.48992 15.9793 4.19141 15.25 4.19141H12.5Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M7 7.02474C7 7.77619 7.28973 8.49686 7.80546 9.02821C8.32118 9.55956 9.02065 9.85807 9.75 9.85807H12.5V4.19141H9.75C9.02065 4.19141 8.32118 4.48992 7.80546 5.02127C7.28973 5.55262 7 6.27329 7 7.02474Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M7 12.6912C7 13.4427 7.28973 14.1634 7.80546 14.6947C8.32118 15.2261 9.02065 15.5246 9.75 15.5246H12.5V9.85791H9.75C9.02065 9.85791 8.32118 10.1564 7.80546 10.6878C7.28973 11.2191 7 11.9398 7 12.6912Z" stroke="#7B8089" stroke-width="2"/>
				</svg> UI - Kit</td>
				<td><a href="#">7.0.0</a></td>
				<td><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.49 2C6.97 2 2.5 6.48 2.5 12C2.5 17.52 6.97 22 12.49 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.49 2ZM12.5 20C8.08 20 4.5 16.42 4.5 12C4.5 7.58 8.08 4 12.5 4C16.92 4 20.5 7.58 20.5 12C20.5 16.42 16.92 20 12.5 20ZM12.22 7H12.28C12.68 7 13 7.32 13 7.72V12.26L16.87 14.56C17.22 14.76 17.33 15.21 17.12 15.55C16.92 15.89 16.48 15.99 16.14 15.79L11.99 13.3C11.68 13.12 11.5 12.79 11.5 12.44V7.72C11.5 7.32 11.82 7 12.22 7Z" fill="#C26C0A"/>
				  </svg> Planned</td>
			</tr>
			<tr>
				<td><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.5897 6.33887L10.4653 19.0443" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M7.37857 7.92383L4.22857 10.6611C3.9437 10.9112 3.54489 11.5987 4.22857 12.3487L7.37857 15.4594" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M17.6771 8.92383L20.8271 11.6611C21.112 11.9112 21.5108 12.5987 20.8271 13.3487L17.6771 16.4594" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
				</svg> Web Component</td>
				<td>7.0.0</td>
				<td><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.8 5.70973C18.41 5.31973 17.78 5.31973 17.39 5.70973L12.5 10.5897L7.60997 5.69973C7.21997 5.30973 6.58997 5.30973 6.19997 5.69973C5.80997 6.08973 5.80997 6.71973 6.19997 7.10973L11.09 11.9997L6.19997 16.8897C5.80997 17.2797 5.80997 17.9097 6.19997 18.2997C6.58997 18.6897 7.21997 18.6897 7.60997 18.2997L12.5 13.4097L17.39 18.2997C17.78 18.6897 18.41 18.6897 18.8 18.2997C19.19 17.9097 19.19 17.2797 18.8 16.8897L13.91 11.9997L18.8 7.10973C19.18 6.72973 19.18 6.08973 18.8 5.70973Z" fill="#D72809"/>
				 </svg> Unvailable</td>
			</tr>
			<tr>
				<td><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M20.0336 8.57021L20.0336 8.57019L20.0276 8.57367L13.5781 12.3201C13.4205 12.3829 13.1387 12.4652 12.824 12.4903C12.474 12.5181 12.1845 12.4679 11.9823 12.351C11.094 11.8378 7.09757 9.61871 5.20653 8.57113C5.18615 8.559 5.16625 8.54719 5.14681 8.53565C5.01884 8.45968 4.91077 8.39552 4.81502 8.33158C4.91005 8.26051 5.03672 8.17709 5.20319 8.08231C7.17101 6.9619 10.5205 5.08248 11.9606 4.27652C12.0879 4.20987 12.3619 4.10654 12.6767 4.07693C12.9905 4.04742 13.2649 4.09709 13.4807 4.23717L14.0159 3.41278L13.4807 4.23717C14.4276 4.85177 18.2434 7.05552 20.019 8.07306C20.1059 8.12731 20.1991 8.20112 20.2719 8.27988C20.299 8.30923 20.3186 8.33418 20.3327 8.3542C20.287 8.40084 20.198 8.47621 20.0336 8.57021ZM4.5823 8.14496C4.58232 8.14496 4.58257 8.14528 4.58303 8.14592L4.5823 8.14496Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M4.58887 17.3994C6.47993 18.447 10.4822 20.6693 11.3625 21.1779C12.2428 21.6866 13.4247 21.3899 13.9057 21.1779L20.4103 17.3994" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M4.58887 12.7983C6.47993 13.8459 10.4822 16.0682 11.3625 16.5769C12.2428 17.0855 13.4247 16.7888 13.9057 16.5769L20.4103 12.7983" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
				</svg> Design Token</td>
				<td>7.0.0</td>
				<td><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 2.0249C13.05 2.0249 13.5 2.5649 13.5 3.2249V16.3744C13.5 17.0344 13.05 17.5744 12.5 17.5744C11.95 17.5744 11.5 17.0344 11.5 16.3744V3.2249C11.5 2.5649 11.95 2.0249 12.5 2.0249Z" fill="#991B04"/>
					<path d="M13.5 21.9756H11.5V19.9756H13.5V21.9756Z" fill="#991B04"/>
				</svg> Deprecated</td>
			</tr>
		</tbody>
	</table>
</article>