---
import { For } from '@astropub/flow'
import './asset-status.css'
import { data } from "project:data/asset-status.json"

const { frontmatter } = Astro.props
console.log(frontmatter)

const status = {
	available: `<svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.29506 15.8749L5.82506 12.4049C5.43506 12.0149 4.80506 12.0149 4.41506 12.4049C4.02506 12.7949 4.02506 13.4249 4.41506 13.8149L8.59506 17.9949C8.98506 18.3849 9.61506 18.3849 10.0051 17.9949L20.5851 7.4149C20.9751 7.0249 20.9751 6.3949 20.5851 6.0049C20.1951 5.6149 19.5651 5.6149 19.1751 6.0049L9.29506 15.8749Z" fill="#00942C"/></svg>Available`,
	inprogress: `<svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 7.7897V5.9997C9.19 5.9997 6.5 8.6897 6.5 11.9997C6.5 12.7897 6.65 13.5597 6.94 14.2497C7.09 14.6097 6.98 15.0197 6.71 15.2897C6.2 15.7997 5.34 15.6197 5.07 14.9497C4.7 14.0397 4.5 13.0397 4.5 11.9997C4.5 7.5797 8.08 3.9997 12.5 3.9997V2.2097C12.5 1.7597 13.04 1.5397 13.35 1.8497L16.14 4.6397C16.34 4.8397 16.34 5.1497 16.14 5.3497L13.35 8.1397C13.04 8.4597 12.5 8.2397 12.5 7.7897ZM18.06 9.7497C17.91 9.3997 18.02 8.9797 18.29 8.7097C18.8 8.1997 19.66 8.3797 19.93 9.0497C20.3 9.9597 20.5 10.9597 20.5 11.9997C20.5 16.4197 16.92 19.9997 12.5 19.9997V21.7997C12.5 22.2397 11.96 22.4597 11.65 22.1497L8.86 19.3597C8.66 19.1597 8.66 18.8497 8.86 18.6497L11.65 15.8597C11.96 15.5397 12.5 15.7597 12.5 16.2097V17.9997C15.81 17.9997 18.5 15.3097 18.5 11.9997C18.5 11.2097 18.34 10.4497 18.06 9.7497Z" fill="#2D8BA9"/>
				</svg>In Progress`,
	planned: `<svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M12.49 2C6.97 2 2.5 6.48 2.5 12C2.5 17.52 6.97 22 12.49 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.49 2ZM12.5 20C8.08 20 4.5 16.42 4.5 12C4.5 7.58 8.08 4 12.5 4C16.92 4 20.5 7.58 20.5 12C20.5 16.42 16.92 20 12.5 20ZM12.22 7H12.28C12.68 7 13 7.32 13 7.72V12.26L16.87 14.56C17.22 14.76 17.33 15.21 17.12 15.55C16.92 15.89 16.48 15.99 16.14 15.79L11.99 13.3C11.68 13.12 11.5 12.79 11.5 12.44V7.72C11.5 7.32 11.82 7 12.22 7Z" fill="#C26C0A"/>
			  </svg>Planned`,
	unavailable: `<svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.8 5.70973C18.41 5.31973 17.78 5.31973 17.39 5.70973L12.5 10.5897L7.60997 5.69973C7.21997 5.30973 6.58997 5.30973 6.19997 5.69973C5.80997 6.08973 5.80997 6.71973 6.19997 7.10973L11.09 11.9997L6.19997 16.8897C5.80997 17.2797 5.80997 17.9097 6.19997 18.2997C6.58997 18.6897 7.21997 18.6897 7.60997 18.2997L12.5 13.4097L17.39 18.2997C17.78 18.6897 18.41 18.6897 18.8 18.2997C19.19 17.9097 19.19 17.2797 18.8 16.8897L13.91 11.9997L18.8 7.10973C19.18 6.72973 19.18 6.08973 18.8 5.70973Z" fill="#D72809"/>
				 </svg>Not Available`,
	deprecated: `<svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 2.0249C13.05 2.0249 13.5 2.5649 13.5 3.2249V16.3744C13.5 17.0344 13.05 17.5744 12.5 17.5744C11.95 17.5744 11.5 17.0344 11.5 16.3744V3.2249C11.5 2.5649 11.95 2.0249 12.5 2.0249Z" fill="#991B04"/>
					<path d="M13.5 21.9756H11.5V19.9756H13.5V21.9756Z" fill="#991B04"/>
				</svg>Deprecated
				`,
 
}

const assetIcon = {
	documentation: `<svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
			<mask id="mask0_3423_4816" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
				<rect x="0.5" y="0.691406" width="24" height="24" fill="#D9D9D9"/>
			</mask>
			<g mask="url(#mask0_3423_4816)">
				<path d="M8.5 18.6914H16.5V16.6914H8.5V18.6914ZM8.5 14.6914H16.5V12.6914H8.5V14.6914ZM6.5 22.6914C5.95 22.6914 5.47933 22.4957 5.088 22.1044C4.696 21.7124 4.5 21.2414 4.5 20.6914V4.69141C4.5 4.14141 4.696 3.67041 5.088 3.27841C5.47933 2.88707 5.95 2.69141 6.5 2.69141H14.5L20.5 8.69141V20.6914C20.5 21.2414 20.3043 21.7124 19.913 22.1044C19.521 22.4957 19.05 22.6914 18.5 22.6914H6.5ZM13.5 9.69141V4.69141H6.5V20.6914H18.5V9.69141H13.5Z" fill="#7B8089"/>
			</g>
		  </svg>`,
	ui: `<svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.5 12.6912C12.5 11.9398 12.7897 11.2191 13.3055 10.6878C13.8212 10.1564 14.5207 9.85791 15.25 9.85791C15.9793 9.85791 16.6788 10.1564 17.1945 10.6878C17.7103 11.2191 18 11.9398 18 12.6912C18 13.4427 17.7103 14.1634 17.1945 14.6947C16.6788 15.2261 15.9793 15.5246 15.25 15.5246C14.5207 15.5246 13.8212 15.2261 13.3055 14.6947C12.7897 14.1634 12.5 13.4427 12.5 12.6912V12.6912Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M7 18.3582C7 17.6068 7.28973 16.8861 7.80546 16.3548C8.32118 15.8234 9.02065 15.5249 9.75 15.5249H12.5V18.3582C12.5 19.1097 12.2103 19.8304 11.6945 20.3617C11.1788 20.8931 10.4793 21.1916 9.75 21.1916C9.02065 21.1916 8.32118 20.8931 7.80546 20.3617C7.28973 19.8304 7 19.1097 7 18.3582Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M12.5 4.19141V9.85807H15.25C15.9793 9.85807 16.6788 9.55956 17.1945 9.02821C17.7103 8.49686 18 7.77619 18 7.02474C18 6.27329 17.7103 5.55262 17.1945 5.02127C16.6788 4.48992 15.9793 4.19141 15.25 4.19141H12.5Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M7 7.02474C7 7.77619 7.28973 8.49686 7.80546 9.02821C8.32118 9.55956 9.02065 9.85807 9.75 9.85807H12.5V4.19141H9.75C9.02065 4.19141 8.32118 4.48992 7.80546 5.02127C7.28973 5.55262 7 6.27329 7 7.02474Z" stroke="#7B8089" stroke-width="2"/>
			<path d="M7 12.6912C7 13.4427 7.28973 14.1634 7.80546 14.6947C8.32118 15.2261 9.02065 15.5246 9.75 15.5246H12.5V9.85791H9.75C9.02065 9.85791 8.32118 10.1564 7.80546 10.6878C7.28973 11.2191 7 11.9398 7 12.6912Z" stroke="#7B8089" stroke-width="2"/>
		</svg>`,
	component: `<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.0897 6.17871L9.96533 18.8842" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M6.87857 7.76367L3.72857 10.501C3.4437 10.751 3.04489 11.4385 3.72857 12.1886L6.87857 15.2992" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M17.1771 8.76367L20.3271 11.501C20.612 11.751 21.0108 12.4385 20.3271 13.1886L17.1771 16.2992" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
				</svg>
				`,
	token: `<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.1354 15.6931C12.4474 16.1739 11.5325 16.1739 10.8445 15.6933L5.15154 11.7166C4.83228 11.4936 4.40775 11.4936 4.08853 11.7167V11.7167C3.55995 12.086 3.55995 12.8686 4.08853 13.238L10.8544 17.9661C11.5424 18.4469 12.4576 18.4469 13.1456 17.9661L19.9048 13.2427C20.4368 12.8709 20.4372 12.0833 19.9054 11.7111V11.7111C19.5839 11.486 19.156 11.4858 18.8342 11.7107L13.1354 15.6931ZM10.8539 14.3093C11.5422 14.7901 12.4576 14.7898 13.1456 14.3085L19.36 9.96162V9.96162C20.1556 9.40804 20.1568 8.23134 19.3623 7.67614L13.1456 3.33182C12.4576 2.85099 11.5424 2.85099 10.8544 3.33182L4.63094 7.68084C3.83867 8.23448 3.83819 9.40732 4.63 9.96162V9.96162L10.8539 14.3093ZM12 4.80439L17.74 8.82056L12 12.8367L6.26 8.82056L12 4.80439Z" fill="#7B8089"/>
				<path d="M4.08853 15.4813C4.40775 15.2582 4.83228 15.2582 5.15153 15.4812L10.8445 19.4579C11.5325 19.9385 12.4474 19.9385 13.1354 19.4577L18.8342 15.4753C19.156 15.2504 19.5839 15.2506 19.9054 15.4757V15.4757C20.4372 15.8479 20.4368 16.6355 19.9048 17.0073L13.1456 21.7307C12.4576 22.2115 11.5424 22.2115 10.8544 21.7307L4.08853 17.0026C3.55995 16.6332 3.55995 15.8506 4.08853 15.4813V15.4813Z" fill="#7B8089"/>
			</svg>`,
	}
---
{
//if there is an asset status list for the component in the json file, read it
data[frontmatter.title] ?
<h2>Asset Status</h2>
<article class="asset-status">
	<table>
		<thead>
			<tr>
				<th>Asset</th>
				<th>Version</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<For of={data[frontmatter.title].assets}>{
				asset => (
					<tr>
						<td><span set:html={assetIcon[asset.type]+asset.name}></span></td>
						<td><a href={asset.link }>{asset.version}</a></td>
						<td><span set:html={status[asset.status]}></span></td>
					</tr>
				)}
			</For>
		</tbody>
	</table>
</article>
: null
}

<article class="asset-status">
	<table>
		<thead>
			<tr>
				<th>Asset</th>
				<th>Version</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span><svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_3423_4816" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
						<rect x="0.5" y="0.691406" width="24" height="24" fill="#D9D9D9"/>
					</mask>
					<g mask="url(#mask0_3423_4816)">
						<path d="M8.5 18.6914H16.5V16.6914H8.5V18.6914ZM8.5 14.6914H16.5V12.6914H8.5V14.6914ZM6.5 22.6914C5.95 22.6914 5.47933 22.4957 5.088 22.1044C4.696 21.7124 4.5 21.2414 4.5 20.6914V4.69141C4.5 4.14141 4.696 3.67041 5.088 3.27841C5.47933 2.88707 5.95 2.69141 6.5 2.69141H14.5L20.5 8.69141V20.6914C20.5 21.2414 20.3043 21.7124 19.913 22.1044C19.521 22.4957 19.05 22.6914 18.5 22.6914H6.5ZM13.5 9.69141V4.69141H6.5V20.6914H18.5V9.69141H13.5Z" fill="#7B8089"/>
					</g>
				  </svg>Documentation</span></td>
				<td><a href="#">7.0.0</a></td>
				<td><span><svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.29506 15.8749L5.82506 12.4049C5.43506 12.0149 4.80506 12.0149 4.41506 12.4049C4.02506 12.7949 4.02506 13.4249 4.41506 13.8149L8.59506 17.9949C8.98506 18.3849 9.61506 18.3849 10.0051 17.9949L20.5851 7.4149C20.9751 7.0249 20.9751 6.3949 20.5851 6.0049C20.1951 5.6149 19.5651 5.6149 19.1751 6.0049L9.29506 15.8749Z" fill="#00942C"/></svg> Available</span></td>
			</tr>
			<tr>
				<td><span><svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_3423_4816" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
						<rect x="0.5" y="0.691406" width="24" height="24" fill="#D9D9D9"/>
					</mask>
					<g mask="url(#mask0_3423_4816)">
						<path d="M8.5 18.6914H16.5V16.6914H8.5V18.6914ZM8.5 14.6914H16.5V12.6914H8.5V14.6914ZM6.5 22.6914C5.95 22.6914 5.47933 22.4957 5.088 22.1044C4.696 21.7124 4.5 21.2414 4.5 20.6914V4.69141C4.5 4.14141 4.696 3.67041 5.088 3.27841C5.47933 2.88707 5.95 2.69141 6.5 2.69141H14.5L20.5 8.69141V20.6914C20.5 21.2414 20.3043 21.7124 19.913 22.1044C19.521 22.4957 19.05 22.6914 18.5 22.6914H6.5ZM13.5 9.69141V4.69141H6.5V20.6914H18.5V9.69141H13.5Z" fill="#7B8089"/>
					</g>
				  </svg>Documentation</span></td>
				<td>7.0.0</td>
				<td><span><svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 7.7897V5.9997C9.19 5.9997 6.5 8.6897 6.5 11.9997C6.5 12.7897 6.65 13.5597 6.94 14.2497C7.09 14.6097 6.98 15.0197 6.71 15.2897C6.2 15.7997 5.34 15.6197 5.07 14.9497C4.7 14.0397 4.5 13.0397 4.5 11.9997C4.5 7.5797 8.08 3.9997 12.5 3.9997V2.2097C12.5 1.7597 13.04 1.5397 13.35 1.8497L16.14 4.6397C16.34 4.8397 16.34 5.1497 16.14 5.3497L13.35 8.1397C13.04 8.4597 12.5 8.2397 12.5 7.7897ZM18.06 9.7497C17.91 9.3997 18.02 8.9797 18.29 8.7097C18.8 8.1997 19.66 8.3797 19.93 9.0497C20.3 9.9597 20.5 10.9597 20.5 11.9997C20.5 16.4197 16.92 19.9997 12.5 19.9997V21.7997C12.5 22.2397 11.96 22.4597 11.65 22.1497L8.86 19.3597C8.66 19.1597 8.66 18.8497 8.86 18.6497L11.65 15.8597C11.96 15.5397 12.5 15.7597 12.5 16.2097V17.9997C15.81 17.9997 18.5 15.3097 18.5 11.9997C18.5 11.2097 18.34 10.4497 18.06 9.7497Z" fill="#2D8BA9"/>
				</svg>In Progress</span></td>
			</tr>
			<tr>
				<td><span><svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 12.6912C12.5 11.9398 12.7897 11.2191 13.3055 10.6878C13.8212 10.1564 14.5207 9.85791 15.25 9.85791C15.9793 9.85791 16.6788 10.1564 17.1945 10.6878C17.7103 11.2191 18 11.9398 18 12.6912C18 13.4427 17.7103 14.1634 17.1945 14.6947C16.6788 15.2261 15.9793 15.5246 15.25 15.5246C14.5207 15.5246 13.8212 15.2261 13.3055 14.6947C12.7897 14.1634 12.5 13.4427 12.5 12.6912V12.6912Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M7 18.3582C7 17.6068 7.28973 16.8861 7.80546 16.3548C8.32118 15.8234 9.02065 15.5249 9.75 15.5249H12.5V18.3582C12.5 19.1097 12.2103 19.8304 11.6945 20.3617C11.1788 20.8931 10.4793 21.1916 9.75 21.1916C9.02065 21.1916 8.32118 20.8931 7.80546 20.3617C7.28973 19.8304 7 19.1097 7 18.3582Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M12.5 4.19141V9.85807H15.25C15.9793 9.85807 16.6788 9.55956 17.1945 9.02821C17.7103 8.49686 18 7.77619 18 7.02474C18 6.27329 17.7103 5.55262 17.1945 5.02127C16.6788 4.48992 15.9793 4.19141 15.25 4.19141H12.5Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M7 7.02474C7 7.77619 7.28973 8.49686 7.80546 9.02821C8.32118 9.55956 9.02065 9.85807 9.75 9.85807H12.5V4.19141H9.75C9.02065 4.19141 8.32118 4.48992 7.80546 5.02127C7.28973 5.55262 7 6.27329 7 7.02474Z" stroke="#7B8089" stroke-width="2"/>
					<path d="M7 12.6912C7 13.4427 7.28973 14.1634 7.80546 14.6947C8.32118 15.2261 9.02065 15.5246 9.75 15.5246H12.5V9.85791H9.75C9.02065 9.85791 8.32118 10.1564 7.80546 10.6878C7.28973 11.2191 7 11.9398 7 12.6912Z" stroke="#7B8089" stroke-width="2"/>
				</svg>UI - Kit</span></td>
				<td><a href="#">7.0.0</a></td>
				<td><span><svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.49 2C6.97 2 2.5 6.48 2.5 12C2.5 17.52 6.97 22 12.49 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.49 2ZM12.5 20C8.08 20 4.5 16.42 4.5 12C4.5 7.58 8.08 4 12.5 4C16.92 4 20.5 7.58 20.5 12C20.5 16.42 16.92 20 12.5 20ZM12.22 7H12.28C12.68 7 13 7.32 13 7.72V12.26L16.87 14.56C17.22 14.76 17.33 15.21 17.12 15.55C16.92 15.89 16.48 15.99 16.14 15.79L11.99 13.3C11.68 13.12 11.5 12.79 11.5 12.44V7.72C11.5 7.32 11.82 7 12.22 7Z" fill="#C26C0A"/>
				  </svg>Planned</span></td>
			</tr>
			<tr>
				<td><span><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.1354 15.6931C12.4474 16.1739 11.5325 16.1739 10.8445 15.6933L5.15154 11.7166C4.83228 11.4936 4.40775 11.4936 4.08853 11.7167V11.7167C3.55995 12.086 3.55995 12.8686 4.08853 13.238L10.8544 17.9661C11.5424 18.4469 12.4576 18.4469 13.1456 17.9661L19.9048 13.2427C20.4368 12.8709 20.4372 12.0833 19.9054 11.7111V11.7111C19.5839 11.486 19.156 11.4858 18.8342 11.7107L13.1354 15.6931ZM10.8539 14.3093C11.5422 14.7901 12.4576 14.7898 13.1456 14.3085L19.36 9.96162V9.96162C20.1556 9.40804 20.1568 8.23134 19.3623 7.67614L13.1456 3.33182C12.4576 2.85099 11.5424 2.85099 10.8544 3.33182L4.63094 7.68084C3.83867 8.23448 3.83819 9.40732 4.63 9.96162V9.96162L10.8539 14.3093ZM12 4.80439L17.74 8.82056L12 12.8367L6.26 8.82056L12 4.80439Z" fill="#7B8089"/>
					<path d="M4.08853 15.4813C4.40775 15.2582 4.83228 15.2582 5.15153 15.4812L10.8445 19.4579C11.5325 19.9385 12.4474 19.9385 13.1354 19.4577L18.8342 15.4753C19.156 15.2504 19.5839 15.2506 19.9054 15.4757V15.4757C20.4372 15.8479 20.4368 16.6355 19.9048 17.0073L13.1456 21.7307C12.4576 22.2115 11.5424 22.2115 10.8544 21.7307L4.08853 17.0026C3.55995 16.6332 3.55995 15.8506 4.08853 15.4813V15.4813Z" fill="#7B8089"/>
					</svg>					
					Design Token</span></td>
				<td>7.0.0</td>
				<td><span><svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.8 5.70973C18.41 5.31973 17.78 5.31973 17.39 5.70973L12.5 10.5897L7.60997 5.69973C7.21997 5.30973 6.58997 5.30973 6.19997 5.69973C5.80997 6.08973 5.80997 6.71973 6.19997 7.10973L11.09 11.9997L6.19997 16.8897C5.80997 17.2797 5.80997 17.9097 6.19997 18.2997C6.58997 18.6897 7.21997 18.6897 7.60997 18.2997L12.5 13.4097L17.39 18.2997C17.78 18.6897 18.41 18.6897 18.8 18.2997C19.19 17.9097 19.19 17.2797 18.8 16.8897L13.91 11.9997L18.8 7.10973C19.18 6.72973 19.18 6.08973 18.8 5.70973Z" fill="#D72809"/>
				 </svg>Unvailable</span></td>
			</tr>
			<tr>
				<td><span><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.0897 6.17871L9.96533 18.8842" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M6.87857 7.76367L3.72857 10.501C3.4437 10.751 3.04489 11.4385 3.72857 12.1886L6.87857 15.2992" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					<path d="M17.1771 8.76367L20.3271 11.501C20.612 11.751 21.0108 12.4385 20.3271 13.1886L17.1771 16.2992" stroke="#7B8089" stroke-width="2" stroke-linecap="round"/>
					</svg>
					Web Component</span></td>
				<td>7.0.0</td>
				<td><span><svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 2.0249C13.05 2.0249 13.5 2.5649 13.5 3.2249V16.3744C13.5 17.0344 13.05 17.5744 12.5 17.5744C11.95 17.5744 11.5 17.0344 11.5 16.3744V3.2249C11.5 2.5649 11.95 2.0249 12.5 2.0249Z" fill="#991B04"/>
					<path d="M13.5 21.9756H11.5V19.9756H13.5V21.9756Z" fill="#991B04"/>
				</svg>Deprecated</span></td>
			</tr>
		</tbody>
	</table>
</article>