:host {
	display: inline-flex;

	/* Layout */
	align-items: center;
	flex-flow: column;
	inset: 0 auto auto 0;
	position: fixed;
	z-index: var(--TopLayer);

	/* Appearance */
	opacity: 0;

	/* Transform */
	scale: 90% 90%;
	translate: calc(var(--x, 50dvw) - 50%) calc(var(--y, 50dvh) - 1px - 100%);

	/* Behavior */
	pointer-events: none;

	&:host([open]) {
		/* Appearance */
		opacity: 100%;

		/* Transform */
		scale: 100% 100%;

		/* Animation */
		transition: opacity .15s, scale .075s;
	}

	&::part(content) {
		display: block;

		/* Layout */
		padding-block: .5--step;
		padding-inline: 2--step;

		/* Text */
		font-size: 12--rpx;
		line-height: calc(16 / 12);

		/* Appearance */
		background-color: var(--Grey700Color);
		border-radius: var(--EdgeRadius);
		color: var(--Neutral000Color);
	}

	&::part(marker) {
		/* Layout */
		block-size: 1--step;
		inline-size: 4--step;

		/* Appearance */
		fill: var(--Grey700Color);
	}
}
