:root {
	--layout-inline-gap-start: var(--layout-inline-gap, 0);
	--layout-inline-gap-end: var(--layout-inline-gap, 0);

	@media (width >= 1920px) {
		--header-block-size: 430--rpx;
		--header-nav-gap: 9--step;
		--header-nav-text-size: 24--rpx;
		--header-nav-text-line: calc(28 / 24);
		--header-nav-padding-block: 6--step;
		--header-nav-padding-inline: 3--step;
		--heading-1-text-size: 64--rpx;
		--heading-1-text-line: calc(70 / 64);
		--layout-inline-gap-start: 8--step;
		--icon-search-margin-inline: -112--rpx;
		--icon-search-margin-inline-end: -64--rpx;
	}

	@media (width >= 1728px) {
		--header-block-size: 430--rpx;
		--header-nav-gap: 9--step;
		--header-nav-text-size: 24--rpx;
		--header-nav-text-line: calc(28 / 24);
		--header-nav-padding-block: 6--step;
		--header-nav-padding-inline: 3--step;
		--heading-1-text-size: 64--rpx;
		--heading-1-text-line: calc(70 / 64);
		--layout-inline-gap-start: 8--step;
		--icon-search-margin-inline: -112--rpx;
		--icon-search-margin-inline-end: -64--rpx;
	}

	@media (width >= 1440px) {
		--header-block-size: 380--rpx;
		--header-padding-block-start: 33.5--step;
		--header-nav-block-start: 15--step;
		--header-nav-gap: 4--step;
		--header-nav-text-size: 18--rpx;
		--header-nav-text-line: calc(20 / 18);
		--header-nav-padding-block: 6--step;
		--header-nav-padding-inline: 3--step;
		--heading-1-text-size: 48--rpx;
		--heading-1-text-line: calc(64 / 48);
		--subheading-1-text-size: 20--rpx;
		--subheading-1-text-line: calc(24 / 20);
		--layout-inline-gap: 8--step;
		--icon-search-margin-inline: -32--rpx;
		--icon-search-margin-inline-end: -64--rpx;
		--page-padding-block: 15--step;
		--page-padding-inline: 8--step;
		--page-padding-inline-end: 20--step;
	}

	@media (768px < width < 1440px) {
		--header-block-size: 280--rpx;
		--header-padding-block-start: 15--step;
		--header-nav-block-start: 15--step;
		--header-nav-gap: 2--step;
		--header-nav-text-size: 16--rpx;
		--header-nav-text-line: calc(20 / 16);
		--header-nav-padding-block: 4--step;
		--header-nav-padding-inline: 3--step;
		--heading-1-text-size: 42--rpx;
		--heading-1-text-line: calc(48 / 42);
		--subheading-1-text-size: 18--rpx;
		--subheading-1-text-line: calc(24 / 18);
		--layout-inline-gap: 8--step;
		--icon-search-margin-inline: -32--rpx;
		--icon-search-margin-inline-end: -64--rpx;
		--page-padding-block: 15--step;
		--page-padding-inline: 8--step;
		--page-padding-inline-end: 8--step;
	}

	@media (width <= 768px) {
		--header-block-size: 0;
		--header-padding-block-start: 5--step;
		--header-nav-block-start: 5--step;
		--header-nav-gap: 0;
		--header-nav-text-size: 14--rpx;
		--header-nav-text-line: calc(20 / 14);
		--header-nav-padding-block: 4--step;
		--header-nav-padding-inline: 3--step;
		--heading-1-text-size: 32--rpx;
		--heading-1-text-line: calc(36 / 32);
		--subheading-1-text-size: 16--rpx;
		--subheading-1-text-line: calc(24 / 16);
		--layout-inline-gap: 4--step;
		--icon-search-margin-inline: -16--rpx;
		--icon-search-margin-inline-end: -16--rpx;
		--page-padding-block: 5--step;
		--page-padding-inline: 4--step;
		--page-padding-inline-end: 4--step;
	}

	@media (width <= 375px) {
		--header-block-size: 0;
		--header-padding-block-start: 5--step;
		--header-nav-block-start: 5--step;
		--header-nav-gap: 0;
		--header-nav-text-size: 14--rpx;
		--header-nav-text-line: calc(20 / 14);
		--header-nav-padding-block: 4--step;
		--header-nav-padding-inline: 3--step;
		--heading-1-text-size: 32--rpx;
		--heading-1-text-line: calc(36 / 32);
		--subheading-1-text-size: 16--rpx;
		--subheading-1-text-line: calc(24 / 16);
		--layout-inline-gap: 4--step;
		--icon-search-margin-inline: -16--rpx;
		--page-padding-block: 5--step;
		--page-padding-inline: 4--step;
		--page-padding-inline-end: 4--step;
	}

	@media (width <= 320px) {
		--header-block-size: 0;
		--header-padding-block-start: 5--step;
		--header-nav-block-start: 5--step;
		--header-nav-gap: 0;
		--header-nav-text-size: 14--rpx;
		--header-nav-text-line: calc(20 / 14);
		--header-nav-padding-block: 4--step;
		--header-nav-padding-inline: 3--step;
		--heading-1-text-size: 32--rpx;
		--heading-1-text-line: calc(36 / 32);
		--subheading-1-text-size: 16--rpx;
		--subheading-1-text-line: calc(24 / 16);
		--layout-inline-gap: 4--step;
		--icon-search-margin-inline: -16--rpx;
		--page-padding-block: 5--step;
		--page-padding-inline: 4--step;
		--page-padding-inline-end: 4--step;
	}
}

.page {
	/* Layout */
	padding-block-end: 25--step;

	& li,
	& p {
		/* Layout */
		max-width: 160--step;
	}

	& h2 {
		/* Layout */
		margin-block-start: 20--step;

		/* Text */
		font-size: 36--rpx;
		line-height: calc(40 / 36);

		@media (width < 800px) {
			/* Text */
			font-size: 24--rpx;
		}
	}

	& p {
		/* Layout */
		margin-block-start: 9--step;
	}

	& figure {
		/* Layout */
		margin-block-start: 16--step;

		& > img {
			display: block;

			/* Layout */
			block-size: auto;
			max-inline-size: 100%;
		}
	}

	& figcaption {
		/* Layout */
		margin-block-start: 4--step;
	}
}

.page-toolbar {
	/* Layout */
	inset-block-start: 0;
	position: sticky;
}

.page-content {
	display: flex;

	/* Layout */
	padding-block: var(--page-padding-block);
	padding-inline: var(--page-padding-inline);
	padding-inline-end: var(--page-padding-inline-end);
}

.page-content-main-col {
	/* Layout */
	flex-grow: 1;

	/* Layout */
	max-width: 254--step;

	& :is(li, p) a:not([class]) {
		&:focus-visible {
			/* Appearance */
			background-color: var(--InverseColor);
			color: var(--Orange400Color);
		}

		&:not(:focus-visible) {
			/* Appearance */
			color: var(--DarkBlue500Color);

			&:hover {
				/* Text */
				text-decoration-style: double;
				text-decoration-thickness: 1.5px;
			}
		}
	}
}

.page-content-side-col {
	/* Layout */
	flex-shrink: 0;

	@media (width < 1330px) {
		display: none;

		/* Layout */
		flex-basis: 0;
	}

	@media (1330px <= width < 1440px) {
		/* Layout */
		flex-basis: 70--step;
	}

	@media (width >= 1440px) {
		/* Layout */
		flex-basis: 92--step;
	}

	& .-content {
		/* Layout */
		@media (width >= 1200px) {
			/* Layout */
			inset-block-start: 92--rpx;
			inset-inline-end: 0;
			position: sticky;

			/* Layout */
			/* inset-block-start: 0; */
			//margin-block-start: -25--step;

			/* Layout */
			/* margin-inline-end: -8--step;
			position: sticky; */
		}

		@media (width < 1200px) {
			/* Layout */
			inset-block-start: 92--rpx;
			inset-inline-end: 0;
			position: sticky;

			/* Appearance */
			box-shadow: -2px 2px 4px rgba(0, 0, 0, .25);
		}
	}

	& hr {
		/* Layout */
		height: 18--step;

		/* Appearance */
		background: linear-gradient(0deg, transparent calc(50% - .5px), #7b8089 calc(50% - .5px), #7b8089 calc(50% + .5px), transparent calc(50% + .5px)) 50% 0;
	}
}
