---
import ComponentDocsLayout from 'project:layouts/component-docs/component-docs-layout.astro';
import TokenSpecTable from 'project:components/token-spec-table/token-spec-table.astro';
import Heading from 'project:components/astro-headings/heading.astro';
const content = {title: "Button", description: `Action Buttons allow users to trigger actions by clicking, tapping, or pressing a corresponding key on a keyboard, such as the “Enter” key.`}
---
<ComponentDocsLayout content={content}>

<Heading type="h2" title="Anatomy" />

<div class="spec-container -anatomy">
    <figure><img loading="lazy" width="260px" src="/img/components/button/button-anatomy.png" alt="Anatomy Image"/></figure>
    <ol>
        <li>Container</li>
        <li>Left icon (optional) (optional)</li>
        <li>Label</li>
    </ol>
</div>

<Heading type="h2" title="Default Values" />

<TokenSpecTable tokens={[
    {
        name: 'Container',
        tokens: [
            'button-padding-x-medium',
            'button-padding-y-medium',
            'button-border-width',
            'button-radius',
            'button-color-border-primary-default',
            'button-color-background-primary-default',
        ]
    },
    {
        name: "Label",
        tokens: [
            'font-control-body-1-font-family',
            'font-control-body-1-font-size',
            'font-control-body-1-font-weight',
            'font-control-body-1-line-height',
            'font-control-body-1-letter-spacing',
            'button-color-text-primary',
        ]
    },
    {
        name: "Left icon (optional)",
        tokens: [
            'button-icon-dimension',
            'button-icon-margin-right',
            'button-icon-color-fill-primary'
        ]
    }
]}/>


<Heading type="h2" title="Kinds" />

<Heading type="h3" title="Primary" />

<div class="spec-container -examples">
    <figure><img loading="lazy" width="139" src="/img/components/button/button-primary-medium-default.webp" alt="Default Primary Button"/></figure>
    <figure><img loading="lazy" width="139" src="/img/components/button/button-primary-medium-hover.webp" alt="Primary Button with Hover State"/></figure>
    <figure><img loading="lazy" width="139" src="/img/components/button/button-primary-medium-disabled.webp" alt="Disabled Primary Button"/></figure>
</div>

<Heading type="h4" title="Default" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-color-background-primary-default',
            'button-color-border-primary-default'
        ]
    },
    {
        name: "Label",
        tokens: ['button-color-text-primary']
    },
    {
        name: "Left icon (optional)",
        tokens:['button-icon-color-fill-primary']
    }
]}>

</TokenSpecTable>

<Heading type="h4" id="default-hover" title="Hover" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-color-background-primary-hover',
            'button-color-border-primary-hover'
        ]
    },
]}>

</TokenSpecTable>

<Heading type="h4" id="default-disabled" title="Disabled" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'opacity-disabled',
        ]
    },
]}>

</TokenSpecTable>

<Heading type="h3" title="Secondary" />

<div class="spec-container -examples">
    <figure><img loading="lazy" width="163" src="/img/components/button/button-secondary-medium-default.webp" alt="Default Secondary Button"/></figure>
    <figure><img loading="lazy" width="163" src="/img/components/button/button-secondary-medium-hover.webp" alt="Secondary Button with Hover State"/></figure>
    <figure><img loading="lazy" width="163" src="/img/components/button/button-secondary-medium-disabled.webp" alt="Disabled Secondary Button"/></figure>
</div>

<Heading type="h4" id="secondary-default" title="Default" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-color-background-secondary',
            'button-color-border-secondary-default'
        ]
    },
    {
        name: "Label",
        tokens: ['button-color-text-secondary-default']
    },
    {
        name: "Left icon (optional)",
        tokens: ['button-icon-color-fill-secondary-default']
    }
]}/>

<Heading type="h4" id="secondary-hover" title="Hover" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-color-background-secondary',
            'button-color-border-secondary-hover'
        ]
    },
    {
        name: "Label",
        tokens: ['button-color-text-secondary-hover']
    },
    {
        name: "Left icon (optional)",
        tokens: ['button-icon-color-fill-secondary-hover']
    }
]}/>

<Heading type="h4"  id="secondary-disabled" title="Disabled" />


<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'opacity-disabled',
        ]
    },
]}/>

<Heading type="h3" title="Borderless" />

<div class="spec-container -examples">
    <figure><img loading="lazy" width="161" src="/img/components/button/button-borderless-default.webp" alt="Default Borderless Button"/></figure>
    <figure><img loading="lazy" width="161" src="/img/components/button/button-borderless-hover.webp" alt="Borderless Button with Hover State"/></figure>
    <figure><img loading="lazy" width="161" src="/img/components/button/button-borderless-disabled.webp" alt="Disabled Borderless Button"/></figure>
</div>

<Heading type="h4" id="borderless-default" title="Default" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-color-background-borderless',
            'button-color-border-borderless'
        ]
    },
    {
        name: "Label",
        tokens: [
            'button-color-text-borderless-default'
        ]
    },
    {
        name: "Left icon (optional)",
        tokens: ['button-icon-color-fill-borderless-default']
    }
]}/>

<Heading type="h4"  id="borderless-hover" title="Hover" />


<TokenSpecTable tokens={[
    {
        name: "Label",
        tokens: [
            'button-color-text-borderless-hover'
        ]
    },
    {
        name: "Left icon (optional)",
        tokens: ['button-icon-color-fill-borderless-hover']
    }
]}/>

<Heading type="h4"  id="borderless-disabled" title="Disabled" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'opacity-disabled'
        ]
    }
]}/>

<Heading type="h2" title="Sizes" />


<div class="spec-container -examples">
    <figure><img loading="lazy" width="140" src="/img/components/button/button-primary-small-default.webp" alt="Small Primary Button"/></figure>
    <figure><img loading="lazy" width="140" src="/img/components/button/button-primary-medium-default.webp" alt="Medium Primary Button"/></figure>
    <figure><img loading="lazy" width="140" src="/img/components/button/button-primary-large-default.webp" alt="Large Primary Button"/></figure>
</div>

<Heading type="h3" title="Small" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-padding-x-small',
            'button-padding-y-small'
        ]
    }
]}/>

<Heading type="h3" title="Medium" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-padding-x-medium',
            'button-padding-y-medium'
        ]
    }
]}/>

<Heading type="h3" title="Large" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-padding-x-large',
            'button-padding-y-large'
        ]
    }
]}/>


<Heading type="h2" title="Icon Only" />


<div class="spec-container -examples">
    <figure><img loading="lazy" width="42" src="/img/components/button/button-primary-small-default-icon-only.webp" alt="Small Icon Only Primary Button"/></figure>
    <figure><img loading="lazy" width="60" src="/img/components/button/button-primary-medium-default-icon-only.webp" alt="Medium Icon Only Primary Button"/></figure>
    <figure><img loading="lazy" width="44" src="/img/components/button/button-primary-large-default-icon-only.webp" alt="Large Icon Only Primary Button"/></figure>
</div>

<Heading type="h3"  id="icon-small" title="Small" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-padding-x-small-icon-only',
            'button-padding-y-small-icon-only'
        ]
    }
]}/>

<Heading type="h3" id="icon-medium" title="Medium" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-padding-x-medium-icon-only',
            'button-padding-y-medium-icon-only'
        ]
    }
]}/>

<Heading type="h3" id="icon-large" title="Large" />

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'button-padding-x-large-icon-only',
            'button-padding-y-large-icon-only'
        ]
    }
]}/>

<Heading type="h2" title="Focus" />

<div class="spec-container -examples">
    <figure><img loading="lazy" width="139" src="/img/components/button/button-primary-medium-focus.webp" alt="Primary Button with Focus State"/></figure>
</div>

<TokenSpecTable tokens={[
    {
        name: "Container",
        tokens: [
            'spacing-focus-default',
            'color-border-focus-default'
        ]
    }
]}/>



</ComponentDocsLayout>