---
import { Field, Root, Sandbox } from 'project:components/component-playground/ComponentPlayground'
---
<Root>
	<Sandbox is:tag="rux-status" is:constructor="RuxStatus">
		<rux-status status="critical" />
	</Sandbox>
	<Fragment slot="variants">
		<Field type="menu" name="example:variant" implicitlabel>
			<option>Default</option>
		</Field>
	</Fragment>
	<Fragment slot="controls">
		<Field type="menu" name="status">
			<option>caution</option>
			<option selected>critical</option>
			<option>normal</option>
			<option>off</option>
			<option>serious</option>
			<option>standby</option>
		</Field>
	</Fragment>
</Root>