---
import './breaking-change.css'

export interface Props {
	title: string
	impact: 'Low' | 'Medium' | 'High'
}

const badgeVariant = {
	Low: 'neutral',
	Medium: 'warning',
	High: 'danger',
}

const attrs = Astro.props
---
<article class="breaking-change">
	<header>
		<h3>{
			attrs.title
		}</h3>

		<sl-badge class="breaking-change__impact" variant={badgeVariant[attrs.impact]}>{
			attrs.impact
		} Impact</sl-badge>
	</header>

	<div class="breaking-change__content">
		<slot />
	</div>
</article>