---
import ComponentDocsLayout from 'project:layouts/component-docs/component-docs-layout.astro';
import TokenSpecTable from 'project:components/token-spec-table/token-spec-table.astro';
import Heading from 'project:components/astro-headings/heading.astro';
const content={ title: 'Tabs', description: "Tabs in Astro applications are used to divide major areas of content and to indicate work process." }
---

<ComponentDocsLayout content={content}>
	<Heading type="h2" title="Anatomy" />

	<div class="spec-container -anatomy">
		<figure>
			<img
				loading="lazy"
				width="800px"
				src="/img/components/tab/tab-anatomy.webp"
				alt="Anatomy Image"
			/>
		</figure>
		<ol>
			<li>Label</li>
			<li>Active Indicator</li>
		</ol>

	</div>

	<Heading type="h2" title="Default" />

	<TokenSpecTable
		tokens={[
			{
				name: 'Tab',
				tokens: [
					'tab-padding-x-large',
					'tab-padding-top-large',
					'tab-padding-bottom-large',
					'tab-border-width-bottom',


				],
			},
			{
				name: 'Label',
				tokens: [
					'tab-color-text-default',
					'font-heading-2-font-size',
					'font-heading-2-font-family',
					'font-heading-2-font-weight',
					'font-heading-2-line-height',
					'font-heading-2-letter-spacing'
				],
			},
			{
				name: "Body",
				tokens: [
					'card-body-padding'
				]
			}
		]}
	/>

	<Heading type="h2" title="Sizes" />


	<div class="spec-container -examples">
		<figure><img loading="lazy" width="102" src="/img/components/tab/tab-small-size.webp" alt="Small Tab"/></figure>
		<figure><img loading="lazy" width="102" src="/img/components/tab/tab-large-size.webp" alt="Large Tab"/></figure>
	</div>

	<Heading type="h3" title="Small" />

	<TokenSpecTable
		tokens={[
			{
				name: 'Tab',
				tokens: [
					'tab-padding-x-small',
					'tab-padding-top-small',
					'tab-padding-bottom-small',
				],
			}
		]}
	/>

	<Heading type="h3" title="Large" />

	<TokenSpecTable
		tokens={[
			{
				name: 'Tab',
				tokens: [
					'tab-padding-x-large',
					'tab-padding-top-large',
					'tab-padding-bottom-large',
				],
			}
		]}
	/>

	<Heading type="h2" title="States" />

	<div class="spec-container -examples">
		<figure><img loading="lazy" width="149" src="/img/components/tab/tab-default-state.webp" alt="Default Tab"/></figure>
		<figure><img loading="lazy" width="123" src="/img/components/tab/tab-selected-state.webp" alt="Selected Tab"/></figure>
		<figure><img loading="lazy" width="123" src="/img/components/tab/tab-disabled-state.webp" alt="Disabled Tab"/></figure>
		<figure><img loading="lazy" width="178" src="/img/components/tab/tab-unselected-and-hovered-state.webp" alt="Hovered Tab"/></figure>
		<figure><img loading="lazy" width="129" src="/img/components/tab/tab-focus-state.webp" alt="Focused Tab"/></figure>
	</div>

	<Heading type="h3" id="states-default" title="Default" />

	<TokenSpecTable
	tokens={[
		{
			name: 'Tab',
			tokens: [
				'tab-color-text-default',
			],
		}
	]}
/>

	<Heading type="h3" title="Hover" />

	<TokenSpecTable
	tokens={[
		{
			name: 'Tab',
			tokens: [
				'tab-color-text-hover',
			],
		}
	]}
/>

	<Heading type="h3" title="Selected" />

	<TokenSpecTable
	tokens={[
		{
			name: 'Header',
			tokens: [
				'tab-color-text-selected',
				'tab-color-border-bottom-selected'
			],
		}
	]}
/>

	<Heading type="h3" title="Disabled" />


	<TokenSpecTable
		tokens={[
			{
				name: 'Tab',
				tokens: [
					'opacity-disabled',
				],
			}
		]}
	/>

	<Heading type="h3" title="Focus" />

	<TokenSpecTable tokens={[
		{
			name: "Tab",
			tokens: [
				'spacing-focus-default',
				'color-border-focus-default'
			]
		}
	]}/>

</ComponentDocsLayout>
