---
import { Document, Props } from '@astropub/doc'
import globalData from 'project:data/global.json'
import SiteNavigation from 'project:components/site-navigation/site-navigation.astro'
import SiteFooter from 'project:components/site-footer/site-footer.astro'
import './default-layout.css'

export type { Props } from '@astropub/doc'

// console.log(Astro.site)

const props = {
	...globalData.siteMeta,
	url: Astro.url.href,
	...Astro.props,
} as Props
---
<Document body-class="p-grid" {...props}>
	<slot slot="head" name="head" />
	<meta slot="head" name="theme-color" content="#101923" />
	<slot name="top" />
	<div class="-side">
		<SiteNavigation />
	</div>
	<div class="-main">
		<slot />
	</div>
	<div class="-foot">
		<SiteFooter />
	</div>
</Document>
<script>
import './default-layout.client'
</script>