---
import type { Props } from '@astropub/doc'

import Document from '@astropub/doc'
import './default-layout.css'

import globalData from 'project:data/global.json'
import SiteNavigation from 'project:components/site-navigation/site-navigation.astro'
import SiteFooter from 'project:components/site-footer/site-footer.astro'

export type { Props }

const attrs = {
	url: Astro.url.href,
	...globalData.siteMeta,
	...Astro.props,
}
---
<Document body-class="p-grid" {...attrs}>
	<slot slot="head" name="head" />
	<meta slot="head" name="theme-color" content="#101923" />
	<slot name="top" />
	<div class="x-menu">
		<SiteNavigation />
	</div>
	<div class="x-main">
		<slot />
	</div>
	<div class="x-foot">
		<SiteFooter />
	</div>
</Document>
<script>
import './default-layout.client'
</script>