@media (width >= 800px) {
	.p-grid {
		display: grid;

		/* Layout */
		grid-template-columns: 79--step 1fr;
		grid-template-rows: 1fr min-content;
	}

	.p-grid-side {
		/* Layout */
		grid-column: 1 / 2;
		grid-row: 1;

		/* Appearance */
		background-color: var(--SurfaceColor);
		color: var(--PrimaryColor);
	}

	.p-grid-main {
		/* Layout */
		grid-column: 2 / 3;
		grid-row: 1;
		overflow: hidden;
	}

	.p-grid-foot {
		/* Layout */
		grid-column: 1 / 3;
		grid-row: 2;
	}
}
