---
import type { Props } from '@astropub/doc'

import Document from '@astropub/doc'
import './default-layout.css'

import SourceCodeAccess from 'project:components/source-code-access/source-code-access.astro'
import globalData from 'project:data/global.json'
import SiteNavigation from 'project:components/site-navigation/site-navigation.astro'
import SiteBanner from 'project:components/site-banner/site-banner.astro'
import SiteFooter from 'project:components/site-footer/site-footer.astro'
import CustomSignupForm from 'project:components/auth/CustomSignupForm.astro'

export type { Props }

const description = Astro.props.description ? Astro.props.description : `The Astro Space UX Design System enables developers & designers to build rich space app experiences with established interaction patterns & best practices.`

const attrs = {
	url: Astro.url.href,
	...globalData.siteMeta,
	description,
	...Astro.props,
}

---
<Document body-class="p-grid has-site-banner" {...attrs}>
	<slot slot="head" name="head" />
	<meta slot="head" name="theme-color" content="#101923" />
	<script slot="head" src="https://js.stripe.com/v3/"></script>

	<!-- Auth0 Configuration -->
	<meta slot="head" name="auth0-domain" content={import.meta.env.PUBLIC_AUTH0_DOMAIN} />
	<meta slot="head" name="auth0-client-id" content={import.meta.env.PUBLIC_AUTH0_CLIENT_ID} />
	<slot name="top" />
	<link slot="head" rel="sitemap" href="/sitemap-index.xml">
	<SiteBanner />
	<div class="x-menu">
		<SiteNavigation />
	</div>
	<div class="x-main">
		<slot />
	</div>
	<div class="x-foot">
		<SiteFooter />
	</div>
	<SourceCodeAccess />
	<CustomSignupForm />
</Document>
<script>
import './default-layout.client'
import 'project:components/color-sample/color-sample'
</script>