---
import DefaultLayout from './default-layout.astro'
import './default-layout-with-grid.css'

export type { Props } from '@astropub/doc'
---
<DefaultLayout {...Astro.props}>
	<slot slot="head" name="head" />
	<div class="p-grid">
		<div class="p-grid-side">
			<slot name="side" />
		</div>
		<div class="p-grid-main">
			<slot />
		</div>
		<div class="p-grid-foot">
			<slot name="foot" />
		</div>
	</div>
</DefaultLayout>