---
import DefaultLayout from './default-layout.astro'
import SiteNavigation from 'project:components/site-navigation/site-navigation.astro'
import SiteFooter from 'project:components/site-footer/site-footer.astro'
import './default-layout-with-grid.css'

export type { Props } from '@astropub/doc'
---
<DefaultLayout body-class="p-grid" {...Astro.props}>
	<slot slot="head" name="head" />
	<slot name="top" />
	<div class="-side">
		<SiteNavigation />
	</div>
	<div class="-main">
		<slot />
	</div>
	<div class="-foot">
		<SiteFooter />
	</div>
</DefaultLayout>