---
import Layout from 'project:layouts/docs/docs-layout.astro'
import GlossarySearch from 'project:components/glossary-search/glossary-search'
import GlossarySearchForm from 'project:components/glossary-search/parts/glossary-search-form.astro'
import GlossaryCategories from 'project:components/glossary-search/parts/glossary-search-categories.astro'

const title = 'Glossary'
const description = 'The Glossary is your go-to resource for understanding terms and acronyms across industries, from government and private sectors to design and space.'
---
<Layout content={{ title, description }} file={import.meta.url}>
	<Fragment slot="toolbar">
		<section class="p-glossary-search"><GlossaryCategories /><GlossarySearchForm label="Search glossary" /></section>
	</Fragment>

	<GlossarySearch />

</Layout>