---
import { Field, Root, Sandbox } from 'project:components/component-playground/ComponentPlayground'
---
<Root>
	<Sandbox is:tag="rux-textarea" is:constructor="RuxTextarea">
		<rux-textarea label="Textarea label"></rux-textarea>
	</Sandbox>
	<Fragment slot="variants">
		<Field type="menu" name="example:variant" implicitlabel>
			<option>Default</option>
		</Field>
	</Fragment>
	<Fragment slot="controls">
		<Field type="text" name="label" value="Textarea label" />
	</Fragment>
</Root>